body {
    text-rendering: geometricPrecision;
}

.insta-img {
    height: 130px;
}

.insta-img .img-fluid {
    width: 100%;
    object-fit: contain;
    height: 100%;
}

.who-one {
    width: 100%;
}

.brand-vendors {
    height: 450px
}

.brand-vendors img {
    height: 100%;
}

.who-para {
    margin-top: 50px
}

.who-one img {
    width: 100%;
}

.who-content {
    /*padding: 60px 0px;*/
}

.who-content p {
    font-size: 16px;
}

.img-fluid {
    width: 100%;
}

.recent-list .list-group-item {
    padding: 5px 5px;
}

.btn-read {
    /*border: 2px solid black;*/
    /*color: black;*/
    /*background-color: white;*/
    /*border-radius: 0;*/
    /*font-size: 13px;*/
    /*font-weight: bold;*/
}

.insta-edit .col-md-6 {
    margin-bottom: 15px;
}

.one-full {
    margin: 60px 0px;
}

.fashion-advert {
    width: 100%;
    height: 500px;
}

.mini-editorials p {
    margin-bottom: 5px;
}

.about_us-image {
    width: 100%;
    height: 400px;
}

.about_us-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.small-side {
    width: 100%;
    max-height: 200px;
    overflow: hidden;
}

.small-side img {
    width: 100%;
    max-height: 100%;
}

.fashion-advert img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: 0px 15%; */

}

.blog-full-image img {
    width: 100%;

}

.btn-blog {
    background-color: black;
    color: white;
    font-size: 13px;
    padding: 5px;
    line-height: 0.9;
}

.blog-text {
    color: #cd9933;
}

.discountpercent p span {
    padding: 3px;
    margin-left: 0;
    border: 2px solid #cd9933;
    font-size: 11px;
    color: #cd9933;
    font-weight: bold;
}

.editor-img img {
    width: 100%;
}

.blog-content {
    height: 70px;
}

.blog-content p {
    height: 100%;
    overflow: hidden;
}

.mtb-15 {
    margin-bottom: 15px;
}

.fashion-blog {
    max-height: 220px;
    overflow: hidden;
    width: 100%;
}

.fashion-blog img {
    height: 100%;
    width: 100%;
}

.editor-img {
    margin-bottom: 10px;
}

.editorial-blogimg {
    max-height: 350px;
    overflow: hidden;
}

.editorial-blogimg-small {
    max-height: 250px;
    overflow: hidden;
}

.editorial-blogimg img {
    width: 100%;
    max-height: 100%;
}

.editorial-blogimg-small img {
    width: 100%;
    max-height: 100%;
}

.recent-blog {
    max-height: 250px;
    overflow: hidden;
}

.recent-blog img {
    width: 100%;
    max-height: 100%;
}

.edit-heading {
    overflow: hidden;
}

.edit-heading:after {
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid #cd9933;
}

.sizeChart .man, .women {
    padding: 0px 120px;
}

.sizeChart .man thead, .women thead {
    background-color: #cd9933;
    color: white;
}

.magnify {
    width: 100% !important;
    height: 100% !important;
}

.textRight {
    text-align: right;
}

.fa-trash {
    color: red !important;
}

.filterRange {
    margin: 5px;
}

.filterRange div {
    margin-bottom: 10px;
}

.brand-bgcolor {
    background: #cd9933 !important;
}

.nameProd h3 {
    text-transform: capitalize;
}

.footerMobile p {
    font-size: 11px;
    text-align: center;
    color: #cd9933;
    font-weight: bold;
    padding-top: 15px;
}

.modal-order {
    max-width: 900px !important;
}

.shipping .card-header p a {
    color: #cd9933;
    font-weight: bold;
}

.mobile-prod-des {
    text-align: justify;
}

.measurementUnit {
    margin-top: 20px;
    margin-bottom: 20px;
}

#userOrderMobile {
    z-index: 10400;
}

.modalOrderButton {
    text-align: center;
}

.modalOrderButton button {
    padding: 2px 10px 2px 10px;
    font-size: 11px;
    border-radius: 8px;
    width: 90px;
}

.brand-color {
    color: #cd9933;
}

.brand-bd-color {
    border-color: #cd9933 !important;
}

.edit-cart3 img {
    width: 20px;
    margin-top: -17px;
}

.productCarousel .reduce {
    height: 100%;
    margin-bottom: 20px;
}

.reduce:hover {
    /*margin: 5px;
    padding-bottom: 10px;*/
    -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.144);
    -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.144);
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.144);
}

/*.edit-search{opacity: 0;
            transition: .5s ease;}

.search:focus .edit-search{
    opacity: 1;
}*/

#demo3 {
    right: 100px;
}


.font-social {
    display: inline-flex;
    margin-top: 10px;
}

.font-social ul li i {
    color: #cd9933;
}

.measureOwner {
    font-weight: bold;
    font-size: 20px;
}

.newMeasurement {
    margin-top: 30px;
}

.newMeasurement .form-check {
    margin-left: 20px;
}

.font-social li {
    padding: 7px;
    background-color: white;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin: 2px;
    text-align: center;
    color: black;
}

.form-number input[type="number"] {
    width: 85px;
}

.material-container {
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.font-social li:hover {
    padding: 7px;
    color: white;
    background-color: #cd9933;
}

.font-social li a {
    color: black;
}

.font-social li a:hover {
    color: white;
}

.head-account {
    margin-bottom: 30px;
    font-weight: 300;
}

.navbar-light .navbar-brand img {
    width: 140px;
}

.link-home {
    margin-top: -4px;
}

.just {
    justify-content: flex-end;
}

.learn23 img {
    width: 150px;
    margin-bottom: 20px
}

.move-footer {
    margin-top: 20px;
}

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: transparent;
    border-radius: 0.25rem;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    font-weight: bold;
    font-size: 19px;
}

.navbar-nav .nav-item:hover {
    background-color: white;
    color: #CD9933;
}

.learn2 {
    display: inline;
    list-style-type: none;
}

.learn2 li {
    display: inline;
    margin-left: 40px;
    font-size: 14px;
}

.close {
    float: left;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.learn4 h5 {
    color: #CD9933;
    font-weight: bold;
    width: 57%;
    margin-top: -10px;
}

/*@keyframes thrive{
    0%{

    }
    100%{

    }
}

.learn4{color: black;
        width: 500px;
        position: relative;
        animation-name: anime;
        animation-duration: 2s;
        animation-direction: reverse;
        -webkit-animation-name: anime;
        -webkit-animation-duration: 2s;
        -webkit-animation-direction: reverse;
    }

@keyframes anime{
    0%{
        left: 0;
        color: inherit;
    }
    
    100%{left: 200px;
        color: rgba(221, 221, 221, 0.05);

    }
}
@-webkit-keyframes anime {
    0%{
        left: 0;
        color: inherit;
    }
    
    100%{left: 200px;
        color: transparent;

    }
}*/

/*.animated {*/
/*animation-duration: 3s;*/
/*animation-delay: 2s;*/
/*-webkit-animation-duration: 3s;*/
/*-webkit-animation-delay: 2s;*/
/*}*/

.learn4 h1 {
    font-size: 77px;
    font-weight: bold;
}

.learn6 {
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    margin-left: -20px;
    list-style-type: none
}

.learn6 li::before {
    display: inline-block;
    content: '';
    -webkit-border-radius: 0.375rem;
    border-radius: 0.375rem;
    height: 0.75rem;
    width: 0.75rem;
    margin-right: 0.5rem;
    background-color: #CD9933;
}

.learn1 {
    float: right;
    margin-left: auto;
    margin-top: -20px;
}

.learn5 {
    position: relative;
    top: 8rem;
    bottom: 90px;
    left: 1rem;
}

.textCenter {
    text-align: center;
}

.sidenav {
    display: inline;
}

.learn4 button.btn {
    background-color: #CD9933;
    border: 1px solid #CD9933;
    color: white;
    padding: 5px 20px 5px 20px;
    border-radius: 12px;
    font-weight: bold;
    width: 200px;
}

.learn4 button.btn:hover {
    background-color: white;
    border: 1px solid #CD9933;
    color: #CD9933;
}

.indexButton a.btn-events {
    background-color: white !important;
    border-color: #cd9933 !important;
    color: #cd9933 !important;
}

.indexButton {
    display: inline-flex;
}

.indexButton a {
    margin-right: 20px;
}

.learn4 a.btn {
    background-color: #CD9933;
    border: 1px solid #CD9933;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    width: 200px;
}

.learn4 a.btn:hover {
    background-color: white;
    border: 1px solid #CD9933;
    color: #CD9933;
}

footer.learn36 {
    background-color: transparent;
    z-index: 2;
    margin-top: -3rem;
    color: black;
    font-weight: 500;
}

.learn2 li a {
    color: black;
}

.learn1 li {
    margin-left: 60px;
}

.learn6 li {
    font-size: 16px;
}

.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 0.82);
    border-color: rgba(255, 255, 255, 0.73);
    background-color: rgba(255, 255, 255, 0.73);
}

@media (max-width: 660px) {
    .learn5 {
        width: 100%;
        margin: 0 auto;
        position: relative;
        left: 0;
        top: 7rem;
    }

    .learn4 h1 {
        font-size: 30px;
    }

    .learn4 h5 {
        font-size: 12px;
    }

    .learn6 li {
        font-size: 13px;
    }

    .learn6 {
        /* width: 260px; */
        position: relative;
        left: 0;
    }

    /*
        header {
            height: 598px;
            background-size: cover;
        }*/
    .learn2 li {
        font-size: 11px;
        margin-left: 30px;
    }

    .learn2 {
        margin-left: 0;
        padding-left: 0;
    }

    .learn4 button.btn {
        width: auto;
    }
}

.learn7 li.nav-item {
    width: 50%;
    text-align: center;
}

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px;
}

.learn11 {
    display: inline;
    list-style-type: none;
}

.learn11 li {
    display: inline;
    margin: 7px;
}

.learn11 li a {
    color: black;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
}

.learn11 li a:hover {
    color: #CD9933;
    text-decoration: none;
    padding: 17px;
}

.learn11 li a:active {
    background-color: #CD9933;
    color: white;
}

.learn11 li a.active {
    background-color: #CD9933;
    color: white;
    padding: 17px;
}

.learn12 {
    text-align: right;
    height: 39px;
}

.learn13 {
    background-color: transparent;
}

.learn14 {
    color: #CD9933 !important;
}

.learn15 {
    /* color: #CD9933 !important; */
    margin-left: auto;
    margin-top: -6px;
}

.navbar.learn15 .nav-link {
    color: black;
    margin-left: 35px;
}

.learn15 .nav-item:hover {
    background-color: transparent;
}

.navbar.learn15 .nav-link:hover {
    color: #CD9933;
}

sup.badge.brand-bgcolor.cart-sup:hover {
    color: white !important;
}

.cart-sup {
    position: absolute;
    left: 16px;
    top: -1px;
}

.navbar.learn15 .nav-link.active {
    color: #CD9933 !important;
}

.learn16 {
    border-top: 1px solid #c7bfbf;
}

.noMargin {
    margin-bottom: 0px !important;
}

.learn17 {
    width: 100%;
    height: 342px;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-bottom: 40px;
}

.learn19 {
    margin-top: 50px;
}

.learn17 img {
    width: 100%;
    height: 100%;
}

.learn19 .carousel {
    margin-top: 30px;
}

.learn18 {
    margin-bottom: 50px;
}

.learn19 hr {
    width: 100px;
    border: 2px solid #CD9933;
    margin-top: -1px;
    margin-left: 0;
    margin-bottom: 0px !important;
    text-align: left;
}

.beneathLine {
    margin-bottom: 60px;
}

.carousel-item img .only {
    width: 300px;
    height: -webkit-fill-available;
    position: absolute;
}

.carousel-item {
    width: 100%;
}

.learn21 {
    text-align: right;
    margin-top: 16px;
}

.learn21 p a {
    color: #CD9933;
    font-weight: bold;
}

.learn21 p a:hover {
    text-decoration: underline;
}

.learn22 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.customize h2 {
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 60px;
}

.customize h3 {
    font-weight: bold;
    font-size: 20px;
    color: #cd9933;
}

.registerImg {
    margin: 0 auto;
    width: 200px;
}

.registerImg img {
    width: 100%;
}

.resetButton {
    text-align: right;
    margin-top: 20px;
}

.tagArrow {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1020;
    margin-top: 77px;
    margin-right: -34px;
    color: #cd9933;
}

.measurement-pad {
    margin: 10px 70px;
}

.measurement-big {
    margin-top: 30px;
}

.productCarousel span.fa {
    color: grey;
}

.customMaterials {
    margin-top: 70px;
}

.measurement img {
    width: 100%;
}

.carouselTag .item > div:hover .tagOverlay {
    opacity: 1;
}

.carouselTag .owl-stage-outer {
    height: 200px;
}

.carouselTag .owl-nav {
    font-size: 20px;
    /* margin: 20px; */
    font-weight: bold;
    color: #cd9933;
}

.carouselTag .item > div {
    height: 200px;
    position: relative;
}

.carouselTag .item > div img {
    display: block;
    width: 100%;
    height: 100%;
}

.measurement-btn {
    margin-bottom: 40px;
}

.measurement-paragraph {
    font-size: 15px;
}

.align-right {
    text-align: right;
}

.customize h3 a {
    color: #cd9933;
}

.addMeasurement p {
    font-weight: bold;
    font-size: 18px;
}

.addMeasurement h3 {
    margin-top: 20px;
    margin-bottom: 30px;
}

.addMeasurement {
    margin-bottom: 40px
}

.customize h3 a:hover {
    text-decoration: none;
}

.measurement-input .row {
    margin-bottom: 15px;
}

.measurement-input .row p {
    font-weight: bold;
}

.measurement-form {
    margin-bottom: 20px;
}

.measurement-input {
    margin-top: 40px;
    margin-bottom: 40px;
}

.measurement-pad .nav-pills .nav-link.active {
    background-color: #cd9933 !important;
    color: white;
}

.measurement-pad .nav-pills .nav-link {
    border-radius: 0px;
    color: black;
    background-color: white;
    font-weight: bold;
}

/* .pickUp {
    margin-top: 60px;
} */

.customize h4 {
    font-weight: bold;
    font-size: 15px;
}

.learn22 p a {
    color: #CD9933;
    font-weight: bold;
    font-size: 20px;
}

.learn22 p a:hover {
    text-decoration: none;
}

.style-guide {
    background-color: rgba(175, 172, 172, 0.61);
}

.style-guide p {
    font-weight: bold;
    padding: 7px;
    margin-bottom: 0px;
}

#navbarNavDropdown2 {
    justify-content: flex-end;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 95%;
    width: 94%;
    margin: 8px;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.28);
}

.hovercart {
    width: 50px;
    margin: auto;
    padding: 7px
}

.line {
    border-right: 1px solid rgba(95, 92, 92, 0.39);
}

.productHover {
    margin: 2px;
    margin-top: 11rem;
}

.fix-height:hover .overlay {
    opacity: 1 !important;
}

.productHover .col-md-6 {
    background-color: rgba(128, 128, 128, 0.301)
}

.learn23 {
    background-color: #2d2b2b;
    height: auto;
}

.carousel-item .col-lg-4 {
    max-width: 30% !important;
    margin: auto;
    height: 200px;
}

.learn24 {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #756464 no-repeat center center;
    background-size: 100% 100%;
    padding: 15px;
}

.newMeasurement .row {
    margin-bottom: 10px;
}

.learn25 {
    margin-bottom: 10px;
}

.learn29 input[type=text] {
    border-radius: 20px;
    border-right: 1px transparent;
}

.learn29a input[type=text] {
    border-radius: 20px;
    margin-top: 6px;
}

.learn29a {
    width: 500px;
}

.input-group-addon {
    border-radius: 0 20px 20px 0;
    background-color: transparent;
}

.carousel-item img:hover {
    transition: transform 2s;
    transform: scale(1.02, 1.02);
}

.learn26 {
    color: black;
}

.learn27 {
    background: url(http://res.cloudinary.com/har9qnw3d/image/upload/v1519796167/eventpictures/AwolowoEventevtpic1519796163624.jpg);
    background-color: rgba(152, 149, 149, 0.75) !important;
    background-blend-mode: color-burn;
    background-repeat: norepeat;
    background-size: cover;
    width: 100%;
    height: 150px;
    background-position: center;
    margin-bottom: 40px;
}

.learn27 h2 {
    text-align: center;
    color: white;
    font-weight: bold;
    position: relative;
    top: 40%;
    font-size: 40px;
}

.pickP p {
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
}

.wrapper > div {
    padding: 5em;
    margin-top: 1em;
    background: #ddd;
    background-image: url(../img/img05.jpg);
    width: auto;
    height: auto;
    background-size: cover;
    border-radius: 10px;
    background-repeat: no-repeat;
    border: 1px solid #bfbcbc94;
}

.box {
    height: auto;
}

.box2 {
    grid-row: span 2;
    background-image: url(../img/img02.jpg) !important;
}

.box5 {
    grid-row: span 2;
    background-image: url(../img/img01.jpg) !important;
}

.box4 {
    grid-row: span 2;
    background-image: url(../img/img06.jpg) !important;
}

.learn23 ul {
    list-style-type: none;
    margin-left: 0px;
    list-style-type: none;
    padding-left: 0;
}

.filter_month {
    text-align: right;
}

.learn23 {
    color: white;
    padding: 20px;
}

.learn23 a {
    color: white;
}

.learn23 p {
    color: #cd9933;
    font-weight: bold;
}

.learn31 {
    margin-bottom: 25px;
    margin-top: 20px;
}

.learn31 > div {
    margin-top: 20px;
}

.learn32 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.learn33 {
    margin-top: 20px;
}

.learn33 span {
    margin-left: 30px;
}

.learn34 {
    color: white;
    background-color: #470D0C;
}

.learn35 {
    padding: 15px;
}

#exampleModal {
    margin-top: 100px;
}

::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

::-webkit-scrollbar-button {
    width: 15px;
    height: 15px;
}

::-webkit-scrollbar-thumb {
    background: #cd9933;
    border: 0px none #ffffff;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: #cd9933;
}

::-webkit-scrollbar-thumb:active {
    background: #cd9933;
}

::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 0px;
}

::-webkit-scrollbar-track:hover {
    background: #666666;
}

::-webkit-scrollbar-track:active {
    background: #333333;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.new-letter {
    background-image: url(../img/img16.jpg);
    background-size: cover;
    background-position-y: center;
    background-color: rgba(72, 65, 65, 0.54);
    background-blend-mode: multiply;
    margin-top: 50px;
    margin-bottom: 70px;
    padding: 35px;
    text-align: center;
}

.news .input-group-addon {
    border-radius: 0 4px 4px 0;
    background-color: #cd9933;
    border: 1px solid #cd9933;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    border-radius: 5px;
    background: black;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #cd9933;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #cd9933;
    cursor: pointer;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.25rem;
}

.wish-cart {
    margin-bottom: 30px;
}

.wishlist {
    margin-top: 9px;
    margin-bottom: 90px;
}

/*---------------------- subcategory-------------------*/

.category-men {
    width: 100%;
    height: 312px;
    margin-bottom: 50px;
}

.category-men img {
    height: 100%;
    width: 100%;
}

.advert-img {
    width: 100%;
    height: 312px;
    margin-bottom: 7px;
}

.advert-img img {
    height: 100%;
    width: 100%;
}

.shift {
    margin-top: 30px;
}

.back-change {
    background-color: white;
}

.checked {
    color: #cd9933 !important;
}

/*-------------- range slider style---------------*/

/*.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    border: 1px solid #333333 !important;
    background: #333333 !important;
    font-weight: normal;
    color: #333333 !important;
    border-radius: 100%;
}

.ui-widget-header {
    border: 1px solid #dddddd;
    background: #cd9933 !important;
    color: #333333;
    font-weight: bold;
}

.range-slide {
    padding: 20px;
}

.ui-slider-horizontal {
    height: 7px !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #333333 !important;
    background: #333333 !important;
    font-weight: normal;
    color: #333333 !important;
    border-radius: 100%;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.0em !important;
    height: 1.0em !important;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
}

.ui-widget-content {
    background: #9E9E9E !important;
    color: #333333;
}*/

/*---------------shoe product details-------------------*/

.rateReview h5 {
    font-weight: bold;
    color: #cd9933;
}

.ratings {
    margin-bottom: 30px;
}

.comment-review h4 {
    font-weight: bold;
    margin-bottom: 20px;
}

.comment-review > div {
    margin-bottom: 20px;
}

.edit-nav {
    background-color: white;
}

.edit-nav a.nav-link1 {
    color: black;
    font-weight: bold;
    text-align: center;
}

.nav-pills .nav-link.nav-link1.active,
.nav-pills .show > .nav-link {
    color: #FFF;
    background-color: #cd9933;
}

.product-star {
    text-align: center;
    font-weight: bold;
}

.copyright {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

/*---------fashion index-------------------*/

.shop {
    color: white;
    background-color: #cd9933;
    border-radius: 0;
    padding: 10px;
    font-size: 30px;
}

/*.banner-carousel {
    height: 626px;
}*/

.heading {
    background-image: url("../img/banner.jpg");
    height: 537px;
    background-size: cover;
}

.inheritHeight {
    min-height: inherit;
}

.discountRate {
    color: red;
    font-size: 12px !important;
}

/*.featured-product {
    margin-top: 50px;
    margin-bottom: 50px;
}*/

/*hr {*/
/*margin-top: -5px;*/
/*margin-bottom: 40px;*/
/*width: 100px;*/
/*border: 1px solid #cd9933;*/
/*}*/

.featured-product h3 {
    text-align: center;
    font-weight: bold;
}

.reduce img {
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid rgba(158, 158, 158, 0.34);
}

.fix-height {
    height: 310px;
    position: relative;
    padding: 8px;
}

.checked {
    color: #cd9933;
}

.all {
    background-color: #f8f8f8;
}

.back-change {
    background-color: white;
}

.font-small {
    font-size: 14px;
    padding: 7px;
    margin-top: -10px;
    /* margin-bottom: -16px; */
}

.font-small p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;
}

.mid-layer {
    height: 380px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.bottom-layer {
    height: 380px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.bottom-layer img {
    width: 100%;
    height: 100%
}

.mid-layer img {
    width: 100%;
    height: 100%;
}

.bottom-layer {
    width: 100%;
}

.craft h2 {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 49px;
}

.craft button {
    margin-top: 10px;
}

.shift {
    margin-top: 30px;
    height: 100%;
    background-size: contain;
}

.shop_01 {
    color: #cd9933;
    background-color: white;
    border-radius: 0;
    padding: 10px;
    font-size: 30px;
}

.fashion .row {
    margin-top: 5rem;
    float: right;
    font-family: sans-serif;
    position: relative;
    right: -5.6rem;
    top: 52px;
}

/*--------------------- styles for dropdown-------------------------*/

.social-login i {
    border-radius: 100%;
}

.profileLog {
    text-align: center;
    margin: 10px;
}

.profileLog a {
    color: #cd9933;
    font-weight: bold;
}

.profileLog a:hover {
    text-decoration: none;
    color: black;
}

.logBorder {
    border-top: 1px solid rgba(236, 232, 232, 0.27058)
}

.edit-drop {
    text-align: center;
    padding: 20px;
}

.drop-start {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}

.drop-start1 {
    margin-top: -10px;
}

.edit-drop button {
    background-color: #cd9933;
    color: white;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 300px;
}

.forgot-login a {
    color: grey;
    text-decoration: underline;
}

.forgot-login a:hover {
    color: #cd9933;
    text-decoration: underline;
}

.forgottext {
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

.edit-drop h6 {
    font-weight: bold;
}

.no-account {
    margin-bottom: -5px;
}

.input-details {
    margin-bottom: 15px;
}

.social-login {
    color: white;
    display: inline-flex;
    margin-bottom: 10px;
}

.social-login > div {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    padding: 12px;
    margin-left: 6px;
    margin-right: 6px;
}

.social-login-facebook {
    background-color: #3b5998;
}

.social-login-google {
    background-color: #d03211;
}

/*-----------------------------checkout----------------------------*/
.no-padding {
    padding-left: 0 !important;
}

.form-check-label {
    padding-left: 1.25rem;
    margin-bottom: 0;
    font-weight: bold;
}

.style-input-checkout > div {
    margin-bottom: 10px;
}

.user-add h6 {
    font-weight: bold;
}

.user-add p {
    margin-bottom: 0px;
}

.user-add {
    margin-bottom: 30px;
}

.give-border {
    border-right: 1px solid rgba(221, 221, 221, 0.72);
    padding-right: 80px;
}

.make-small {
    font-size: 13px;
}

.your-order {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 30px;
}

.pay-order {
    padding: 15px;
}

.pay-order button {
    color: white;
    background-color: #cd9933;
    float: right;
    font-weight: bold;
}

.pay-order .form-check {
    margin-top: 20px;
}

.release {
    margin-left: 60px;
}

.align-checkbox {
    margin-left: -2.25rem;
}

.rule {
    border-top: 1px solid rgba(221, 221, 221, 0.72);
}

.give-pad tr th,
td {
    padding: 15px;
}

.mobileCategory {
    text-align: center;
}

.mobileCategory div {
    flex: 0 0 20%;
    max-width: 20%;
    /* position: relative;
                                    width: 100%;
                                    min-height: 1px;
                                    padding-right: 15px;
                                    padding-left: 15px; */
}

.mobileCategory p {
    text-transform: uppercase;
    font-size: 11px;
    color: grey;
}

.viewCategory {
    background-color: white;
}

/*----------------------------------------index for user/account ---------------------*/

.head-account {
    margin-bottom: 30px;
    font-weight: bold;
}

/* .my-account {
    margin-bottom: 60px;
} */

/*.tab-content{margin-top: 40px;}*/

/*.change-button {
    float: right;
}

.change-button .btn {
    color: white;
    font-weight: bold;
    background-color: #cd9933;
}*/

/*.change-button .btn:hover {
    color: #cd9933;
    border: 2px solid #cd9933;
    background-color: transparent;
}*/

/*#pills-address button {
    color: white;
    font-weight: bold;
    background-color: #cd9933;
}

#pills-address button:hover {
    color: #cd9933;
    border: 2px solid #cd9933;
    background-color: transparent;
}*/

/*
.edit-address {
    float: right;
}

.house-address {
    margin-bottom: 30px
}

.house-address p {
    font-weight: 400;
}

.billing-address {
    font-weight: bold !important;
    margin-top: 43px;
    margin-bottom: 23px;
}

.tel {
    font-weight: bold;
}
*/

#pills-personal p {
    font-size: 16px;
}

#pills-personal p span {
    font-weight: bold;
}

.breadcrumb-item {
    color: black;
}

.breadcrumb-item a {
    color: black;
}

/*---------------------Styles for modal-------------------*/

.modal-body > button > span {
    color: darkgrey;
}

.Modalsign h5 {
    color: #cd9933;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}

.Modalsign > div > button {
    background-color: #cd9933;
    color: white;
    font-weight: bold;
}

.oldMeasurement .form-check {
    margin-left: 34px;
}

.text-center {
    margin-top: 20px;
}

.Modalsign form .form-check input[type="checkbox"] {
    margin-left: 0;
}

/*--------shipping ----------------*/
.shipping p {
    text-align: justify;
}

.shipping h3 {
    margin-top: 50px;
    margin-bottom: 40px;
}

.shipping h6 {
    margin-top: 30px;
}

.shipping {
    margin-bottom: 50px;
    margin-top: 50px;
}

.shipping ul li {
    list-style-type: none;
}

.shipping ul li:before {
    color: #cd9933;
    float: left;
    margin: 0 0 0 -1em;
    width: 1em;
    content: '\2022';
}

/* ---------------end of style for shipping -------------------*/

/*-------------------------------styles for user cart------------------------*/

/*.style-heading {
    color: white;
    background-color: #cd9933;
    font-weight: bold;
}*/

.style-heading p {
    padding: 7px;
    margin-bottom: 0;
}
.newSize .btn-group{
    border: 2px solid #cd9933;
}
.newSize .btn-group .btn-afk{
    color: black;
    font-weight: bold;
}
.newSize .btn-group .btn-fill {
    background-color: #cd9933;
    color: white;
    border-radius: 0px;
} 
.newSize thead tr{
    background: #cd9933;
    color: white;
}
.newSize .hidden{
    display: none;
}
/* .give-colour {
    background-color: white;
    margin-bottom: 30px;
} */

.cart-total h6 {
    font-weight: bold;
}

.cart-total h6 strong {
    color: #cd9933;
}

.give-colour .col-md-1 > button > span {
    color: darkgrey;
}

/*.give-colour div.row {
    margin-top: 15px;
    margin-bottom: 15px;
}*/

.cart-total {
    text-align: right;
    padding-bottom: 20px;
    padding-top: 20px;
}

.cart-img {
    width: 90px;
    height: 100px;
    object-fit: contain;
}

.cart-close-button {
    margin: 0;
    padding-top: 30px;
}

.right-line {
    border-right: 1px solid rgba(0, 0, 0, .078);
}

.cart-naira {
    margin-bottom: 30px;
}

/*------------MODAL FOR CUSTOMIZE CART------------------------*/

.product-img1 img {
    width: 100%;
}

/*---------------------------  Edit Modal -------------------------*/

.modal-date {
    font-size: 11px;
}

.modal-des {
    font-size: 13px;
    margin-top: 20px;
    text-align: justify;
    padding: 4px;
    padding-right: 16px;
}

.proceedCheck {
    float: right;
    margin-top: 30px;
}

.cart-art img {
    width: 100%;
    border-radius: 5px;
}

.material-contain img {
    width: 100%;
    border-radius: 5px;
    /* height: 100%; */
}

.iMaterial {
    background-color: #CD9933;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    font-size: 9px;
    padding: 5px;
    width: auto;
    text-align: center;
    height: 180px;
}

.material-img {
    width: auto;
    /*height: 180px;*/
}

.customizeModal {
    max-width: 725px;
    margin-top: 10px;
}

.middle-input {
    margin-left: 25px;
    text-align: center;
}

.iMaterial p {
    align-items: center;
    margin-top: calc(3em + 10px);
    font-size: 20px;
    font-weight: bold;
}

.down-input {
    text-align: center;
    margin-left: 20px;
}

.eventIndicators li {
    width: 10px;
    height: 10px;
    background-color: #cd9933;
    border-radius: 100%;
}

.mobileCarousel h6 {
    font-weight: bold;
}

.eventIndicators {
    position: unset;
    margin-top: 10px;
    margin-bottom: 10px;
}

.eventIndicators .active {
    background-color: rgb(63, 60, 60);
}

.mobileCarousel {
    margin-bottom: 30px;
}

.mobileCarousel hr {
    width: 80px;
    border: 1px solid #CD9933;
    margin-top: -1px;
    margin-left: 0;
    margin-bottom: 10px;
}

.mediumCarousel hr {
    width: 90px;
    border: 2px solid #CD9933;
    margin-top: -1px;
    margin-left: 0;
    margin-bottom: 10px;
}

.mediumCarousel .carousel-item {
    height: 220px;
}

.mobileCarousel .carousel-item {
    max-height: 220px;
}

.errorMssg {
    font-weight: bold;
    text-align: center;
    color: red;
    font-size: 26px;
}

.red {
    color: red;
}

.wawooh {
    color: #cd9933;
}

.color-white {
    color: white;
}

.wawooh li a:hover {
    text-decoration: none;
}

.right {
    text-align: right;
}

.mobile-left span,
.mobile-right span {
    color: grey;
}

.mobile-left,
.mobile-right {
    justify-content: unset;
    width: auto;
}

.mobile-left {
    left: -20px;
}

.mobile-right {
    right: -15px;
}

.style-guide .fa-plus {
    color: grey;
}

.fashionCarousel div.owl-item {
    margin-right: 10px;
    text-align: center;
}

.fashionCarousel .item {
    width: 120px;
}

.fashionCarousel .item > div {
    width: 80px;
}

.fashionCarousel {
    background-color: white;
    padding: 20px;
}

.fashionCarousel .owl-nav {
    display: none;
}

.fashionCarousel .item p {
    font-size: 20px;
    text-transform: uppercase;
    color: grey;
}

.fashionCarousel .owl-carousel .owl-item img {
    display: block;
    width: 75px;
    border-radius: 100%;
    border: 1px solid #cd9933;
    padding: 5px;
    margin: 0 auto;
}

.mobileProductPrice {
    color: #cd9933;
    margin-top: 30px;
    font-size: 25px;
}

.mobileDesignerName a {
    color: #ccc;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 30px;
}

.mobileProdName {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 0;
}

.marginTen {
    margin-top: 20px;
}

.wishHeart a {
    color: #000000;
}

#filter button.close {
    color: grey;
    text-align: right;
}

#filter .modal-body p {
    color: grey;
}

#filter .modal-body button {
    font-size: 12px;
}

.categoryMen .col-2 {
    padding-left: 1px;
    padding-right: 1px;
}

.subCategoryMen .col-4 {
    margin-bottom: 20px;
}

.shopEvents {
    background-color: red !important;
}

.modal-body .fashionCarousel div.owl-item {
    width: 75px !important;
}

.moveLeft {
    margin-left: 12px;
}

.passwordBox {
    max-width: 450px;
    margin: 90px auto 120px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 17px 2px rgba(0, 0, 0, 0.09);
}

.passwordBox input {
    margin-bottom: 30px;
}

.passwordMargin {
    margin-top: 100px;
    margin-bottom: 150px;
}

.cartDes p {
    font-size: 12px;
    margin-bottom: 10px;
}

.cartDes .cart-des {
    font-size: 15px;
    font-weight: bold;
}

.fontAverage p {
    font-size: 14px;
    font-weight: bold;
}

/* .cartMobile .row {
    margin-bottom: 30px; 
} */

.productLabel {
    display: block;
    width: 100%;
    height: auto;
}

.labelColor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.30);
}

.labelColor i {
    color: white;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.parentLabel {
    position: relative;
}

.parentLabel:hover .labelColor {
    opacity: 1;
}

.cartMobile {
    background-color: white;
    padding: 8px;
    margin-bottom: 5px;
    box-shadow: 0 0 1px #bcb7b7;
}

.cartImg {
    height: 250px;
    width: 100%
}

.cartImg img {
    height: 100%;
    width: 100%;
}

.cartDes form {
    margin-bottom: 10px;
}

.cartTotal p {
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 15px;
}

.cartTotal .row {
    margin-bottom: 10px;
}

.cartTotal .col-9 p {
    color: #111111;
}

.cartTotal hr {
    margin-top: -5px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid grey;
}

.cartMobile .col-2 button {
    margin-top: 100%;
}

.cartCheck button.btn {
    margin-top: 0;
    margin-bottom: 5px;
}

.continueShop {
    text-align: center;
}

.continueShop p a {
    color: grey;
    text-decoration: underline;
    font-size: 13px;
}

.continueShop p {
    font-size: 13px;
    color: grey;
}

.continueShopping {
    text-align: center;
}

.continueShopping p a {
    font-weight: bold;
    font-size: 16px;
    color: grey;
    text-decoration: underline;
}

.continueShopping p a:hover {
    color: #cd9933;
}

.registerImg {
    text-align: center;
}

.finalTotal .row .col-sm-6:nth-child(1) p {
    color: #cd9933;
}

.whiteHover:hover {
    color: white;
}

.finalTotal .row .col-sm-6 p {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 1px;
}

.checkoutProducts {
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
    -webkit-box-shadow: 2px 2px 15px -3px rgba(0, 0, 0, 0.144);
    -moz-box-shadow: 2px 2px 15px -3px rgba(0, 0, 0, 0.144);
    box-shadow: 2px 2px 15px -3px rgba(0, 0, 0, 0.144);
}

.checkoutProducts .row {
    margin-bottom: 20px
}

.headPayment {
    font-weight: bold;
}

.setup-content {
    margin-top: 15px;
    margin-bottom: 30px;
}

.paymentAddress p {
    margin-bottom: 2px;
    font-size: 13px
}

.paymentButton {
    margin-top: 30px;
}

.completeCheckout {
    padding: 20px;
    text-align: center;
}

.completeCheckout .headPayment {
    margin-top: 5px;
}

.mobileProfile .col-md-3 {
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.mobileProfile p {
    font-size: 13px;
    font-weight: bold;
}

.profileImg {
    width: 80px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.profileImg img {
    width: 100%
}

.parentProfile {
    background-color: white;
    padding: 10px;
    -webkit-box-shadow: 2px 2px 15px -3px rgba(0, 0, 0, 0.144);
    -moz-box-shadow: 2px 2px 15px -3px rgba(0, 0, 0, 0.144);
    box-shadow: 2px 2px 15px -3px rgba(0, 0, 0, 0.144);
}

.profileForm {
    margin-top: 20px;
    margin-bottom: 30px;
}

#accordion .card {
    border-color: transparent;
}

.profileForm > div {
    margin-bottom: 10px;
}

.profileForm label {
    font-weight: bold;
}

.paymentAddress .fa-pencil {
    color: grey;
    margin-right: 10px;
}

.paymentAddress .fa-trash {
    color: rgba(243, 37, 37, 0.84);
}

.paymentAddress > div span {
    font-size: 18px;
}

.paymentAddress > div {
    text-align: right;
}

.pendingProfile {
    background-color: #cd9933;
    padding: 2px 14px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

#mobileProfile .close {
    float: none;
    color: grey !important;
}

.wish-cart .font-small {
    margin-bottom: 0px;
}

.noLeft {
    margin-left: 0px !important;
}

#modalComment .modal-content {
    min-height: 600px;
}

#modalComment .modal-content .modal-body .placeComment {
    overflow-y: scroll;
}

#modalComment .modal-content .modal-title {
    text-transform: uppercase;
    font-weight: bold;
    color: #cd9933;
}

/* .categoryMen .col-2 button{font-size: 11px;} */

/* --------------------- @ media queries for responsiveness ----------------------*/

@media (max-width: 380px) {
    .news .input-group-addon {
        font-size: 13px !important;
    }

    .fix-height {
        height: 160px !important;
    }

    .cartImg {
        height: 100px !important;
        width: 100%;
    }

    .track-Img {
        height: 104px;
    }
}

@media (max-width: 567px) {
    .sizeChart .man, .women {
        padding: 0px;
    }

    .learn27 h2 {
        font-size: 20px !important;
    }

    .learn4 a.btn {
        background-color: #CD9933;
        border: 1px solid #CD9933;
        color: white;
        padding: 2px 5px 2px 5px;
        border-radius: 8px;
        font-weight: bold;
        width: 120px;
    }

    .track-order .order-detail .side-label {
        padding: 23px !important;
    }

    .customMaterials {
        margin-top: 30px;
    }

    .circle-group > label {
        width: 20px;
        height: 27px;
        border-radius: 50%;
        margin: 4px;
    }

    .passwordMargin {
        margin-top: 120px;
        margin-bottom: 200px;
    }

    .passwordBox {
        max-width: 450px;
        margin: 110px auto 150px;
        padding: 20px;
        text-align: center;
        background-color: transparent;
        box-shadow: none;
    }

    .product-rev .nav-link {
        width: 50%;
    }

    .product-rev .edit-nav {
        display: -webkit-box;
        margin-bottom: 5px;
    }

    .product-star {
        font-size: 18px;
    }

    .fashionCarousel .owl-carousel .owl-item img {
        display: block;
        width: 45px;
        border-radius: 100%;
        border: 1px solid #cd9933;
        padding: 5px;
        margin: 0 auto;
    }

    .fashionCarousel div.owl-item {
        width: 90px !important;
    }

    .fashionCarousel .item p {
        font-size: 13px;
        text-transform: uppercase;
        color: grey;
    }

    .fashionCarousel {
        background-color: white;
        padding: 5px;
        /* margin-top: 30px; */
    }

    .learn26 {
        background-color: #2d2b2b;
        height: auto;

    }

    .fashionCarousel .item {
        width: 80px;
    }

    .filter_month {
        text-align: right;
        margin-top: 10px;
    }

    .main-gallery .row {
        margin-bottom: 0px;
    }

    .mid-layer {
        height: 100px;
    }

    .learn15 .navbar-brand a {
        width: 100px;
    }

    .learn15 .navbar-brand a img {
        width: 100%;
    }

    .font-small p {
        font-size: 13px;
    }

    .reduce h3 {
        font-size: 13px;
    }

    .span_edit {
        font-size: 16px !important;
    }

    .learn15 {
        margin-bottom: 3px;
    }

    .banner-carousel {
        height: auto;
    }

    .featured-product h3 {
        font-size: 18px;
    }

    .span_edit {
        font-size: 17px !important;
    }

    .news .input-group-addon {
        font-size: 18px;
    }

    .fix-height {
        height: 230px;
    }

    .shift .col-md-3 {
        margin-bottom: 15px;
    }

    /* .reduce {
         margin-bottom: 20px;
    } */
    .learn29a {
        width: auto;
    }

    .learn17 {
        height: 100px;
    }

    .learn19 h3 {
        font-size: 20px;
    }

    header {
        background-position-x: -7rem;
    }

    .learn4 h5 {
        font-size: 18px;
    }

    .bottom-layer {
        height: 100px;
    }

    .category-men {
        height: 100px !important;
    }

    .advert-img {
        height: 100px;
    }

    .learn1 nav-item {
        margin-top: 15px;
    }

    .style-heading p {
        font-size: 13px;
    }

    .breadcrumb {
        font-size: 13px;
    }

    .shift .col-6 {
        padding: 7px;
    }

    .carousel-item .col-6 {
        margin: 0;
    }

    .cbp-item {
        border-radius: 4px;
        -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.144);
        -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.144);
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.144);
    }

    .mobileComment {
        padding: 5px;
    }

    .full-height {
        height: auto !important;
    }

    .fixBlack {
        background-color: black;
    }

    .arr,
    .arr2 {
        padding-top: 50% !important;
    }

    .main-gallery .row .col-md-6 {
        margin-bottom: 20px;
    }

    .mobile-left {
        left: -14px;
    }

    .mobile-right {
        right: -12px;
    }

    .mobileProdCarousel {
        height: 350px;
    }

    .mobileProdCarousel img {
        height: 100%;
    }

    .mobileProdCarousel .carousel-inner {
        height: 100%;
    }

    .mobileProdCarousel .carousel-item {
        height: 100%;
    }

    .cartImg {
        height: 125px;
        width: 100%;
    }

    .track-Img {
        height: 120px;
    }

    .measurement-pad {
        margin: 1px;
    }

    /* .learn6 li::before{display: none;} */
    /* .banner-carousel .carousel-item img{height: 300px;} */
}

@media (min-width: 768px) and (max-width: 989px) {
    /* .mobileProfile {
        margin-top: 215px;
        padding-bottom: 215px;
    } */
    .sizeChart .man, .women {
        padding: 0px;
    }
}

@media (min-width: 300px) and (max-width: 768px) {
    /* .mobileProfile {
        margin-top: 120px;
        padding-bottom: 120px;
    } */
    .sizeChart .man, .women {
        padding: 0px;
    }
}

@media (max-width: 800px) {
    .sizeChart .man, .women {
        padding: 0px;
    }

    .learn27 h2 {
        font-size: 25px;
    }

    .filter_month {
        text-align: right;
        margin-top: 10px;
    }

    .product-rev .edit-nav {
        display: -webkit-box;
        margin-bottom: 5px;
    }

    .news .input-group-addon {
        font-size: 20px;
    }

    .featured-product h3 {
        font-size: 20px;
    }

    /* .reduce {
         margin-bottom: 20px;
    } */
    .banner-carousel {
        height: auto;
    }

    .shift .col-md-3 {
        margin-bottom: 15px;
    }

    .learn15 a.navbar-brand {
        width: 100px;
    }

    .mid-layer {
        height: 140px;
    }

    .bottom-layer {
        height: 140px;
    }

    .learn15 a.navbar-brand img {
        width: 100%;
    }

    .learn17 {
        height: 150px;
    }

    .category-men {
        height: 160px;
    }

    .measurement-pad {
        margin: 1px;
    }

    .customMaterials {
        margin-top: 30px;
    }
}

@media (min-width: 1280px) {
    .mid-layer {
        height: 357px;
    }

    .bottom-layer {
        height: 357px;
    }
}

@media (min-width: 1500px) {
    .banner-carousel {
        height: 880px;
    }

    .learn17 {
        height: 481px;
    }

    .category-men {
        height: 438px;
    }

    .category-men img {
        height: 100%;
    }

    .mid-layer {
        height: 535px;
    }

    .bottom-layer {
        height: 535px;
    }
}

/*-------------------------------------- payment tab ----------------------------------*/

.setup-panel .stepwizard-step a {
    color: grey;
}

.setup-panel .stepwizard-step a:hover {
    color: #cd9933;
}

.stepwizard-step p {
    margin-top: 0;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 18px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-index: 0;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

/*----------------- SVG loader ------------------*/

@keyframes round {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes notround {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

#loaderModal .modal-dialog {
    max-width: 100%;
    height: 100%;
}

#loaderModal {
    padding-right: 0px !important;
    width: 100%;
    overflow-y: hidden;
    margin-top: -30px;
}

.loader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    height: 100vh;
    overflow-y: hidden;
    background: rgba(0, 0, 0, 0.91);
}

.loader svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.necklace {
    animation: round 5s ease 1s infinite alternate;
    animation-fill-mode: both;
}

.shirt {
    animation: notround 5s ease 1s infinite alternate-reverse;
}

.suit {
    animation: round 5s ease-in-out 1s infinite reverse;
}

.heel {
    animation: round 5s ease-in-out 1s infinite;
}

.earrings,
.earring {
    animation: round 5s ease-in 1s infinite alternate-reverse;
}

.bag,
.bag-stud,
.bag-hand {
    animation: notround 5s ease-out 1s infinite;
}

/*--------------end of SVG loader --------------*/