div.item {
    padding: 15px;
    background: white;
    border: 2px solid #ddd;
    border-radius: 12px;
    min-height: 100px;
    background: white;
    -webkit-box-shadow: -1px 6px 20px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 6px 20px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 6px 20px -1px rgba(0, 0, 0, 0.75);
}

.box-sd {
    -webkit-box-shadow: -1px 6px 20px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 6px 20px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 6px 20px -1px rgba(0, 0, 0, 0.75);
}

.active {
    background: #919fa8;
    font-weight: bold;
}

.box {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
}

.activity-box {
    /* min-height: 100px;
    background: white;
    -webkit-box-shadow: -1px 6px 20px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 6px 20px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 6px 20px -1px rgba(0, 0, 0, 0.75); */
    flex: 1;
}

.activity-action {
    width: 100%;
    /* float: right; */
    /* display: flex */
}

.activity-box h5 small {
    font-size: 25px;
}

.activity-action a {
    margin-left: 80%;
}

.designer-select,
.designer-input {
    height: 50px;
    border-radius: 30px;
    padding: 2px 15px;
}

.designer-select option {
    padding: 30px;
}

.filter-row {
    width: auto;
    display: inline-block;
    /* flex-direction: row; */
    margin: 0px 10px;
}

.filter-row select {
    height: auto;
    border-radius: 30px;
    padding: 10px 10px;
    width: 100%;
}

.product-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
}

.product {
    /* flex: 1; */
    flex-basis: 20%;
    margin: 10px 20px;
}

.product-image {
    transition: 1s;
}

.product-image:hover {
    transform: scale(1.15);
    border: 1px solid gray;
}

.product {
    position: relative;
}

.product-action {
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
}

@media screen and (min-width: 767px) {
    .box {
        display: flex;
        flex-direction: row;
    }
}


}