@media screen and (max-width: 767px) {
    .fashion-cat-menu li {
        padding: 2px 10px;
        font-size: 14px;
        /* background: transparent; */
    }
    .fashion-cat-menu {
        background: transparent;
    }
}