.faq{margin:20px auto 50px}.faq h3{text-align:center;font-weight:600;margin-top:50px;margin-bottom:50px;border-bottom:1px solid rgba(0,0,0,0.2)}.faq .notice{font-weight:600}.faq .card-header{font-weight:500}.live-welcome{width:70%;float:left;height:inherit;background:#000}.live-welcome ._live{padding:1.2em}
