/*----------------Styles for landing page --------------------*/

.productDetailsLabel {
    font-weight: bold;
}

.brand-color {
    color: #cd9933;
}

.range-slide {
    padding: 17px 0 5px;
}
.seller-details{ table-layout: fixed;}
.seller-details td{word-wrap: break-word;}
a{color: grey;}
/* .makeBottom {position: absolute;
    bottom: 0;
    display: block;
    width: 100%;} */
.inheritHeight {
    min-height: inherit;
}

.shipping .card-header p a {
    color: #cd9933;
    font-weight: bold;
}

.shipping p {
    text-align: justify;
}

.selectPrice {
    text-align: center;
    color: red;
    background-color: white;
    box-shadow: 0 0 8px -3px #918d8d;
    margin-bottom: 20px;
    cursor: pointer;
}

.shipping h3 {
    margin-top: 50px;
    margin-bottom: 40px;
}

.shipping h6 {
    margin-top: 30px;
}

.shipping {
    margin-bottom: 50px;
    margin-top: 50px;
}

.shipping ul li {
    list-style-type: none;
}

.discountRate {
    color: red;
    font-size: 12px !important;
}

.shipping ul li:before {
    color: #cd9933;
    float: left;
    margin: 0 0 0 -1em;
    width: 1em;
    content: '\2022';
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 0.6em !important;
    height: 0.6em !important;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
}

/*.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #333333 !important;
    background: #333333 !important;
    font-weight: normal;
    color: #333333 !important;
    border-radius: 100%;
}*/

.filter-price .card-body a {
    color: black;
}

.filter-price .card-body a:hover {
    color: #cd9933;
    text-decoration: none;
}

.filter-price {
    margin-bottom: 2px;
}

.hide {
    display: none;
}

.back-profile p a {
    color: inherit;
}

.brand-bgcolor {
    background: #cd9933;
}

.brand-color {
    color: #cd9933 !important;
}

.ui-widget-header {
    border: 1px solid #dddddd;
    background: #cd9933 !important;
    color: #333333;
    font-weight: bold;
}

.ui-widget-content {
    background: #9E9E9E !important;
    color: #333333;
}

.ui-slider-horizontal {
    height: 2px !important;
}

.brand-bd-color {
    border-color: #cd9933;
}

.hstyle {
    font-weight: bold;
}

.makeBold {
    font-weight: bold;
}

.designerOrderMobile .nav-link.active {
    color: #cd9933;
}

.designerOrderMobile .nav-link {
    color: grey;
}

.mobileProdName {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    font-family: aller-bold;
    margin-bottom: 15px;
}

.designerOrderMobile .tab-pane {
    margin-top: 20px;
}

.designerOrderMobile .nav {
    margin-top: 30px;
}

#sellerProfile {
    justify-content: flex-end;
}

.noLeft {
    margin-left: 0 !important;
}

.makeBold {
    font-weight: bold;
}

#sellerProfile {
    justify-content: flex-end;
}

.confirmUpload {
    margin: 0 auto;
    width: 250px;
}



.btn-wawooh:hover {
    color: #cd9933;
    background-color: white !important;
    border: 1px solid #cd9933;
    /*font-weight: bold;*/
}

.navbar-light .navbar-brand img {
    width: 140px;
}

.orderDetailsModal .modal-dialog {
    max-width: 800px !important;
    margin-top: 60px;
}

.giveMargin {
    margin-top: 20px;
    margin-left: 16px;
}

.signCheck .form-check-input {
    margin-left: 0 !important;
}

.learn31 .form-check {
    margin-left: 31px !important;
}

.learn31 .form-check .form-check-input {
    margin-left: 0 !important;
}

/* .learn31 .form-check .form-check-label{padding-left: 0px !important;} */

.learn1 {
    float: right;
    margin-left: auto;
}

.learn1 li {
    margin-left: 60px;
}

.learn5 {
    /*position: relative;*/
    /*top: 11rem;*/
    padding-top: 12em;
    /*bottom: 90px;*/
    left: 1rem;
}

.text-center {
    /*margin-bottom: 30px;*/
    margin-top: 10px;
}

.forgot-login a {
    color: grey;
    text-decoration: underline;
    margin-bottom: 50px;
}

.forgot-login a:hover {
    color: #cd9933;
    text-decoration: underline;
}

.learn23 a {
    color: white;
    font-weight: bold;
}

.learn23 a:hover {
    color: #cd9933;
    text-decoration: white;
}

.learn4 button.btn {
    background-color: #CD9933;
    border: 1px solid #CD9933;
    color: white;
    padding: 5px 20px 5px 20px;
    border-radius: 4px;
    font-weight: bold;
    width: 200px;
}

.learn4 button.btn:hover {
    background-color: white;
    border: 1px solid #CD9933;
    color: #CD9933;
}

.measurementOrder {
    margin-top: 20px;
}

.customerMeasurement {
    margin-top: 20px;
}

.customerMeasurement a {
    color: grey;
}

.customerMeasurement a:hover {
    color: #cd9933;
}

footer.learn36 {
    background-color: transparent;
    z-index: 2;
    margin-top: -3rem;
    color: black;
    font-weight: 500;
}

.learn4 {
    color: black;
    position: relative;
    animation-name: anime;
    animation-duration: 2s;
    animation-direction: reverse;
    -webkit-animation-name: anime;
    -webkit-animation-duration: 2s;
    -webkit-animation-direction: reverse;
}

@keyframes anime {
    0% {
        left: 0;
        color: inherit;
    }
    100% {
        left: 200px;
        color: rgba(221, 221, 221, 0.05);
    }
}

@-webkit-keyframes anime {
    0% {
        left: 0;
        color: inherit;
    }
    100% {
        left: 200px;
        color: transparent;
    }
}

.learn4 button.btn {
    width: auto;
}

.learn35 {
    padding: 15px;
}

.learn7 li.nav-item {
    width: 50%;
    text-align: center;
}

.learn7 li.nav-item a {
    color: #470D0C;
}

.learn31 {
    margin-bottom: 25px;
    margin-top: 20px;
}

.learn31 > div {
    margin-top: 20px;
}

.learn34 {
    color: white;
    background-color: #cd9933;
}

.learn34:hover {
    color: #cd9933;
    background-color: transparent;
    border: 1px solid #cd9933;
}

.learn2 {
    display: inline;
    list-style-type: none;
}

.learn2 li {
    display: inline;
    margin-left: 40px;
    font-size: 14px;
}

.learn2 li a {
    color: black;
}

.learn2 li {
    font-size: 11px;
    margin-left: 30px;
}

.learn2 {
    margin-left: 0;
    padding-left: 0;
}

.design {
    font-family: bebas;
    margin-top: -1rem;
}

.connect {
    font-family: bebasNeue;
}

.learn4 h1 {
    font-size: 60px;
}

.seller-process img {
    width: 20px;
}

.seller-process {
    margin-top: 20px;
    margin-bottom: 50px;
}

.close-button {
    font-size: 35px;
}

/*.nav-pills .nav-link.active,*/
/*.nav-pills .show > .nav-link {*/
    /*color: #FFF;*/
    /*background-color: #cd9933;*/
/*}*/

/* -------------- dashboard -----------------------*/

.bg-black {
    background-color: black;
    color: white;
}

.dashStoreImg {
    width: 80px;
    height: 80px;
}

.dashStoreProfile {
    padding: 40px;
}

.dashStoreImg img {
    width: 100%;
    height: 100%;
}

.dashStorePerson {
    background-color: white;
    padding: 20px;
    font-weight: bold;
}

.dropShadow {
    -webkit-box-shadow: 1px 1px 7px -2px rgba(50, 50, 50, 0.61);
    -moz-box-shadow: 1px 1px 7px -2px rgba(50, 50, 50, 0.61);
    box-shadow: 1px 1px 7px -2px rgba(50, 50, 50, 0.61);
}

.dashStorePerson h3 {
    font-weight: bold;
}

.pending-order {
    text-align: center;
}

.order-today {
    background-color: white;
}

.orderToday {
    margin-top: 50px;
    margin-bottom: 50px;
}

.orderToday .col-md-2 > div {
    border-right: 2px solid grey;
    margin: 15px;
    font-weight: bold;
}

.order-today {
    margin: 0 auto;
}

/*---------repsonsiveness --------------------*/

@media (max-width: 660px) {
    .learn5 {
        width: 100%;
        margin: 0 auto;
        padding-left: 25px;
        /*position: relative;*/
        top: 11rem;
    }

    .learn4 h1 {
        font-size: 30px;
    }

    .learn4 h5 {
        font-size: 12px;
    }

    .learn6 li {
        font-size: 13px;
    }

    .learn6 {
        width: 260px;
        position: relative;
        left: 0;
    }

    header {
        /*height: 598px;*/
        background-size: cover;
    }

    .cover {
        background-position: center !important;
    }

    .learn2 li {
        font-size: 11px;
        margin-left: 30px;
    }

    .learn2 {
        margin-left: 0;
        padding-left: 0;
    }

    .learn4 button.btn {
        width: auto;
    }
}

/*--------------------- seller-profile------------------------------*/

.learn15 {
    color: #CD9933 !important;
    margin-left: auto;
}

.navbar.learn15 .nav-link {
    width: auto;
    margin: 0px 15px;
    color: black;
    text-align: center;
    font-weight: bold;
}

.learn15 .nav-item:hover {
    background-color: transparent;
}

.navbar.learn15 .nav-link:hover {
    color: #CD9933;
}

.navbar.learn15 .nav-link.active {
    color: #CD9933;
}

.seller-details {
    width: 100%;
}

.seller-details tbody tr {
    margin-bottom: 10px;
}

.seller-table .stores {
    border-bottom: 1px solid grey;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px;
    padding-left: 23px;
}

.stores1 {
    font-weight: bold;
}

.table th,
.table td {
    border: transparent;
}

.seller-table {
    border: 1px solid grey;
}

.seller-add {

    font-weight: bold;
}

.quickButtonsRow {
    height: 100px;

}

.quickButtonsRow > div {
    height: 100%;
}

.fa-trash {
    color: red !important;
}

.quick-buttons {
    height: 100%;
    background-color: #cd9933;
    text-align: center;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 7px -2px rgba(139, 141, 145, 1);
    -moz-box-shadow: 0px 0px 7px -2px rgba(139, 141, 145, 1);
    box-shadow: 0px 0px 7px -2px rgba(139, 141, 145, 1);
    /* background: rgba(0,0,0,1);
    background: rgba(120,119,120,1);
    background: -moz-linear-gradient(left, rgba(120,119,120,1) 0%, rgba(153,125,59,1) 38%, rgba(228,168,17,1) 67%, rgba(211,166,74,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(120,119,120,1)), color-stop(38%, rgba(153,125,59,1)), color-stop(67%, rgba(228,168,17,1)), color-stop(100%, rgba(211,166,74,1)));
    background: -webkit-linear-gradient(left, rgba(120,119,120,1) 0%, rgba(153,125,59,1) 38%, rgba(228,168,17,1) 67%, rgba(211,166,74,1) 100%);
    background: -o-linear-gradient(left, rgba(120,119,120,1) 0%, rgba(153,125,59,1) 38%, rgba(228,168,17,1) 67%, rgba(211,166,74,1) 100%);
    background: -ms-linear-gradient(left, rgba(120,119,120,1) 0%, rgba(153,125,59,1) 38%, rgba(228,168,17,1) 67%, rgba(211,166,74,1) 100%);
    background: linear-gradient(to right, rgba(120,119,120,1) 0%, rgba(153,125,59,1) 38%, rgba(228,168,17,1) 67%, rgba(211,166,74,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#787778', endColorstr='#d3a64a', GradientType=1 ); */
}

.seller-add {
    padding-top: 40px;
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.sellerPush {
    border-bottom: 1px solid #e8e6e6;
    margin-bottom: 75px;
}

.sellerCover {
    position: relative;
    height: 180px;
    margin-top: -76px;
}

.sellerCover button {
    position: absolute;
}

.sellerCover img {
    width: 100%;
    height: 100%;
}

.store-des-small table {
    margin: 0 auto;
    padding: 10px;
}

.btn-faint {
    background-color: rgba(206, 162, 75, 0.56);
    font-weight: bold;
    color: white;
}

.btn-faint:hover {
    color: #cd9933;
    background-color: white;
}

/*--------------------seller footer --------------------------*/

.learn23 img {
    width: 150px;
    margin-bottom: 20px
}

.learn23 {
    background-color: #2d2b2b;
    height: auto;
}

.learn23 ul {
    list-style-type: none;
    margin-left: 0px;
    list-style-type: none;
    padding-left: 0;
}

.learn23 {
    color: white;
    padding: 20px;
}

.learn23 p {
    color: #cd9933;
    font-weight: bold;
}

.font-social {
    display: inline-flex;
    margin-top: 10px;
}

.font-social li {
    padding: 7px;
    background-color: white;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin: 2px;
    text-align: center;
}

.font-social li:hover {
    padding: 7px;
    background-color: #cd9933;
}

.font-social li a {
    color: black;
}

.font-social li a:hover {
    color: white;
}

.copyright {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

.prodDes {
    color: red;
    margin-top: -14px;
}

.fix-height {
    height: 310px;
    position: relative;
    padding: 8px;
}

.shift {
    margin-top: 30px;
}

.back-change {
    background-color: white;
    /* min-height: 400px; */
}

.scrollDiv {
    position: fixed;
    bottom: 50px;
    right: 30px;
}

.scrollArrow {
    padding: 24px;
    background-color: #cd9933;
    color: white;
    border-radius: 100%;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 2px 3px 6px 0px rgba(74, 73, 73, 0.52);
}

.reduce:hover {
    /*margin: 5px;
    padding-bottom: 10px;*/
    -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.144);
    -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.144);
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.144);
}

.reduce h3 {
    font-weight: bold;
    font-family: aller;
    padding: 5px;
    font-size: 100%;
}

.clickable-row {
    cursor: pointer;
}

.viewMeasurement {
    position: absolute;
    bottom: 0;

}

.font-small {
    font-size: 14px;
    padding: 7px;
    margin-top: 10px;
    margin-bottom: 16px;
}

.font-small p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;
}

.reduce img {
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid rgba(158, 158, 158, 0.34);
}

.checked {
    color: #cd9933;
}

.store-des-small {
    background-color: rgba(247, 247, 247, 0.4196078431372549);
    border: 1px solid rgba(204, 203, 203, 0.7);
    text-align: center;
    border-top: transparent;
    color: grey;
}

.owner-store-img {
    border-radius: 100%;
    background-color: white;
    padding: 20px;
    width: 200px;
    height: 200px;
    border: 1px solid grey;
    margin: 0 auto;
    position: relative;
    top: -5em;
    text-align: center;
}

.nameOwner {
    margin-top: -3em;
    font-weight: bold;
}

.colorStar {
    color: #cd9933
}

.store-des-small th {
    color: #cd9933;
}

.store-des-small table {
    margin: 0 auto;
    padding: 10px;
}

.view-customer {
    position: relative;
    top: 1rem;
}

.welcome-mssg {
    margin-top: 49px;
    color: grey;
    font-weight: bold;
}

.dashRatings {
    margin-top: 50px;
}

.dashRatings h6 {
    font-weight: bold;
}

.dashRatings h5 {
    font-weight: bold;
}

.progress-bar {
    background-color: #cd9933 !important;
}

.orderPending {
    font-family: aller-bold;
}

.orderChart {
    background-color: white;
    padding: 15px;
}

.orderChart p {
    font-family: aller-bold;
}

/* -------------------------- styles for product html -------------------------------------*/

.input-group-addon {
    border-radius: 0 20px 20px 0;
    background-color: transparent;
}

.learn29 input[type=text] {
    border-radius: 20px;
    border-right: 1px transparent;
}

.edit-new button {
    float: right;
}

.productSearch {
    margin-bottom: 40px;
}

.product-pics > div.row {
    margin-bottom: 40px;
}

/*----------------------styles for order-details ------------------*/
/*
.arrow_box {
    position: relative;
    background: #cd9933;
    border: 0px solid #cd9922;
}

.arrow_box:after,
.arrow_box:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(205, 153, 51, 0);
    border-top-color: #cd9933;
    border-width: 10px;
    margin-left: -10px;
}

.arrow_box:before {
    border-color: rgba(205, 153, 34, 0);
    border-top-color: #cd9922;
    border-width: 10px;
    margin-left: -10px;
}*/

.badge-wawooh {
    color: white;
    background-color: #ab1916;
}

.null-btn {
    background: transparent;
    border: 1px solid grey;
    border-radius: 10px;
}

.seller-pill .tab-pane {
    border: 1px solid grey;
    padding: 30px;
    margin-bottom: 55px;
}

.product-pics #products .row {
    margin-bottom: 10px;
}

.order-pages .page-item.active .page-link {
    background-color: #cd9933 !important;
    border-color: #cd9933 !important;
}

.order-pages .page-link {
    color: #cd9933;
}

.seller-pill .nav-pills .nav-item .nav-link {
    color: #cd9933;
    font-weight: bold;
}

.seller-pill .nav-pills .nav-item .nav-link:hover {
    color: black;
}

.seller-pill .nav-pills .nav-item .nav-link.active {
    color: white;
    background-color: transparent;
}

.complete-order {
    margin-top: 30px;
}

.complete-order .col-md-4 {
    text-align: right;
}

.edit-label label {
    font-weight: bold;
}

.edit-label {
    margin-bottom: 40px;
}

.btn-update {
    background-color: rgb(187, 184, 184);
    color: #000000;
    font-weight: bold;

    /* -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3); */
}

.btn-update:hover {
    color: black;
}

.artwork-opt {
    font-weight: bold;
    text-align: center;
}

.color-code {
    background-color: brown;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    /* margin: 0 auto; */
}

.art-img {
    width: 80px;
    margin: 0 auto;
}

.art-img img {
    width: 100%;
    border-radius: 5px;
}

.pro-img {
    width: 80px;
    height: auto;
}

.pro-img img {
    width: 100%;
    border-radius: 5px;
}

/* ------------------------product-details ----------------------------*/

.product-star {
    text-align: center;
    font-weight: bold;
}

.product-views {
    margin-top: 60px;
    margin-bottom: 60px;
}

.product-img {
    height: 400px;
}

.product-big-img {
    height: inherit;
}

.product-small-img > div {
    height: 108px;
    margin-bottom: 5px;
}

.product-small-img .img-fluid {
    max-width: 100%;
    height: 100%;
}

.add-cart1 {
    margin-top: 30px;
}

.product-name {
    font-weight: bold;
}

.product-store {
    color: #999;
    font-weight: bold;
    margin-top: -15px;
}

.product-des-long {
    text-align: justify;
}

.product-name span {
    color: #cd9933;
}

.product-size {
    margin-bottom: 10px;
}

.product-des button {
    color: white;
    background-color: #cd9933;
    font-weight: bold;
    width: 210px;
}

.circle-group {
    display: inline-flex;
}

.circle-group > div {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 4px;
}

.circle1 {
    background-color: white;
}

.circle2 {
    background-color: black;
}

.circle3 {
    background-color: blue;
}

.circle4 {
    background-color: red;
}

.seller-size > div > div {
    width: 30px;
    height: 30px;
    /* border: 1px solid grey; */
    margin: 5px;
}

.available .col-md-3 div {
    /* border: 1px solid grey; */
    box-shadow: grey 2px 2px 5px;
    height: 120px;
    /* width: 60px;  */
}

.available .col-md-3 div img {
    width: 100%;
    height: 100%;
}

.available-mat {
    margin-top: 85px;
}

.size-inline {
    display: inline-flex;
}

.button-like {
    background-color: #cd9933;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    width: 150px;
    margin: 0 auto;
    border-radius: 5px;
}

.seller-rev {
    margin-top: 30px;
}

.seller-rev .col-md-9 {
    padding: 15px;
    border: 1px solid gray;
    text-align: justify;
}

.seller-edit {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 20px;
}

.seller-des {
    margin-bottom: 60px;
}

/*------------------------------------styles for edit-product -----------------------------*/

.least-img {
    font-size: 11px;
}

.new-prod label {
    font-weight: bold;
}

.chip {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, .6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #eceff1;
    margin-right: 1rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.chip .close {
    cursor: pointer;
    float: right;
    font-size: 16px;
    line-height: 32px;
    padding-left: 8px;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

.chip-inline {
    display: inline-flex;
    padding: 10px;
}

.product-tag {
    border: 1px solid #e2e2e3;
    border-radius: 6px;
    background-color: white;
}

.resize-art {
    width: 100%;
    height: 120px;
}

.resize-art img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.edit-plus {
    color: grey;
    margin: 0 auto;
}

.color-codes {
    margin-left: 2px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.color-code1 {
    background-color: brown;
}

.color-code2 {
    background-color: blue;
    margin-left: 10px;
}

.color-code3 {
    background-color: green;
    margin-left: 10px;
}

.color-code4 {
    background-color: yellow;
    margin-left: 10px;
}

.color-code5 {
    background-color: red;
    margin-left: 10px;
}

.customLabel {
    font-size: 1rem;
    font-weight: bold;
}

.available-colours {
    display: flex;
}

.upload-mat {
    width: 100%;
    /*height: 100%;*/
}

.upload-mat img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.in-stock {
    display: flex;
    margin-bottom: 30px;
}

.in-stock > div {
    margin-right: 40px;
}

.buttons {
    display: flex;
    margin-bottom: 50px;
    margin-top: 20px;
}

.productGrouping .col-12 {
    margin-bottom: 20px;
}

.productGrouping .col-6 {
    margin-bottom: 20px;
    height: 120px;
}

.buttons > div {
    margin-right: 40px;
}

.buttons button {
    width: 175px;
}

.arrange-proImg, #showSizeImage {
    /*float:left;*/
}

.proImg, .moreProImg  {
    width: 120px;
    height: 120px;
    margin-right: 40px;
    margin-bottom: 20px;
    border: 1px dashed #999;
}

.morePImg {
    height:120px;
    width: 120px;
}

.arrange-proImg {
    /*display: flex;*/
    overflow: hidden;
    margin-bottom: 30px;
}

.proImg > img {
    width: 120px;
    height: 120px;
    background-size: contain;
    border-radius: 2px;
}

.label-margin {
    margin-bottom: 60px;
}

.arrow-next {
    margin-bottom: 40px;
}

/* .art-col {
    height: 150px;
} */

.pImg {
    height: 100% !important;
}

.goBack {
    margin-top: 30px;
}

/*-------------------User-view -------------------------*/

.filter-price {
    background-color: white;
    height: auto;
    margin-top: 30px;
}

.price-value {
    text-align: center;
    padding-bottom: 20px
}

.price-range {
    margin: 6px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    border-radius: 5px;
    background: black;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #cd9933;
    cursor: pointer;

}

.slider::-moz-range-thumb {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #cd9933;
    cursor: pointer;
}

.pro-Tag {
    display: inline-block;
}

#filter button.close {
    color: grey;
    text-align: right;
}

.eventIndicators li {
    width: 10px;
    height: 10px;
    background-color: #cd9933;
    border-radius: 100%;
}

.mobileCarousel h6 {
    font-weight: bold;
}

.eventIndicators {
    position: unset;
    margin-top: 10px;
    margin-bottom: 10px;
}

.eventIndicators .active {
    background-color: rgb(63, 60, 60);
}

@media (max-width: 567px) {
    .fashionCarousel .owl-carousel .owl-item img {
        display: block !important;
        width: 45px !important;
        border-radius: 100% !important;
        border: 1px solid #cd9933 !important;
        padding: 5px !important;
        margin: 0 auto !important;
    }

    .circle-group > label {
        width: 10px;
        height: 20px;
        border-radius: 100%;
        margin: 4px;
    }

    .circle-group > div {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        margin: 4px;
    }

    .fashionCarousel div.owl-item {
        width: 90px !important;
    }

    .fashionCarousel .item {
        width: 80px;
    }

    .fashionCarousel .item p {
        font-size: 13px !important;
        font-weight: bold !important;
        font-family: aller-bold !important;
        text-transform: uppercase !important;
        color: grey !important;
    }

    .fashionCarousel {
        background-color: white !important;
        padding: 5px !important;
        margin-top: 30px !important;
    }

    .mobileProdCarousel {
        height: 350px;
        margin-bottom: 30px;
    }

    .mobileProdCarousel img {
        height: 100%;
    }

    .mobileProdCarousel .carousel-inner {
        height: 100%;
    }

    .mobileProdCarousel .carousel-item {
        height: 100%;
    }
}

#filter .modal-body p {
    font-family: aller-bold;
    color: grey;
}

.Sub-Tag {
    width: 80px;
    height: 30px;
    border: 1px solid grey;
    margin: 0 auto;
    margin-left: 15px;
    margin-top: 10px;
}

.modal-body .fashionCarousel div.owl-item {
    width: 75px !important;
}

.fashionCarousel div.owl-item {
    margin-right: 10px;
    text-align: center;
}

.fashionCarousel .item {
    width: 120px;
}

.fashionCarousel .item > div {
    width: 80px;
}

.fashionCarousel {
    background-color: white;
    padding: 20px;
}

.fashionCarousel .owl-nav {
    display: none;
}

.fashionCarousel .item p {
    font-size: 20px;
    font-weight: bold;
    font-family: aller-bold;
    text-transform: uppercase;
    color: grey;
}

.fashionCarousel .owl-carousel .owl-item img {
    display: block;
    width: 75px;
    border-radius: 100%;
    border: 1px solid #cd9933;
    padding: 5px;
    margin: 0 auto;
}

.Sub-Tag2 {
    margin: 0 auto;
    border: 1px solid grey;
    width: 80px;
    height: 30px;
}

.main-Tag {
    padding-bottom: 20px
}

.edit-store {
    background-color: transparent;
    border: transparent;
}

.back-profile a { /*float: right;  */
    margin-top: 40px;
}

.view-customer {
    background-color: white;
    text-align: center;
    margin-top: -15px;
    padding-top: 7px;
    border-bottom: 1px solid #cacaca;
}

.view-customer h6 {
    font-weight: bold;
    color: #cd9933;
}

.view-img-store {
    margin-top: -30px;
}

#brand {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: inherit;
}

.overBtn {
    margin-top: 23px;
    padding: 5px;
}

.overBtn label {
    margin-bottom: 0px;
}

.font-small .col-12:nth-child(2) {
    margin-top: -5px;
}

.bold {
    font-weight: bold;
}

.bigBold {
    font-family: aller-bold;
}

.termsSign {
    font-weight: bold;
    color: #cd9933;
}

.termsSign:hover {
    color: grey;
    text-decoration: underline;
}

.bg-wawooh {
    background-color: #cd9933;
}

.prevNext {
    color: white !important;
}

.productPagination {
    margin-top: 40px;
    margin-left: 15px;
}

.productPagination .page-item .page-link {
    color: #cd9933;
}

.designerOrderImg {
    width: 100%;
    height: 120px;
}

.designerOrderImg img {
    width: 100%;
    height: 100%;
}

.designerOrder p {
    margin-bottom: 0rem;
    font-size: 13px;
}

.designerOrder {
    padding: 10px;
    margin-bottom: 20px;
}

.designerOrder button {
    padding: 2px 10px 2px 10px;
    font-size: 11px;
    border-radius: 8px;
    width: 90px;
}

.designerOrderMobile h6 {
    color: #cd9933;
    font-family: aller-bold;
    margin-bottom: 10px;
}

.designerOrderMobile {
    margin-top: -2rem;
}

/*---------------mobile responsiveness------------*/
@media (max-width: 380px) {

    .fix-height {
        height: 160px;
    }
}

@media (max-width: 567px) {
    .font-small .col-12:nth-child(2) {
        margin-top: -5px;
    }

    .reduce .pull-right {
        float: none;
        display: block;
    }

    .signPhone {
        margin-bottom: 20px;
    }

    .dashStorePerson {
        margin-top: 25px;
    }

    .breakDown {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .learn15 .navbar-brand a {
        width: 100px;
    }

    .reduce h3 {
        font-size: 13px;
    }

    .learn15 .navbar-brand a img {
        width: 100%;
    }

    .orderToday .col-md-2 > div {
        border-right: none;
        text-align: center;
        margin: 0px;
    }

    .in-stock {
        display: block;
    }

    .order-today p {
        font-size: 12px;
        color: grey;
    }

    .order-today h4 {
        font-family: aller-bold;
    }

    .order-today {
        padding: 20px;
    }

    .dashStorePerson h3 {
        font-size: 20px;
        font-family: aller-bold;
    }

    .pending-order p {
        color: grey;
        font-size: 12px;
    }

    .orderPending {
        margin-bottom: 30px;
    }

    .orderSpace {
        margin-top: 30px;
    }

    .sellerCover {
        height: 100px;
    }

    .btn-faint {
        font-size: 14px;
    }

    .storeDesigners {
        margin-top: 30px;
    }

    .store-des-small {
        border-top: 1px solid rgba(204, 203, 203, 0.7);
    }

    .owner-store-img {
        width: 100px;
        height: 100px;
        top: 0;
        margin-top: 15px;
    }

    .fix-height {
        height: 200px;
    }

    .shift .col-md-3 {
        margin-bottom: 15px;
    }

    .reduce {
        margin-bottom: 20px;
    }

    .nameOwner {
        margin-top: 20px !important;
    }

    .designerName h3 {
        font-size: 22px;
        font-family: aller-bold;
    }

    .buttons button {
        width: auto;
    }

    .hstyle {
        color: #cd9933;
        font-size: 1rem;
    }
}

@media (max-width: 800px) {
    .dashStorePerson {
        margin-top: 25px;
    }

    .reduce {
        margin-bottom: 20px;
    }

    .shift .col-md-3 {
        margin-bottom: 15px;
    }

    .in-stock {
        display: block;
    }
}

@media (max-width: 980px) {
    .quick-buttons {
        height: 100%;
        background-color: #cd9933;
        text-align: center;
        border-radius: 2px;

    }

    .seller-add {
        padding-top: 2px;
        color: white;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 13px;
    }

    .orderToday {
        margin-top: 20px;
        margin-bottom: 50px;
    }
}

/*----------------- SVG loader ------------------*/
@keyframes round {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes notround {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

#loaderModal .modal-dialog {
    max-width: 100%;
    height: 100%;
}

#loaderModal {
    padding-right: 0px !important;
    width: 100%;
    overflow-y: hidden;
    margin-top: -30px;
}

.loader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    height: 100vh;
    overflow-y: hidden;
    background: rgba(0, 0, 0, 0.91);
}

.loader svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.necklace {
    animation: round 5s ease 1s infinite alternate;
    animation-fill-mode: both;
}

.shirt {
    animation: notround 5s ease 1s infinite alternate-reverse;
}

.suit {
    animation: round 5s ease-in-out 1s infinite reverse;
}

.heel {
    animation: round 5s ease-in-out 1s infinite;
}

.earrings, .earring {
    animation: round 5s ease-in 1s infinite alternate-reverse;
}

.bag, .bag-stud, .bag-hand {
    animation: notround 5s ease-out 1s infinite;
}

/*--------------end of SVG loader --------------*/
