#picture {
    max-width: 100%;
    height: auto;
}

.hotspot {
    position: absolute;
    transform: translate(-50%, -50%);
    background: #eee;
    border-radius: 50%;
    color: #999;
    z-index: 10000;
    /*height: 26px;*/
    /*line-height: 26px;*/
    /*padding: 0 20px 0 23px;*/
    /*position: relative;*/
    /*margin: 0 10px 10px 0;*/
    text-decoration: none;
    transition: color 0.8s;
}

*:not(input.field) {
    -webkit-user-select: text;
    -moz-user-select: -moz-none;
    /*IE10*/
    -ms-user-select: none;
    user-select: none;
    /*You just need this if you are only concerned with android and not desktop browsers.*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.tag-img {
    width: 30px !important;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 2px;
}

.hotspot:hover {
    background: #000;
}

textarea {
    height: 100px;
    padding: 10px;
    border-radius: 20px;
}

.arr, .arr2 {
    position: absolute;
    top: 0;
    color: white;
    height: 100%;
    padding: 28% 20px 20px;
    font-size: 26px;
    z-index: 100
}

.arr:hover, .arr2:hover {
    font-size: 29px;

}

.arr2 {
    right: 0;
}

.contain {
    position: relative;
    height: 100%;
    width: 20%;
    margin: 0 10px;
    display: inline-block;
}

.view-btn {
    font-size: 13px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, .5);
}

.contain:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.text2 {
    color: white;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1000

}

.img-tag {
    background-color: black;
}

.heart {
    color: red;
}

.modal-dialog {
    max-width: 700px;
    margin: 30px auto;
}

.slider01 {
    width: 100%;
}

.tag-head {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    text-transform: capitalize;
}

.like-tag button {
    border: 1px solid #9c8484;
    padding: 5px 30px;
    border-radius: 39px;
    background-color: #f8f9fa05;
}

.like-tag {
    margin-top: 20px;
    margin-bottom: 22px;
}

.like-no {
    margin: auto;
    padding-left: 0;
    font-weight: bold;
    color: #6b6d6f;
}

.tag01 {
}

.tag-info {
    padding: 15px;
    position: relative;
}

.comment01 {
    font-weight: bold;
}

.more-comments h5 {
    font-size: 16px;
    font-weight: bold;
}

.more-comments p {
    font-size: 14px;
}

.user-comments {
    height: 250px;
    overflow-y: auto;
    padding: 2px 5px 0 0;
}

.personal-comment {
    margin-bottom: 10px;
    font-size: 14px;
    text-align: justify;
    border-bottom: 1px solid rgba(199, 198, 198, 0.56);
}

.personal-comment span {
    font-weight: bold;
    font-size: 15px;
    font-family: aller-bold;
}

.personal-comment > div:nth-child(2) {
    margin-top: 10px;
}

.fixed-comment textarea {
    border-radius: 0;
    border: 1px solid grey;
    height: 40px;
}

.fixed-comment {
    position: absolute;
    bottom: 50px;
    right: 0;
    width: 95%;
}

.fixed-comment textarea#exampleFormControlTextarea1::placeholder {
    color: black;
}

.close-button {
    color: black;
    position: absolute;
    right: 10px;
}

#waw-com-box {
    position: relative;
}

#waw-com-box button {
    position: absolute;
    top: 0;
    right: -11%;
    padding: 14px 12px;
    border-radius: 0;
}

