/*margin utilities*/

.no-margin {
    margin: 0px !important;
}

.no-margin-sides {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.no-margin-tb {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.no-margin-left {
    margin-left: 0px !important;
}

.no-margin-right {
    margin-right: 0px !important;
}

.no-margin-top {
    margin-top: 0px !important;
}

.no-margin-bottom {
    margin-bottom: 0px !important;
}

.mt-2 {
    margin-top: 2px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-7-5 {
    margin-top: 7.5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-12 {
    margin-top: 12px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-sm {
    margin-top: 50px;
}

.mt-md {
    margin-top: 100px;
}

.mt-lg {
    margin-top: 180px;
}


/* padding utilitties */

.no-padding {
    /*padding: 0px !important;*/
}

.no-pad-sides {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.no-pad-tb {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.no-pad-left {
    padding-left: 0px !important;
}

.no-pad-right {
    padding-right: 0px !important;
}

.no-pad-top {
    padding-top: 0px !important;
}

.no-pad-bottom {
    padding-bottom: 0px !important;
}

.pd-2 {
    padding-top: 2px;
}

.pd-5 {
    padding-top: 5px;
}

.pd-7-5 {
    padding-top: 7.5px;
}

.pd-10 {
    padding-top: 10px;
}

.pd-12 {
    padding-top: 12px;
}

.pd-15 {
    padding-top: 15px;
}

.pd-20 {
    padding-top: 20px;
}

.pd-25 {
    padding-top: 25px;
}

.pd-sm {
    padding-top: 50px;
}

.pd-md {
    padding-top: 100px;
}

.pd-lg {
    padding-top: 180px;
}


/*display utilities*/

.invisible {
    visibility: hidden;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4
}

.flex-5 {
    flex: 5
}

.flex-6 {
    flex: 6
}

.flex-7 {
    flex: 7
}

.flex-8 {
    flex: 8
}

.flex-9 {
    flex: 9
}

.flex-10 {
    flex: 10
}

.flex-11 {
    flex: 11
}

.flex-12 {
    flex: 12
}

.flex-v-center {
    margin: auto;
}

.hide {
    display: none;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}


/*width utiliities*/

.width-80 {
    width: 80%;
}

.width-90 {
    width: 90%;
}

.width-70 {
    width: 70%;
}

.width-60 {
    width: 60%;
}

.width-50 {
    width: 50%;
}

.width-40 {
    width: 40%;
}

.width-30 {
    width: 30%;
}

.width-20 {
    width: 20%;
}

.width-10 {
    width: 10%;
}

.full-width {
    width: 100%
}

#mainPicture {
    object-fit: contain !important;
}

/* height utilites */

.full-height {
    height: 100%;
}


/*layout utilities*/

.center {
    margin: 0px auto;
}


/*Border utility*/

.no-bd {
    border: 0px !important;
}

.no-bd-rad {
    border-radius: 0px !important;
}

.circle {
    border-radius: 50% !important;
}

.eclipse-radius {
    border-radius: 30px;
}

.light-border {
    border: 1px solid #eee;
}


/* text styling */

.text-bold {
    font-weight: bold;
}

.break-word {
    word-wrap: break-word;
}

.text-bolder {
    font-weight: bolder;
}

.text-white {
    color: white;
}

.text-shadow {
    text-shadow: 1px 2px grey;
}


/* cursor */

.cursor-pointer {
    cursor: pointer;
}


/* Layouts utilitis */

.clear {
    clear: both;
}


/* transparency */

.opaque {
    opacity: 1;
}

.transparent {
    opacity: 0;
}

.transluscent {
    opacity: .5;
}

.bg-transparent {
    background: transparent;
}


/* positioning */

.fixed {
    position: fixed;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}


/* background colors */

.bg-white {
    background: white;
}


/* specials */

.hide-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}