@import "_partials/_vars";
@import "_partials/_mixins";
@import "_partials/_fonts";

.love {
  color: darkred !important;
  font-size: 25px !important;
  vertical-align: middle;
}

.login-wrapper {
  width: 100%;
  height: 100vh;
  //background: rgb(15, 30, 15);
  background: #0e0901;
}

.login-container {
  height: 100%;
  margin: 0;
  width: 100%;
  .l-header {
    top: 0;
    padding: 10px;
    h3 {
      @include latoFont();
      font-size: 1.5em;
      font-weight: lighter;
      text-align: center;
      color: $theme-white;
      padding-top: 10px;
      margin-top: 2em;
    }
    img {
      display: flex;
      width: 45%;
      margin: 2em auto;
      vertical-align: middle;
    }
  }
  .login-form {
    margin-top: 1em;
    border-radius: 3px;
    background: $theme-white;
    .login-body {
      padding: 15px;
    }
    label {
      margin-bottom: .3rem;
      font-size: .9rem;
    }
  }

  .l-footer {
    bottom: 0;
    z-index: 2;
    position: relative;
    margin-top: 8em;
    text-align: center;
    font-weight: lighter;
    span {
      font-size: 12px;
      text-align: center;
      color: $theme-white;
      padding: 10px;
    }
  }
  .form-control {
    border-radius: 3px;
    border: 1px solid rgba($theme-black, .3);
    padding: .6em .8em;
    border-right: none;
    min-height: 3.2rem;
    box-shadow: none !important;
    outline: none !important;
    background: none !important;
  }
  .input-group-addon {
    outline: none !important;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-radius: 3px;
    border: 1px solid rgba($theme-black, .3);
    border-left: none;
    background: none;
    color: $theme-black;
  }
  .form-control:disabled {
    background: $theme-white !important;
  }
  .btn {
    width: 100%;
    padding: 1em .8em;
    outline: none;
    border: none;
    margin: auto;
    border-radius: 3px;
  }
  .btn-submit {
    background: $theme-black;
    color: $theme-white;
    letter-spacing: 1px;
  }
}

.img-ho {
  width: 30px;
  object-fit: contain;
}

/*--SideBar and Dashboard Style--*/
.main-sidebar {
  background: $theme-black;
}

.page-header {
  &.card {
    margin: 10px 15px;
  }
}

.main-body {
  .page-wrapper {
    padding: .4em .3em !important;
  }
}

.card {
  &.card-block {
    padding: .81em;
  }
}

.reduced-font {
  font-size: 12px !important;
}

.productColorAdmin {
  padding-left: 0;
  //margin-top: 20px;
  h5 {
    font-size: 1em;
  }
  ul {
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding-left: 0;
  }
  .c-label {
    display: initial;
    position: absolute;
    top: 0;
    text-transform: capitalize;
    margin-top: 28px;
    font-weight: 500;
    line-height: 25px;
  }
  li {
    padding: 0;
    float: left;
    margin: 20px 25px 0 0;
    @include borderLine(rgba($theme-black, .3));
    img {
      width: 40px;
      height: 40px;
    }
    &:hover {
      cursor: pointer;
      border-bottom: 3px solid $theme-black;
      @include transition(0.5s);
    }
  }
}

.materialImgAdmin {
  width: 150px;
  height: 150px;
  object-fit: contain;
  @include borderLine(rgba($theme-black, .1));
  @include boxShadow(2px, 0, 3px, $shadowBlack);
}

.productDetails {

  .main-p {
    object-fit: cover;
    object-position: center top;
    height: 100%;
    width: 100%;
  }
  .productThumb {
    > div {
      width: 70px;
      margin-bottom: 10px;
      @include borderLine(rgba($theme-black, .2));
      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }
  .product-des {
    padding-top: 0;
    .product-name {
      font-size: 1.4rem;
      margin-bottom: 2px;
      text-transform: capitalize;
    }
    .product-store {
      color: $theme-ash;
      &:hover {
        text-decoration: underline;
      }
    }
    .product-des-long {
      background: #eee;
      padding: .3em 10px;
      border-radius: 3px;
      font-size: 13px;
      display: block;
      margin-bottom: 15px;
    }
  }
}

.promoCode {
  h3 {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .input-group-addon {
    padding: 0;
    border-radius: 0;
  }
  label {
    margin-bottom: .2rem;
    font-size: 12px;
  }
  .form-control {
    padding: .6rem 1.2rem;
  }
  select.form-control {
    @include borderLine(rgba($theme-black, .2));
  }
}

.proLoad {
  display: none;
  position: absolute;
  bottom: 26px;
  right: 42%;
  width: 25px;
}

.designerProfile {
  .sellerCover {
    width: 100%;
    height: 250px;
    position: relative;
    img {
      object-fit: cover;
      width: 100%;
      height: inherit;
      object-position: 50% 50%;
    }
  }
  .store-des-small {
    /*background-color: rgba(247, 247, 247, 0.4196078431372549);*/
    border: 1px solid rgba(204, 203, 203, 0.7);
    text-align: center;
    border-top: transparent;
    //margin-top: calc(2em + 4px);
    font-size: 13px;
    th {

    }
  }
  .edit-store {
    background-color: transparent;
    border: transparent;
  }
  .owner-store-img {
    border-radius: 100%;
    background-color: white;
    padding: 1px;
    width: 150px;
    height: 150px;
    border: 1px solid grey;
    margin: 0 auto;
    position: absolute;
    top: 22%;
    left: 4%;
  }
  .img-admin-des {
    width: 100%;
    border-radius: inherit;
  }
  .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 10px;
    vertical-align: top;
    border-top: none;
  }
  .bottomDetail {
    position: absolute;
    width: 100%;
    top: 48%;
    color: white;
    display: flex;
    font-size: 2.5rem;
    justify-content: center;
  }
  .businessInfo {
    margin: 0;
    > div {
      font-size: 13px;
      line-height: 25px;
      margin-bottom: 10px;
    }
    .BiD {
      width: 100px;
      height: 100px;
      object-fit: contain;
    }
  }
  .f24 {
    font-size: 2rem;
  }
}


.inspire-form {
  .form-control {
    padding: 1.5em 1em;
    border-radius: 2px;
    @include noBoxShadow(none);
  }
  span {
    font-size: 16px;
    text-align: left;
  }
  .uploadInspirePicture {
    width: 100%;
    @include boxShadow($shadowBlack, -1px, 0px, 3px);
    height: 500px;
    overflow: hidden;
    margin-top: 15px;
    cursor: pointer;
    //background: linear-gradient(top left, #222, #999);
    &:after {
      content: 'CLICK TO UPLOAD';
      color: $theme-white;
      font-weight: bold;
      text-align: center;
      display: flex;
      padding-top: 50%;
      justify-content: center;
      align-items: center;
      font-size: 2em;
    }
    &:hover {
      @include noBoxShadow(none);
      @include transition(0.5s);
      background: lighten(#ccc, 5%);
    }

    .sample-img {
      object-fit: cover;
      height: 100%;
      object-position: top center;
      width: 100%;
      border: 2px dashed rgba($theme-inspection, .3);
    }
  }
}

/*---QA Styling----*/
.inspection-image {
  margin-top: 10px;
  @include borderLine(rgba($theme-black, .2));
  ul {
    list-style: none;
    overflow: hidden;
    padding-left: 0;
  }
  li {
    float: left;
    margin: 6px 20px 0 0;
    width: 130px;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
  .designer-pic {
    width: 100%;
    object-fit: contain;
  }
}

.qaUpload {
  margin-top: 8em;
}

.qaFailReason {
  margin-top: 7em;
  padding: 15px;
  h5 {
    font-size: 1.3em;
    text-align: center;
    color: $theme-gold;
    font-weight: bold;
  }
  .form-control {
    border-radius: 0;
    box-shadow: none;
  }
  textarea {
    resize: none;
    min-height: 100px;
  }
  .btn {
    padding: .5em 2.8em;
    border-color: $theme-deepgold;
    border-bottom-width: 3px;
    border-radius: 0;
    &:hover {
      @include transition(0.5s);
      border-color: $theme-gold;
    }
  }
  .reason-btn {
    border-width: 0;
    background: $theme-gold;
    color: $theme-white;
  }
}

/*--- Event Styling -----*/
.event-details {
  background: $theme-white;
  margin: 15px;
  box-shadow: grey 2px 2px 9px;
  h3 {
    font-size: 1.2em;
  }
  .inner-details {
    padding: 20px;
    h3 {
      text-align: left;
      border-bottom: 1px solid rgba($theme-black, .1);
      font-size: 1.5em;
      font-weight: 500;
      padding-bottom: 15px;
    }
    .other {
      font-size: 14px;
    }
    .desc {
      min-height: 100px;
      overflow-y: auto;
      background: rgba($theme-inspection, .1);
      margin-bottom: 5px;
      span {
        line-height: 30px;
        font-size: 13px;
      }
    }
  }
}

/**-Order Details Vendors-**/
.applicationDetails {
  padding: 5px;
  .product-image {
    float: right;
    width: 300px;
    max-height: 230px;
    @include borderLine(rgba($theme-black, .2));
    h3 {
      text-align: center;
      font-size: 1.2em;
      color: $theme-inspection;
      padding: 10px;
      border-bottom: 1px solid rgba($theme-inspection, .4);
    }
    .main-product-img {
      padding: 5px;
      .prodImg {
        width: 300px;
        background-size: contain;
        height: 100%;
      }
    }
  }
  .orderStatusDetails {
    h3 {
      font-size: .91em;
      text-align: center;
      padding: 10px;
      font-weight: lighter;
      color: $theme-inspection;
      border-bottom: 1px solid rgba($theme-inspection, .4);
    }
    .artwork-image, .material-image {
      @include borderLine(rgba($theme-black, .2));
      height: auto;
      padding: 0 15px 15px;
      .img-class {
        width: 150px;
        height: 150px;
        border-radius: 2px;
      }
      .col-md-3 {
        margin-right: 40px;
      }
    }
    .material-image {
      margin-top: 15px;
    }
    .actions {
      overflow: hidden;
      margin-top: 10px;
      @include specialButtons();
      //@include borderLine(rgba($theme-black, .2));
    }
  }

  .productSampleUpload {
    @include specialButtons();
    .hide {
      display: none;
    }
    padding: 4px;
    span {
      display: flex;
      justify-content: center;
      font-size: 1em;
      color: $theme-inspection;
    }
    .modal, .modal-dialog, .modal-content, .modal-body {
      padding: 5px 26px;
    }
    .product-sample-label {
      display: inline-block;
      width: inherit;
      height: 200px;
      background: #ccc;
      position: relative;
      cursor: pointer;
      overflow: hidden;

      &:hover {
        background: lighten(#ccc, 5%);

        &:before, &::before {
          color: rgba(3, 3, 3, .3) !important
        }
      }

      img {
        display: none;
        margin: auto;
        min-height: 100%;
        min-width: 100%;
      }

      &.picked {
        img {
          display: block
        }
      }

      &:not(.picked) {
        &:before, &::before {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          content: "ADD";
          font-size: 32px !important;
          text-align: center;
          line-height: 200px;
          color: #ededed;
          text-transform: uppercase
        }
      }

      &.preview {
        &:before, &::before {
          content: "REMOVE";
        }

        img {
          display: block;
        }
      }

      &.no-preview {
        &:before, &::before {
          content: 'Preview Unavailable';
          font-size: 22px !important;
          line-height: 1.5;
          padding-top: 6.5rem;
        }
      }
    }
  }

  .measurement-input {
    background: $theme-inspection;
    color: white;
    padding: 5px;
    .heading {
      text-align: center;
      font-weight: 400;
      letter-spacing: 2px;
    }
  }
}

.bespoke-bidding-subcat {
  .label-title {
    font-weight: bold;
    padding-top: 15px;
  }
  ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
    overflow: hidden;
  }
  li {
    float: left;
    padding: 3px 15px;
    background: #f7f7f7;
    border: 1px solid rgba(0, 0, 0, .2);
    margin-left: 5px;
    border-radius: 3px;
    margin-bottom: 10px;
    word-break: break-all;
  }
}

.thumbD {
  display: flex;
  flex-wrap: wrap;
  margin: 4px 0;
  div {
    padding: 5px 10px;
    border: 1px solid #000000;
    margin: 2px;
    &:first-child {
      margin-left: 0;
    }
    &:nth-child(odd) {
      background: $theme-black;
      color: $theme-white;
    }
  }
}

.btn {
  padding: 4px 10px;
}

.btn-accept {
  background: $theme-completed;
  color: $theme-white;
  &:hover {
    @include boxShadow(1px,5px,14px, $shadowBlack);
    @include transition(0.5s);
    transform: translateY(2%);
  }
}