@import "_partials/_mixins";
@import "_partials/_vars";

.categories {
  width: 100%;
  height: auto;
  margin: 3em auto 0;
  position: relative;
  .inner-cat {
    overflow: hidden;
    .cat-1 {
      width: 33%;
      height: auto;
      display: inline-block;
      margin: 0 auto 4px;
      background: rgb(22, 20, 33);
      position: relative;
      //border-right: 1px solid #222;
      &:nth-child(even) {
        background: rgba(0, 0, 0, .8);
        height: 500px;
      }
      &:hover {
        .overlay {
          bottom: 0;
          height: 100%;
        }
      }
    }
    img {
      width: 100%;
      background: no-repeat center;
      background-size: contain;

    }
  }
  .blank-page {
    height: 300px;
    width: inherit;
    background: $theme-black;
  }
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    margin: 0;
    background-color: rgb(0,0,0);
    opacity: .4;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: ease all 0.5s;
    &:nth-child(odd) {
      background: gold;
      opacity: .5;
    }
  }
  span {
    color: white;
    font-weight: bold;
    font-size: 24px;
    position: absolute;
    border-bottom: 2px solid $theme-white;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .view-more {
    text-align: center;
    margin-top: 2em;
    .btn {
      padding: .5em 3em;
      font-size: 16px;
      border-radius: 0;
      outline: none;
      text-transform: uppercase;
      @include borderLine($theme-black);
      background: $theme-white;
    }
    .btn-cat {
      color: $theme-black;
      font-weight: bold;
      letter-spacing: 2px;
      &:hover {
        @include transition(0.5s);
        background: $theme-black;
        color: $theme-white !important;
        border: none;
      }
    }
  }
  .otherCat {
    width: 26.6%;
    margin: 0 auto 0;
    display: none;
    ul {
      overflow: hidden;
      margin: 0;
      padding: 0;
    }
    li a {
      display: block;
      float: none;
      padding: .5em 3em;
      background: $theme-white;
      color: $theme-black;
      @include borderLine($theme-black);
      border-top: none !important;
      animation: slideInDown 0.5s;
    }
  }
}

.productColor {
  padding-left: 0;
  margin-top: 20px;
  h5 {
    font-size: 1em;
  }
  ul {
    list-style: none;
    overflow: hidden;
    margin: 0;
    //padding-left: 0;
  }
  .c-label {
    display: initial;
    position: absolute;
    top: 5%;
    margin-top: 20px;
    font-weight: 500;
  }
  li {
    padding: 0;
    float: left;
    margin: 20px 10px 0 0;
    @include borderLine(rgba($theme-black, .3));
    img {
      width: 40px;
      height: 40px;
    }
    &:hover {
      cursor: pointer;
      border-bottom: 3px solid $theme-black;
      @include transition(0.5s);
    }
  }
}

.thumbColor {
  @include borderLine($theme-gold);
}