@import "_partials/_vars";
@import "_partials/_mixins";
@import "_partials/_fonts";
* {
  box-sizing: content-box;
}
html, body {
  margin: 0;
  padding: 0;
}

.coming-soon {
  background: linear-gradient(-249%, $theme-red, rgb(50,20,30));
  width: 100%;
  height: 100vh;
  overflow: hidden;
  .img-adjust {
    width: 100%;
    object-fit: contain;
  }
  .logo {
    position: absolute;
    padding-left: 2em;
    h3 {
      @include font-quickSand();
      font-size: 4em;
      letter-spacing: 5px;
      color: #cd9933;
      margin-top: 7px;
      padding-left: 2.6em;
      text-shadow: grey 1px 0 0;
      margin-bottom: 1px;
    }
    strong {
      color: $theme-white;
    }
  }
}

@media (max-width: 768px) {
  .coming-soon-mobile {
    @include font-quickSand();
    width: 100%;
    height: 100vh;
    //background: linear-gradient(-75deg, rgb(100,49,30), rgb(200,20,30));
    background: url("../../img/inspire/png-small.png") no-repeat center;
    .inner-content {
      position: relative;
      //padding-left: 2em;
      h3 {
        @include font-quickSand();
        font-size: 3em;
        color: $theme-gold;
        padding-left: .4em;
        text-align: center;
        text-shadow: black 1px 0px 3px;
        margin-bottom: 10px;
        margin-top: 0;
        padding-top: 1em;
      }
      strong {
        color: $theme-white;
      }
      .img-adjust {
        width: 100%;
        margin: 0 0 0 4em;
        object-fit: contain;
      }
      h4 {
        font-size: 3em;
        text-align: center;
        color: black;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0;
      }
      h5 {
        font-size: 20px;
        color: $theme-white;
        text-align: center;
        letter-spacing: 2px;
        margin-top: 0;
      }
    }
  }
  .overlay {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    background: linear-gradient(-75deg, rgb(100,49,30), rgb(200,20,30));
    opacity: .7;
  }
}