@import "_partials/_vars";
@import "_partials/_mixins";

@media (max-width: 768px) {
  .addSoon {
    background: $theme-black;
    width: 100%;
    height: 100vh;
    .imgHolder {
      text-align: center;
      padding: 30px;
      img {
        animation: rotateRound infinite 20s linear;
      }
    }
    .upcomingMessage {
      padding: 3em;
      vertical-align: middle;
      position: absolute;
      bottom: 50%;
      top: 40%;
      span {
        color: $theme-gold;
        font-size: 1em;
      }
    }
  }
  .cover {
    height: 100vh;
    background: url("../../../public/img/sellerLanding.png") no-repeat center;
    background-size: cover;
  }
  .navFix {
    position: relative;
    @include transition(0.5s);
    &.scrolled {
      position: fixed;
      background: $theme-white;
      z-index: 99;
      @include boxShadow(2px, 2px, 2px, rgba($theme-black, .2));
      .navbar {
        // padding-top: 2em;
        @include transition(0.5s);
      }
    }
  }
  .designerProduct {
    .whiteText {
      color: $theme-white;
    }
    .prodMainImg {
      width: 100%;
      height: 400px;
    }
    .product-small-img {
      margin-top: 5px;
    }
    .product-des {
      padding: 14px;
    }
    .product-size {
      margin-top: 10px;
    }
    .circle-group {
      > div {
        margin: 4px 4px 0 0;
      }
    }
    .btn-wawooh {
      border-radius: 0;
    }
    .artShiftBottom {
      margin-bottom: 7px;
    }
  }

  .addMobile {
    .noBottomMargin {
      margin-bottom: 0;
    }
  }
}

@keyframes rotateRound {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}