@import "_partials/_vars";
@import "_partials/_mixins";
@import "_partials/_fonts";


section {
  position: relative;
  width: 100%;
}

.vendorProfile {
  height: 350px !important;
  margin: 0 !important;
  width: 100% !important;
  img {
    height: inherit;
    background-size: cover;
    width: 100%;
    object-fit: cover;
    position: absolute;
  }
  .Shopcover {
    content: '';
    background: $theme-black;
    opacity: .6;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  .bottomDetail {
    height: auto;
    position: relative;
    padding: 5px 24px;
    //background: $theme-white;
    top: 35%;
    text-align: center;
    h3 {
      font-size: 3em;
      color: $theme-white;
      margin-bottom: 0;
      text-shadow: $theme-black 1px 1px 4px;
    }
    h4 {
      color: $theme-white;
      font-weight: 300;
    }
  }

  .short-details {
    position: absolute;
    color: white;
    bottom: 0;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba($theme-black, .4);
    white-space: normal;
    padding: 15px;
    h5 {
      font-size: 15px;
      font-weight: 400;
      display: block;
      margin-bottom: 0;
    }
    span {
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      margin-left: 3%;
      margin-bottom: 0;
    }
  }
}

.designerDp {
  width: 160px;
  top: 28%;
  background: $theme-white;
  position: absolute;
  left: 4% !important;
  @include boxShadow(2px, 3px, 1px, $shadowBlack);
  > img {
    //border: 2px solid $theme-white;
    border-radius: 20px;
    //padding: 0 3px;
    width: 100%;
    background: no-repeat center;
    background-size: contain;
  }
}

@media (min-width: 992px) {
  .row-3-1 {
    max-width: 23% !important;
    flex: 0 0 23% !important;
  }
}

.products {
  padding: 0;
  margin: 4.4em 0 10px;
  .productshow {
    width: 100%;
    //float: left;
    height: auto;
    margin-bottom: 10px;
  }
  .sidebarproduct {
    width: 20%;
    height: 100%;
    float: left;
    margin-left: 10px;
    border: 1px solid rgba($theme-black, .18);
    .filter-price {
      background: $theme-white;
      height: auto;
      margin-top: 0;
      font-weight: 400;
      p {
        background: $theme-black;
        text-align: center;
        padding: 5px;
        color: $theme-white;
        font-weight: bold;
        font-size: 14px;
      }
    }
    .price-value {
      text-align: center;
    }
    .price-range {
      margin: 6px;
    }
  }
}
