@import "_partials/_vars";
@import "_partials/_mixins";
@import "_partials/_fonts";

html, body {
  @include josefin();
}

a:hover {
  color: $theme-inspection;
}

.error {
  @include borderLine($theme-red);
}

.navbar {
  background: $theme-black;
  .navbar-brand-wrapper {
    .navbar-brand {
      img {
        height: auto;
        background-size: contain;
      }
    }
  }
}

.toUpper {
  text-transform: uppercase;
}

.btn-wawooh {
  background-color: $theme-gold !important;
  color: $theme-white;
  font-weight: lighter;
  &:hover {
    color: $theme-white;
  }
}

.white {
  background: $theme-white !important;
}

.font-reduce {
  font-size: 16px !important;
}

.card-effect {
  width: inherit;
  @include boxShadow(0, 0, 3px, $shadowBlack);
  color: grey;
  &:hover {
    color: $theme-black;
    @include transition(0.4s);
    @include noBoxShadow(none);
  }
}

.orderDetails {
  margin-left: 0 !important;
  text-align: center;
  h5 {
    padding-top: 10px;
  }
}

.sideFix {
  position: fixed;
  @include boxShadow($shadowBlack, 2px, 0, 3px);
}

.art-modal-img {
  width: 100%;
  height: 300px;
  object-fit: contain;
  object-position: top center;
}

.modal-artwork {
  @include borderLine(rgba($theme-black, .2));
  padding: 10px;
  display: flex;
  justify-content: center;
  .img-holder-display {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    > img {
      width: 200px;
      height: 200px;
      object-position: center;
      object-fit: contain;
    }
  }
  .form-control {
    border: 1px solid rgba($theme-black, .3) !important;
  }
  .input-group-text {
    background: $theme-black;
    color: $theme-white;
    border: 1px $theme-black;
  }
  .input-group-append {
    border: 1px solid rgba($theme-black, .3) !important;
  }
}

.activationHolder {
  width: 35%;
  margin: 8em auto 0;
  @include borderLine(rgba($theme-black, .5));
  height: auto;
  overflow: hidden;
  border-radius: 4px;
  .inner-holder {
    padding: 20px;
    text-align: center;
    .head {
      .img-h {
        width: 100px;
        height: auto;
        background-size: contain;
      }
    }
    .activationContent {
      text-align: center;
      padding-top: 20px;
      h4 {
        font-size: 16px;
        font-weight: 300;
        color: $theme-black;
      }
      .form-action {
        text-align: center;
        width: 50%;
        margin: 20px auto 0;
        overflow: hidden;
        .phone-1 {
          width: 19%;
          float: left;
          margin: 1px;
        }
        .form-control {
          border-radius: 0;
          font-size: 20px;
          width: 50%;
          @include noBoxShadow(none);
          letter-spacing: 3px;
        }
        .btn {
          border-radius: 0;
          @include noBoxShadow(none);
        }
      }
      #resMes {
        margin-top: 27px;
        @include transition(0.5s);
        animation: fadeInDown linear 0.5s;
        .alert {
          padding: 10px 22px;
          font-size: 13px !important;
        }
      }
      span {
        margin-top: 10px;
      }
    }
  }
}

.nav-pills {
  .nav-link {
    color: $theme-black !important;
    &.active {
      background: $theme-black;
      color: $theme-gold !important;
    }
  }
}

/**Add Products Styles*/
.new-prod {
  background: $theme-white;
  min-height: 100% !important;
  .spaceTop {
    margin-top: 15px;
  }
  .artContain {
    width: 150px;
    height: 150px;
  }
  .input-group-prepend {
    @include borderLine($theme-black);
  }
  .input-group-text {
    background: #555;
    color: #fcfcfc;
  }
  .buttons {
    display: inline-flex;
    .btn {
      padding: 1em 2.5em;
      &:nth-child(1) {
        margin-left: 10px;
      }
    }
    .btn-addProduct {
      margin-left: 0 !important;
    }
    .btn-cancel {
      background: $theme-inspection;
      color: $theme-white;
      @include boxShadow(0, 1px, 4px, $shadowBlack);
      /* border: 1px solid grey; */
      background: black;
    }
  }
  .form-control {
    @include borderLine(rgba($theme-inspection, .6));
  }

  .measureCorner {
    span {
      color: $theme-inspection;
      padding: 10px;
      border-bottom: 1px solid $theme-black;
      text-align: center;
    }
    .sizeList {
      padding: 20px 0;
    }
  }
}

.materialImg {
  width: 110px;
  height: 100%;
}

/*--Styles for Product details--*/
.allproducts {
  padding: 5px;
  .reduce {
    background: $theme-white;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center;
      @include borderLine(rgba($theme-black, .3));
      vertical-align: middle;
    }
    h3 {
      font-weight: bold;
      padding: 5px;
      font-size: 100%;
    }
  }
  .fix-height {
    height: 310px;
    position: relative;
    padding: 8px;
  }
  .font-small {
    font-size: 14px;
    margin-bottom: 16px;
  }
  .no-product-dash {
    width: 50%;
    background: $theme-inspection;
    padding: 35px;
    margin: 15% 26%;
    font-size: 1.3em;
    a {
      color: $theme-gold;
      font-size: .9em;
      &:hover {
        border-bottom: 1px solid $theme-gold;
        @include transition(0.5s);
      }
    }
  }
}

.available-mat {
  margin-top: 50px;
  border-top: 1px solid rgba($theme-black, .2);
  padding-top: 20px;
}

/*--Pagination--*/
.pagination {
  margin: 0;
  li {
    padding: 10px 15px;
    background: #fff;
    &.disabled {
      background: #999;
    }
    &.active span {
      border-right: 1px solid #111;
      background: #ccc;
    }
    > a {
      padding: 10px 15px;
      background: #fff;
      border-right: 1px solid #111;
    }
  }
}

.product-des {
  .product-name {
    font-weight: bold;
    span {
      color: $theme-gold;
    }
  }
}

.prod-desc {
  border-radius: 2px;
  font-weight: lighter;
  line-height: 25px;
  padding: 10px;
}

.prod-message {
  border: 1px dashed rgba($theme-black, .2);
  //background: $theme-inspection;
  font-size: 14.7px !important;
  color: $theme-black;
  //text-shadow: 0 -1px 0 rgba($theme-black, 0.25);
}

.prod-message-failed {
  color: $theme-black;
  border: 1px dashed rgba($theme-red, .2);
  background: #ddd;
  font-size: 14.7px !important;
}

.seller-edit {
  text-align: right;
  margin-top: 10px;
  margin-bottom: 20px;
}

.seller-sizes {
  padding: 10px 0;
}

.selected-measurement {
  padding-left: 0;
  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  li {
    text-transform: capitalize;
    padding: 0 5px;
    background: $theme-ash;
    color: $theme-black;
    text-shadow: 0 1px 1px rgba($theme-black, .1);
    font-size: .9em;
    float: left;
    margin-left: 10px;
    margin-bottom: 5px;
    border-radius: 3px;
    &:first-child {
      margin-left: 0;
    }
  }
}

.sizeInput {
  background: $theme-black !important;
  color: $theme-gold;
  border: none;
}
.btn-product {
  background: $theme-black;
  border: none;
  color: $theme-white;
  &:hover {
    background: $theme-white;
    color: $theme-black;
    @include borderLine($theme-black);
    @include transition(0.45s);
  }
}

/*Product Edit Form*/
.product-edit {
  .card {
    margin-bottom: 6px;
    @include borderLine(#ddd);
  }
  .card-header {
    padding: 2px 0;
    background: #ddd;
    border: 1px solid #ddd;
   .btn {
     color: $theme-black;
   }
  }
  .for-label {
    font-weight: 600;
    font-size: 12px;
  }
  .mainEditFabricAction {
    position: absolute;
    top: 5px;
    padding: 5px;
    opacity: 0;
  }
  .editView {
    &:hover {
      .mainEditFabricAction {
        opacity: 1;
        @include transition(0.5s);
        z-index: 9999;
      }
    }
  }
  .measureTable {
    @include borderLine(rgba($theme-black, .3));
    text-align: center;
  }
}
.check-icon {
  position: absolute;
  bottom: 38px;
}

.check-icon-2 {
  position: absolute;
  bottom: 5px;
}
.rowGroup {
  padding: 0 0;
  overflow: hidden;
}

.imageEditDisplay {
  margin-top: 38px;
  height: 35px;
  img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    object-position: top center;
    @include borderLine(rgba($theme-black, .2));
  }
}

// Designer landing info
.designerAddProduct {
  .measureCorner {
    @include borderLine(rgba($theme-black, .2));
    padding: 5px 15px 2px;
    max-height: 200px;
    overflow: scroll;
    /*
    margin-top: 48%;
    */
    span {
      font-size: 16px;
      text-align: center !important;
      font-weight: bold;
    }
    #measureAttachment {
      padding: 3px 0 2px 0;
      //border-bottom: 1px solid rgba($theme-black, .3);
    }
    > div {
      padding: 3px 0 2px 0;
    }
  }
  .otherAdd {
    padding: 15px;
  }
  .productColor {
    position: absolute;
    top: -39px;
    left: 79%;
    > img {
      height: 40px;
    }
  }
  .addMorePictures {
    max-height: 270px;
    overflow-x: scroll;
    @include borderLine(rgba($theme-gold, .2));
  }
  .mains {
    display: inline-flex;
    margin-bottom: 15px;
  }

}

/*Vendor Profile Design*/
.vendorProfile {
  width: 79%;
  height: 100%;
  overflow: hidden;
  margin: 10px 0 0 20.5%;
  padding: 0 !important;
  @include borderLine(rgba($theme-gold, .1));
  @media (max-width: 768px) {
    width: 97%;
  }
  .sellerCover {
    width: auto;
    height: 300px;
    //background: $theme-black url("../../../public/img/designerBanner.jpeg") no-repeat center;
    background-size: cover;
    left: -9999px;
    span {
      opacity: 0;
    }
    input[type=file] {
      display: none;
      &:hover {
        + label {
          cursor: pointer;
          .overlay {
            opacity: 1;
            width: 100%;
            bottom: 0;
          }
          span {
            opacity: 1;
            @include transition(0.5s);
            //transform: scale(0.4);
          }
          //transform: scale(0.4);
          //filter: grayscale(100%);
          //border: 3px solid $theme-gold;
          //transform: rotateZ(-10deg) rotateX(10deg);
          @include transition(0.5s);
          //@include boxShadow(-4px, 4px, 10px, rgba($theme-black, 0.25))
        }
      }
      + label {
        height: 300px;
        width: 79%;
        position: absolute;
        background: black;
        > img {
          border: 1px dashed #444;
          width: 100%;
          height: inherit;
          @include transition(500ms);
          background: no-repeat center;
          object-fit: cover;
        }
      }
      &:hover {
        .overlay {
          bottom: 0;
          height: 100%;
          opacity: 1;
        }
      }
    }
    .overlay {
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      background-color: rgb(0, 0, 0);
      opacity: .4;
      overflow: hidden;
      width: 100%;
      height: 0;
      transition: ease all 0.5s;
      &:nth-child(odd) {
        background: gold;
        opacity: .5;
      }
    }
    span {
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }

    .bottomDetail {
      height: auto;
      overflow: hidden;
      position: relative;
      width: 78%;
      padding: 5px 24px;
      //background: $theme-white;
      top: 65%;
      margin-left: 22%;
      h3 {
        font-size: 3em;
        color: $theme-white;
        margin-bottom: 0;
        text-shadow: $theme-black 1px 1px 4px;
      }
      h4 {
        color: $theme-white;
        font-weight: 300;
      }
    }
  }
  .coverBanner {
    background: $theme-black;
    opacity: .7;
    content: '';
    position: absolute;
    width: 79%;
    height: inherit;
  }
  .short-details {
    width: 70%;
    position: absolute;
    bottom: 0;
    margin: auto;
    height: 30px;
    background: rgba($theme-black, .2);
  }
  .designerDp {
    width: 160px;
    top: 28%;
    height: 160px;
    position: absolute;
    //border-radius: 9px;
    @include transition(300ms);
    @include boxShadow(2px, 3px, 1px, $shadowBlack);
    left: 23%;
    > img {
      border: 2px solid $theme-white;
      border-radius: 20px;
      //padding: 0 3px;
      @include transition(300ms);
      width: inherit;
      background: no-repeat center;
      background-size: contain;
    }
  }

  #brand {
    width: 160px;
    object-fit: contain;
    object-position: center;
  }
  .overBtn {
    margin: 4em 3em 0 2.5em;
  }
  .profileDetail {
    padding: 10px 5px;
    h3 {
      text-align: center;
      color: $theme-black;
      font-size: 1em;
      padding: 10px 0 0 0;
    }
    .others {
      width: 40%;
      float: left;
      margin-right: 20px;
    }
    .basicInfo {
      //width: 50%;
      overflow: hidden;
      .table {
        margin-top: 15px;
        margin-right: 40px;
      }
      .action {
        margin-top: 10px;
        .btn {
          padding: .6em 1em;
          border-width: 0;
          outline: none;
        }
        .btn-update {
          color: $theme-white;
          background: $theme-gold;
          border-bottom-width: 3px;
          border-color: $theme-black;
          &:hover {
            border-color: $theme-gold;
            @include transition(0.5s);
          }
        }
        .btn-shop {
          @extend .btn-update;
          border-color: $theme-gold;
          background: $theme-inspection;
          &:hover {
            border-color: $theme-inspection;
          }
        }
      }
    }
  }
}

/*-------Update profile form styles-------*/
.update-form {
  //overflow: hidden;
  .form-control {
    border: 1px solid rgba($theme-black, .3) !important;
  }
  .req {
    color: $theme-red;
  }
  padding: 10px 0 0 0;
  .section-title {
    padding: 2px 0 0 0;
    margin-bottom: 20px;
    border-bottom: solid 1px rgba(7, 6, 0, .5);
    width: 100%;
    position: relative;
    span {
      color: rgba(0, 0, 0, .7);
      font-family: "Suez One", serif;
      font-size: 1em;
      text-overflow: ellipsis;
    }
    &:before {
      background: $theme-gold;
      bottom: -1px;
      width: 50%;
      position: absolute;
      display: block;
      content: '';
      height: 1px;
    }
  }

  .progress-title {
    width: 100%;
    margin-bottom: 30px;
    counter-reset: step;
    overflow: hidden;

    li {
      list-style-type: none;
      color: $theme-black;
      text-transform: uppercase;
      font-size: 12px;
      width: 33.33%;
      float: left;
      position: relative;
      text-align: center;
      &:first-child {
        &:after {
          content: none;
        }
      }
      &:before {
        content: counter(step);
        counter-increment: step;
        width: 20px;
        color: $theme-white;
        line-height: 20px;
        display: block;
        font-size: 10px;
        background: $theme-black;
        border-radius: 0;
        text-align: center;
        padding: 2px;
        margin: auto;
        position: relative;
        z-index: 99;
      }
      &:after {
        content: '';
        width: 100%;
        height: 2px;
        background: $theme-black;
        position: absolute;
        left: -50%;
        top: 12px;
        z-index: 1;
      }
      &.active {
        &:before, &:after {
          background: $theme-gold;
          color: white;
        }
      }
    }
  }
  @include specialButtons();
  // .formStyle {
  //   position: relative;
  // }
  fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 96%;
    margin: 2% 2%;

    /*stacking fieldsets above each other*/
    //position: absolute;
    &:not(:first-of-type) {
      display: none;
    }
  }
  .img-control {
    width: 250px;
    margin-top: 10px;
    @include borderLine(rgba($theme-black, .3));
    background-size: contain;
  }
}

/*------Account Settings-------*/
.update-form-account {
  background: $theme-white;
  padding: 20px;
  h3 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
  }
  @include specialButtons();
}

.size-style {
  h4 {
    font-size: .91rem;
    text-align: center;
    color: $theme-inspection;
  }
  @include specialButtons();
  .img-control {
    width: 220px;
    margin-top: 10px;
    @include borderLine(rgba($theme-black, .3));
    background-size: contain;
  }
}

/*Order Buttons Designers*/
.order-pro {
  text-align: right;
  .btn {
    padding: .4em 1.2em;
    position: relative;
    outline: none;
    color: $theme-white;
    display: block;
    float: right;
    border-width: 0;
    border-bottom-width: 3px;
    border-radius: 0;
    margin-left: 2px;
  }

  .btn-completed {
    background: $theme-completed;
  }

  .btn-accept {
    background: $theme-processing;
  }

  .btn-doneAccept {
    background: $theme-completed;
  }

  .btn-decline {
    background: $theme-rejected;
  }
}

/** Inspection Message **/
.inspection-message {
  padding: 15px;
  h3 {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    color: $theme-gold;
    //border-bottom: 1px solid rgba($theme-gold, .4);
  }
  article {
    padding-top: 15px;
    line-height: 25px;
    font-size: 14px;
    color: $theme-black;
  }
}

/**-Order Details Vendors-**/
.orderStatusVendor {
  padding: 5px;
  .product-image {
    float: right;
    //width: 300px;
    //max-height: 230px;
    @include borderLine(rgba($theme-black, .2));
    h3 {
      text-align: center;
      font-size: 1.2em;
      color: $theme-inspection;
      padding: 10px;
      border-bottom: 1px solid rgba($theme-inspection, .4);
    }
    .main-product-img {
      padding: 5px;
      .prodImg {
        width: 300px;
        background-size: contain;
        height: 100%;
      }
    }
  }
  .orderStatusDetails {
    h3 {
      font-size: .91em;
      text-align: center;
      padding: 10px;
      font-weight: lighter;
      color: $theme-inspection;
      border-bottom: 1px solid rgba($theme-inspection, .4);
    }
    .artwork-image, .material-image {
      @include borderLine(rgba($theme-black, .2));
      height: auto;
      padding: 0 15px 15px;
      .img-class {
        width: 150px;
        height: 150px;
        border-radius: 2px;
      }
      .col-md-3 {
        margin-right: 40px;
      }
    }
    .material-image {
      margin-top: 15px;
    }
    .actions {
      overflow: hidden;
      margin-top: 10px;
      @include specialButtons();
      //@include borderLine(rgba($theme-black, .2));
    }
  }

  .productSampleUpload {
    @include specialButtons();
    .hide {
      display: none;
    }
    padding: 4px;
    span {
      display: flex;
      justify-content: center;
      font-size: 1em;
      color: $theme-inspection;
    }
    .modal, .modal-dialog, .modal-content, .modal-body {
      padding: 5px 26px;
    }
    .product-sample-label {
      display: inline-block;
      width: inherit;
      height: 200px;
      background: #ccc;
      position: relative;
      cursor: pointer;
      overflow: hidden;

      &:hover {
        background: lighten(#ccc, 5%);

        &:before, &::before {
          color: rgba(3, 3, 3, .3) !important
        }
      }

      img {
        display: none;
        margin: auto;
        min-height: 100%;
        min-width: 100%;
      }

      &.picked {
        img {
          display: block
        }
      }

      &:not(.picked) {
        &:before, &::before {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          content: "ADD";
          font-size: 32px !important;
          text-align: center;
          line-height: 200px;
          color: #ededed;
          text-transform: uppercase
        }
      }

      &.preview {
        &:before, &::before {
          content: "REMOVE";
        }

        img {
          display: block;
        }
      }

      &.no-preview {
        &:before, &::before {
          content: 'Preview Unavailable';
          font-size: 22px !important;
          line-height: 1.5;
          padding-top: 6.5rem;
        }
      }
    }
  }

  .measurement-input {
    background: $theme-inspection;
    color: white;
    padding: 5px;
    .heading {
      text-align: center;
      font-weight: 400;
      letter-spacing: 2px;
    }
  }
}

/*------Product Status Style------*/
.verify-status {
  font-size: 30px;
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);
  position: absolute;
  z-index: 1;
  top: 44%;
  left: 20%;
  right: 50%;
}

.unverified {
  color: rgba(200, 20, 30, .5);
}

.verified {
  color: rgba(10, 200, 30, .5);
}

.order-head {
  color: $theme-black;
}

/***Bespoke Style***/
.modal-bespoke {
  //background: url("../../images/vendor.jpg") no-repeat center;
  width: 100%;
  height: 100%;
  background-size: cover;
  position: relative;
  .bes-header {
    position: relative;
    h4 {
      color: $theme-black;
    }
    .close {
      color: $theme-gold !important;
    }
  }
  .bes-body {
    position: relative;
    h3 {
      font-size: 1.3em;
      text-align: center;
      color: $theme-black;
      //text-shadow: $shadowBlack 2px 3px 2px;
    }
  }
  .bes-footer {
    position: relative;
    .btn {
      border-radius: 0;
      outline: none;
      border: 0;
    }
    .btn-primary {
      background: $theme-gold;
      color: $theme-black;
    }
  }
}

.user-manual-image {
  width: 40px;
  padding: 0 5px 0 0;
}

.cover-bespoke {
  background: #fcfcfc;
  opacity: .7;
  content: '';
  position: absolute;
  width: 100%;
  height: inherit;
}

.bespoke-bank {
  padding-top: 0 !important;
  .card {
    margin-bottom: 10px;
    //@include borderLine(rgba($theme-white, .2));
    background: #999;
    button {
      color: $theme-white;
    }
    .card-body {
      padding: 1.25em;
    }
  }
  .card-header {
    padding: 3px;
  }
  .card-body {
    background: #f7f7f7;
  }
  .holder {
    width: inherit;
    position: relative;
    height: 250px;
    img {
      width: inherit;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
    .bes-overlay {
      position: absolute;
      top: 35%;
      padding: 5px;
      width: 100%;
      background: rgba(255,255,255,.2);
      overflow: hidden;
      h4 {
        font-size: 15px;
        font-weight: bold;
      }
      span {
        padding: 10px;
        @include borderLine(rgba($theme-black, .2));
        color: $theme-white;
        text-shadow: #000 1px 0 1px;
      }
    }
  }
  .patent-message {
    .yes-message, .false-message {
      background: $theme-white;
      padding: 5px;
      border: 1px dashed #555;
      margin-bottom: 2px;
    }
    span {
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.bespoke-form {
  margin: 10px auto 0;
  padding-top: 15px;
  @include transition(0.5s);
  //@include borderLine($theme-black);
  @include boxShadow(0, 0, 10px, $shadowBlack);
  //background: $theme-black;
  color: $theme-black;
  .label-styled {
    padding: 0 0 20px;
    font-size: 14px;
  }
  .control-label {
    font-weight: 400;
    font-size: 14px;
  }
  .line-round {
    @include borderLine(rgba($theme-black, .2));
  }
  h3 {
    font-size: 1em;
    font-weight: 300;
  }

  .facebook-text {
    background: $facebook;
    color: $theme-white;
  }
  .twitter-text {
    background: $twitter;
    color: $theme-white;
  }
  .instagram-text {
    background: $instagram;
    color: $theme-white;
  }
  .website-text {
    background: $theme-inspection;
    color: $theme-white;
  }
  .btn {
    padding: .8em 5em;
    border-radius: 0;
  }
  .btn-bes-apply {
    background: $theme-gold;
    color: $theme-black;
  }
  hr {
    border-bottom: 1px solid $theme-white !important;
  }
  .f-load {
    position: absolute;
    width: 3%;
    left: 58%;
    right: 0;
    top: 93%;
    display: none;
  }
}

.flatpickr-calendar {
  overflow: hidden;
}

@media (min-width: 576px) {
  .modal-dialog-preview {
    max-width: 800px !important;
  }
  .modal-measurement {
    max-width: 650px !important;
  }

  /***Bespoke Style Media Configuration***/
  .modal-dialog-bespoke {
    max-width: 650px;
    margin: 10em auto !important;
    height: auto;
  }
}

@media (min-width: 1920px) {
  .vendorProfile {
    width: 80%;
    .designerDp {
      top: 30%;
    }
    .others {
      margin-top: 100px;
    }
  }
}