/**
 * Stylesheet for Wawooh HQ, Event Page
 * Developers, Longbridge Tech.
 * UI Lead: Falua Temitope Oyewole
 * Thursday, 15th September, 2018
*/
@import "_partials/_mixins";
@import "_partials/_vars";

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

@mixin latoFont() {
  font-family: 'Lato', sans-serif !important;
}

.animated {
  animation-duration: 3s !important;
  animation-delay: 500ms !important;
}

.event-category {
  @include latoFont();
  background: #ccc;
  width: 100%;
  margin: 3px auto 0;
  //justify-content: center;
  //align-items: center;
  z-index: auto;
  //display: flex;
  ul {
    width: auto;
    display: flex;
    overflow: hidden;
    list-style: none;
    margin: 0;
  }
  li a {
    float: left;
    //padding: .8em 2.3em;
    padding: .8em 2.3em .8em .8em;
    color: #555;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 15px;
    &:hover {
      color: $theme-black;
      font-weight: bold;
    }
  }
}

.event-landing {
  height: 100vh;
  background: $theme-black url("../images/gallery1.jpg");
  background-size: cover;
  .inner-landing {
    position: absolute;
    width: 60%;
    z-index: 1200;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 5%;
    .underline {
      width: 40%;
      height: 1px;
      margin: 2px auto 0;
      background-color: $theme-white;
    }
    h3 {
      font-size: 3em;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: bold;
      color: $theme-gold;
      margin-bottom: 1px;
    }
    strong {
      color: $theme-white;
    }
    span {
      font-size: 2em;
      color: $theme-white;
      animation: .3s infinite;
    }
    .searchForm {
      margin-top: 4em;
      .inputS {
        //display: inline-flex;
      }
      label {
        color: $theme-white;
      }
      .form-control {
        padding: 1em 1em;
        //border-radius: 50px;
        width: 40% !important;
        margin: auto;
        font-size: 16px;
        font-weight: bold;
        background: transparent !important;
        @include borderLine($theme-gold);
        color: $theme-white;
        &:focus {
          @include noBoxShadow(none);
        }
      }
      input::placeholder {
        text-align: center;
        font-weight: 400;
      }
      .search-icon {
        button {
          background: transparent;
          border: none;
          outline: none;
        }
        position: absolute;
        top: 83%;
        right: 15.5%;
        img {
          width: 36%;
          background-size: contain;
          background-color: rgba($theme-white, .5);
          border-radius: 50px;
          &:hover {
            background: $theme-white;
            @include transition(0.5s);
          }
        }
      }
    }
  }
  .item {
    background-size: cover;
    height: 100%;
    width: 100vw;
    background: no-repeat center;
  }
  .item1 {
    background: url("../images/img13.jpg") top no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }
  .item2 {
    @extend .item1;
    background: url("../images/buyerafrica.jpeg") top no-repeat;
  }
  .item3 {
    @extend .item2;
    background: url("../images/img06.jpg") top no-repeat;
  }
}

.no-result-div {
  width: 60%;
  margin: 2em auto 0;
  text-align: center;
  h3 {
    font-size: 2.2em;
  }
}

.mouse-div {
  max-height: 50px;
  display: block;
  z-index: 1200;
  position: absolute;
  bottom: 30%;
  margin: auto;
  left: 0;
  right: 0;
}

.mouse {
  height: 50px;
  width: 50px;
  padding-left: 2%;
  background-size: contain;
  background: no-repeat center;
  margin: auto;
  z-index: 10000000000;
  -webkit-animation-duration: 4s;
  color: white;
  -webkit-animation-iteration-count: infinite;
}

.scroll-icon {
  outline: 0;
  border: 0;
  background-size: contain;
  background: url('../../img/scroIcon.png') no-repeat center;
  height: 60px;
  width: 100%;
}

.e-cover {
  background: $theme-black;
  opacity: .72;
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
}

.tag-div {
  font-size: 17px;
  position: absolute;
  //background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(205, 153, 51, 0.2);
  float: right;
  z-index: 12;
  .event-tag {
    background: no-repeat center;
    background-size: contain;
    width: 30px;
    vertical-align: text-top;
  }
  span {
    color: $theme-white;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    width: inherit;
    vertical-align: bottom;
    padding: 10px 3px 2px;
    position: relative;;
  }
}

.tagOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgba($theme-black, .6);
}

.btn-small {
  padding: 5px 13px;
  font-size: 13px;
  background: $theme-white;
  border: none;
  border-radius: 0;
}

.tagContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  > div p {
    color: $theme-white;
    font-size: 11px;
    text-shadow: 2px 1px 2px $theme-black;
    &:nth-child(2) {
      font-weight: bold;
      font-style: italic;
      margin-top: -10px;
      font-size: 15px;
    }
    &:nth-child(3) {
      margin-top: -10px;
    }
  }
  a:hover {
    color: $theme-black !important;
  }
}

.btn-more {
  padding-top: 50%;
  text-align: center;
  .btn {
    padding: 5px 13px;
    font-size: 13px;
    border: none;
    border-radius: 0;
  }
  .btn-view-all {
    background: $theme-white;
    color: $theme-gold;
    @include borderLine($theme-gold);
    &:hover {
      @include borderLine($theme-black);
      color: $theme-black;
      @include transition(0.5s);
    }
  }
}

.videoBg {
  height: inherit;
  width: 100%;
}

.learn27 {
  background: url(http://res.cloudinary.com/har9qnw3d/image/upload/v1519796167/eventpictures/AwolowoEventevtpic1519796163624.jpg);
  background-color: rgba(152, 149, 149, 0.75) !important;
  background-blend-mode: color-burn;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 150px;
  background-position: center;
  margin-bottom: 40px;
  h2 {
    text-align: center;
    color: white;
    font-weight: bold;
    text-shadow: $shadowBlack 2px 0 2px;
    position: relative;
    top: 40%;
    font-size: 40px;
  }
}

.fixBlack {
  height: 100%;
  overflow: hidden;
}

.event-des {
  color: grey;
  margin-top: 50px;
  margin-bottom: 30px;
  line-height: 30px;
  &:first-letter {
    font-size: 4.5em;
    float: left;
    margin-top: .15em;
  }
}

.event-description {
  @include latoFont();
  position: relative;
  margin: 5px 0 5px;
  .inner-event-content {
    margin: 0 45px 0;
    padding: 0 5px 0;
    @include borderLine(rgba($theme-black, .03));
  }

  .side-title {
    padding: 7em 60px 32px 0;
    h3 {
      text-transform: capitalize;
      font-weight: 500;
      font-size: 2.4em;
    }
    .short-content {
      color: gray;
      display: block;
      font-size: 1.2em;
    }
    .published {
      display: block;
      font-size: .81em;
      margin: 15px 0 15px;
      font-weight: 400;
      .date {
        color: #999;
      }
    }
  }

  .img-first-holder {
    float: left;
    img {
      width: 95%;
      object-fit: contain;
      margin: 0 15px 0 0;
      border-radius: 3px;
    }
    .underNeath-title {
      font-size: 13px;
      color: gray;
    }
  }

  .main-content {
    width: inherit;
    margin: 15px auto;
    position: relative;
    box-sizing: border-box;
    padding-left: 0;
    .sidebar {
      width: auto;
      height: auto;
      top: 0;
      left: 0;
      padding: 4px 0 0 0;
      z-index: 400;
      ul {
        list-style: none;
        padding-left: 0;
      }
      li a {
        float: none;
        display: block;
        text-transform: capitalize;
        padding: 10px 2px;
        font-size: 14px;
        font-weight: 500;
        border-bottom: 1px solid rgba($theme-black, .14);
      }
      .btn {
        padding: 7px 35px;
        @include borderLine(rgba($theme-black, .2));
        outline: 0;
        width: 100%;
      }
      .btn-all {
        background: transparent;
        color: #555555;
        &:hover {
          @include borderLine($theme-black);
          color: $theme-black;
          i {
            &:hover {
              @include transformX();
              @include transition(400ms);
              padding-left: 10px;
            }
          }
        }
      }

      .social-sharing {
        margin-top: 6em;
        text-align: center;
        h3 {
          font-size: 17px;
          font-weight: bold;
        }
        li a {
          font-size: 24px !important;
          border-bottom: none !important;
        }
      }
    }
    main {
      display: block;
    }
    .post-content {
      position: relative;
      //font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
      letter-spacing: .01rem;
      font-weight: 400;
      padding: 0 60px 0 0;
      font-style: normal;
      font-size: 20px;
      line-height: 1.58;
      &:focus {
        outline: 0;
        word-break: break-word;
        word-wrap: break-word;
      }
      /*&::first-letter {
        font-size: 2.5em;
        float: left;
        margin-top: .15em;
        font-weight: bold;
      }*/
    }
    .middle-image {
      margin: 4px 0 0 40px;
      /*display: flex;
      justify-content: center;
      align-items: center;*/
      img {
        width: 80%;
        object-fit: contain;
      }
    }


  }

  .event-pictures {
    h3 {
      font-size: 2em;
    }
  }
  .p-button {
    padding: 10px 40px;
    border-radius: 0;
    &:focus {
      outline: 0;
    }
  }
}

/*--Event Row Grid---*/
@media (min-width: 992px) {
  .evt-1 {
    width: 31.2%;
    display: inline-block;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    //border: 1px solid #111;
    height: 300px;
    margin: 20px 13px 14px;
    color: $theme-white;
    font-size: 3em;
    text-align: center;
    @include transition(0.5s);
    //background: $theme-inspection no-repeat center;
    //animation: zoomIn .3s;
    &:nth-child(4n) {
      background: #000;
      width: 98%;
      height: 450px;
      //animation: fadeInUp .5s;
    }
    @media (max-width: 768px) {
      width: 98%;
      float: none;
    }
  }
}

.event-details {
  background: $theme-white;
  .inner-details {
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;

    .image-holder {
      position: relative;
      height: inherit;
      &:hover {
        transform: scale(1.1);
        @include transition(0.5s);
      }
    }

    .img-control {
      width: 100%;
      height: 100%;
      object-position: center top;
      object-fit: cover;
    }

    .hov1 {
      &:hover {
        .event-heading {
          @include transition(0.5s);
          margin: 18% 0;
        }
      }
    }
    .event-heading {
      position: absolute;
      background: rgba($theme-black,.3);
      color: $theme-white;
      z-index: 1;
      font-weight: 600;
      font-size: 1.3rem;
      width: inherit;
      overflow: hidden;
      text-shadow: $theme-black 1px 1px 3px;
      margin: 16% 0;
      padding: 2px 0;
      a:hover {
        color: #f7f7f7 !important;
        border-bottom: 1px solid rgba($theme-black, .1);
        font-weight: bolder;
      }
    }
    .item {
      width: inherit;
      height: 100%;
    }
  }
}
