/**
 * Stylesheet for Wawooh HQ, Home Page
 * Developers, Longbridge Tech.
 * Front-end: Falua Temitope Oyewole
 * Thursday, 15th September, 2018
*/
@import "_partials/_vars";
@import "_partials/_mixins";
@import "_partials/_styles";
@import "_partials/_fonts";

* {
  margin: 0;
  padding: 0;
}

html, body {
  @include latoFont();
  width: 100%;
  height: 100%;
  font-weight: lighter;
}

section {
  position: relative;
  width: 100%;
}

.error {
  @include borderLine($theme-red);
}

#icon-top {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #fff; //color: $theme-white;
  cursor: pointer;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, .3) -3px 3px 6px;
}

.header {
  width: 100%;
  background: transparent;
  position: absolute;
  z-index: 9999;
  nav {
    overflow: hidden;
    margin: 20px 10px 10px;
    .underline {
      position: relative;
      overflow: hidden;
      &::after {
        content: "";
        position: absolute;
        z-index: -1;
        right: 0;
        width: 0;
        bottom: 0;
        background: $theme-gold;
        height: 3.3px;
        transition-property: width;
        transition: 0.3s ease-out;
      }
      &:hover,
      :focus,
      :active {
        &::after {
          left: 0;
          right: 0;
          width: 100%;
        }
      }
    }
    .logo-brand {
      margin-left: 15px;
      display: inline-block;
      .logo-cont {
        background: center no-repeat;
        background-size: contain;
        width: auto;
        height: 40px;
      }
    }
    ul {
      float: right;
      margin-right: 31%;
      display: inline-flex;
      list-style: none;
      overflow: hidden;
    }
    li a {
      float: left;
      text-decoration: none;
      font-size: 15px;
      padding: 12px 25px;
      font-weight: 400;
      color: $theme-black;
    }
    .btn {
      padding: 12px 30px;
      @include borderLine($theme-black);
      background: transparent;
      outline: 0;
      margin-left: 5px;
      border-radius: 50px;
      color: $theme-black;
      &:focus {
        @include noBoxShadow(none);
        border: 0;
      }
      &:hover {
        @include transition(0.5s);
        background: $theme-gold;
        color: $theme-white;
        border: none;
      }
    }
  }
}

.welcome {
  height: 100vh;
  @include transition(0.5s);

  .buyer {
    width: 70%;
    float: left;
    height: inherit;
    background: $theme-deepgold url("../img/banner-live/Wawooh-Launch_Banner.jpg") no-repeat center;
    background-size: cover;
    .btnHolder {
      bottom: 20%;
      position: absolute;
      //margin-left: 30px;
      z-index: 9999;
      left: 0;
      display: flex;
      width: inherit;
      justify-content: center;
      .btn-buyer-cont:nth-child(1) {
        margin-right: 7px;
      }
      .btn {
        padding: 10px 23px;
        min-height: 1px;
        border-radius: 50px;
        @include boxShadow(2px, 2px, 3px, $shadowBlack);
        text-decoration: none;
      }
      .btn-buyer {
        background: $theme-gold;
        @include borderLine(rgba($theme-gold, .4));
        @include transition(0.5s);
        color: $theme-white;
        text-shadow: $theme-black 1px 2px 5px;
        span {
          position: relative;
          @include transition(0.5s);
          cursor: pointer;
          &:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
          }
        }
        &:hover {
          span {
            padding-right: 25px;
            &:after {
              opacity: 1;
              right: 0;
            }
          }
        }
        &:hover {
          @include transition(0.5s);
          @include noBoxShadow(none);
        }
      }
      .btn-event {
        @extend .btn-buyer;
        background: $theme-black;
      }
    }

    .over-content {
      position: absolute;
      z-index: 9999;
      width: inherit;
      top: 5%;
      margin: 14em 0 0;
      padding: 30px;
      h3 {
        font-size: 2.4em;
        text-transform: uppercase;
        font-weight: bold;
        //text-align: center;
        color: $theme-gold;
        text-shadow: $theme-black 1px 1px 0;
        margin-bottom: 0;
      }
      ul {
        list-style: none;
      }
      li {
        color: $theme-black;
        font-weight: 500;
        font-size: 1.1em;
        padding: 4px;
        text-transform: capitalize;
        text-align: left;
        display: block;
      }
    }

    .top-message {
      text-align: center;
      padding: 10px;
      left: 0;
      width: inherit;
      position: absolute;
      z-index: 9999;
      right: 0;
      h4 {
        color: $theme-black;
        font-size: 3em;
        font-weight: lighter;
        margin-top: 1.6em;
      }
    }
    .live-message {
      position: absolute;
      z-index: 9999;
      width: inherit;
      top: 10%;
      text-align: center;
      margin: 6em auto 0;
      padding: 3em;
      h3 {
        text-align: center;
        font-size: 7em;
        margin-top: 0;
        letter-spacing: 2px;
        color: $theme-gold;
        text-shadow: black 1px 2px 1px;
        line-height: 25px;
      }
      strong {
        color: $theme-white;
      }
      .img-wel {
        width: 70%;
      }
      ul {
        display: inline-block;
        list-style: none;
      }
      li {
        color: $theme-black;
        font-weight: 500;
        font-size: 1.1em;
        padding: 8px;
        text-transform: capitalize;
        text-align: left;
        display: block;
      }
    }
  }

  @include addImagesToSlide(slider, $slide);
  .owl-stage-outer {
    height: inherit;
  }
  .no-js .owl-carousel, .owl-carousel.owl-loaded {
    height: inherit;
  }
  #owl-demo {
    .item {
      img {
        display: block;
        width: 100%;
        height: inherit;
        background: no-repeat center;
        background-size: cover;
      }
    }
  }
  .slider-img {
    box-sizing: content-box;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
  }

  .seller {
    @extend .buyer;
    width: 30% !important;
    background: $theme-black url("../images/vendor.jpg") no-repeat center;
    background-size: cover;
    .vendor-msg {
      position: relative;
      margin: 14em 0 0 20px;
      width: auto;
      padding: 30px 0 0 30px;
      h3 {
        font-size: 2.4em;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        color: $theme-gold;
        margin-bottom: 0;
        padding-right: 15%;
      }
      span {
        line-height: 30px;
        color: $theme-white;
        font-size: 20px;
        strong {
          font-size: 20px;
          border-bottom: 2px solid $theme-gold;
        }
      }
    }
    .btn-pos {
      bottom: 35%;
      position: absolute;
      margin-right: 9%;
      right: 0;
      //@include borderLine($theme-gold);
      .btn {
        padding: 10px 23px;
        background: $theme-gold;
        min-height: 1px;
        border-radius: 50px;
        @include boxShadow(2px, 2px, 3px, $shadowBlack);
        text-decoration: none;
      }
      .btn-vendor {
        @include borderLine(rgba($theme-gold, .4));
        @include transition(0.5s);
        color: $theme-white;
        span {
          position: relative;
          @include transition(0.5s);
          cursor: pointer;
          &:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
          }
        }
        &:hover {
          span {
            padding-right: 25px;
            &:after {
              animation: slideInRight 0.5s linear;
              opacity: 1;
              right: 0;
            }
          }
        }
        &:hover {
          @include transition(0.5s);
          @include noBoxShadow(none);
        }
      }
    }
  }

  .center-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 66%;
    right: 50%;
    background: $theme-white;
    z-index: 12;
    @include borderLine($theme-white);
    @include transition(0.5s);
    @include boxFullShadow($shadowBlack, 0, 0, 7px, 2px);
    img {
      animation: rotate-logo 3s linear infinite;
      background-size: contain;
      background: no-repeat center;
      width: 100%;
    }
  }
}

.designerHome {
  @include latoFont();
  height: 100vh;
  .rightContainer {
    width: 65%;
    background: url("../images/designerBanner.jpeg") no-repeat center;
    background-size: cover;
    height: inherit;
    display: inline-block;
    .inner-content {
      position: relative;
      margin: 10em 3em 0;
      padding: 10px;
      text-align: left;
      h3 {
        font-size: 3.6em;
        text-transform: uppercase;
        color: $theme-gold;
        margin-bottom: 0;
        font-weight: lighter;
      }
      h4 {
        font-size: 1.6em;
        text-transform: capitalize;
        color: $theme-white;
        font-weight: lighter !important;
      }
    }
  }
  .registerCorner {
    height: inherit;
    width: 35%;
    float: right;
    background: $theme-white;
    .form-container {
      padding: 10px;
      .img-holder {
        width: 35%;
        margin: 10px auto 5px;
        img {
          width: auto;
          height: 40px;
        }
      }
      .login-form {
        //.form-group {
        //  margin-bottom: 27px;
        //}
        margin: 8em 30px 0;
        @include formControlOverRule();
        .btn {
          border-radius: 50px;
          padding: .6em 1.4em;
          outline: none;
          @include noBoxShadow(none);
        }
        .btn-login-wawooh {
          background: $theme-gold;
          color: $theme-white;
          font-weight: 400;
          letter-spacing: 1px;
        }

        .input-group-addon {
          background: transparent;
          border: none;
          border-radius: 0;
          color: $theme-gold !important;
          border-bottom: 1px solid rgba($theme-gold, .4);
        }
        .l-image {
          width: 20px;
          height: 20px;
          bottom: 43%;
          display: none;
          margin-left: 10px;
        }
        .forgetPwd {
          padding-left: 13px;
          padding-top: 10px;
          color: $theme-black;
          &:hover {
            @include transition(0.5s);
            text-decoration: underline;
          }
        }
        .hr-divider {
          text-align: center;
          margin-top: 1.8em;
          span {
            padding: 10px;
            border-radius: 100px;
            //font-weight: lighter;
            color: $theme-gold;
            background: transparent;
            @include borderLine($theme-gold);
          }
          h3 {
            font-size: 1em;
            font-weight: 400;
          }
        }
        @include quick-register();

        .regNotify {
          margin-right: 3em;
          h3 {
            font-size: 14px;
            text-align: center;
            a {
              color: $theme-gold;
            }
          }
        }
      }
    }
    .footer {
      position: absolute;
      bottom: 10px;
      text-align: center;
      right: 9%;
      span {
        font-size: .8em;
        color: $theme-black;
        text-align: center;
        align-content: center;
      }
    }
  }
}

.cover-layer {
  background: $theme-black;
  opacity: .7;
  content: '';
  position: absolute;
  height: 100%;
  width: inherit;
}

.b-cover {
  background: $theme-white;
  opacity: .7;
  content: '';
  position: absolute;
  height: 100%;
  width: inherit;
  z-index: 10;
}

.v-cover {
  background: $theme-black;
  opacity: .7;
  content: '';
  position: absolute;
  height: 100%;
  width: inherit;
}

.mouse-div {
  display: none;
}

@include modalOverRule();

.footer {
  background: transparent;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10;
  .inner-footer {
    color: $theme-black;
    position: relative;
    padding: 10px;
    text-align: center;
    font-size: .9em;
    span a {
      color: $theme-black;
      //text-shadow: $theme-black 2px 0px 4px;
      //display: inline-block;
    }
  }
}

.home-footer {
  background: transparent;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10;
  .inner-footer {
    color: $theme-black;
    position: relative;
    padding: 10px;
    text-align: center;
    font-size: .9em;
    span a {
      color: $theme-black;
      //text-shadow: $theme-black 2px 0px 4px;
      //display: inline-block;
    }
  }
}

@keyframes rotate-logo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.plus {
  margin-top: 2em;
}

.plus8 {
  margin-right: 8em !important;
}

.infoCard {
  width: inherit;
  margin-top: 40px;
  height: 200px;
  background: transparent;
  border-left: 8px solid $theme-white;
  padding: 4%;
  @include perspective(800px);
  @include latoFont();
  .iconMes {
    text-align: center;
    color: $theme-gold;
    font-weight: lighter;
    @include backface();
    &:hover {
      cursor: pointer;
      .openDefault {
        display: none;
      }
      &:before {
        @include transition(0.3s);
        //animation: fadeInUp .5s;
        content: '\F2B6';
        color: $theme-white;
        position: absolute;
        font-family: FontAwesome;
        font-size: 3em;
        top: 27%;
        right: 44%;
      }
    }
    .open {
      position: absolute;
      left: 44%;
      top: 36%;
      display: none;
    }
  }
}

.card {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  @include transformNew();
  @include transformStyle();
  &.flipped {
    @include transformX();
  }
  .front, .back {
    display: block;
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 2em;
    position: absolute;
    @include backface();
    box-shadow: 3px 5px 20px 2px rgba(0, 0, 0, 0.25);
  }
  .front {
    background: rgba($theme-black, .5);
    h6 {
      font-size: 1em;
      font-weight: 400;
      text-align: center;
      color: $theme-gold;
      padding-top: 30px;
    }
  }
  .back {
    background: rgba($theme-black, .5);
    padding: 10px;
    @include transformX();
    .content {
      h3 {
        font-size: 14px;
      }
      ul {
        list-style: none;
        margin: 20px 0 0 0;
        overflow: hidden;
        counter-reset: step;
      }
      li {
        padding: 20px;
        float: left;
        width: 100px;
        height: 100px;
        margin-left: 14%;
        @include borderLine($theme-gold);
        border-radius: 100%;
        &:nth-child(2) {
          background: $theme-black;
        }
        span {
          font-size: .4em;
          position: absolute;
          bottom: 60px;
          margin-left: -7px;
          &:nth-child(3) {
            margin-left: 10px !important;
          }
        }
        &:hover {
          background: $theme-white;
          @include transition(0.5s);
          border: none;
          span {
            color: $theme-gold;
          }
        }
        &:after {
          width: inherit;
          height: 1px;
          content: '';
          position: absolute;
          background-color: $theme-gold;
          top: 56%;
          left: 50%;
          z-index: -1;
        }
      }
      strong {
        font-size: 20px;
        padding-top: 5px;
        text-align: center;
        color: $theme-gold;
      }
    }
  }
}

@media (max-width: 768px) {
  #icon-top {
    padding: 18px;
    bottom: 5px;
    right: 2px;
  }
  .mouse-div {
    max-height: 50px;
    display: block;
    z-index: 9999;
    position: absolute;
    bottom: 8%;
    margin: auto;
    left: 0;
    right: 0;
  }
  .mouse {
    height: 50px;
    width: 50px;
    background-size: contain;
    background: no-repeat center;
    margin: auto;
    z-index: 10000000000;
    -webkit-animation-duration: 4s;
    color: white;
    -webkit-animation-iteration-count: infinite;
  }

  .scroll-icon {
    outline: 0;
    border: 0;
    background-size: contain;
    background: url('../../../public/img/scroIcon.png') no-repeat center;
    height: 60px;
    width: 100%;
  }
  .header {
    nav {
      ul {
        margin-right: 22%;
        margin-top: 2%;
      }
    }
    &.scrolled {
      @include transition(0.5s);
      position: fixed;
      z-index: 9999999;
      background: rgba($theme-white, .6);
      nav {
        li a {
          color: $theme-black;
          font-weight: bold;
        }
        .btn {
          @include borderLine($theme-black);
          color: $theme-black;
        }
      }
    }
  }
  .welcome {
    .buyer, .seller {
      width: 100% !important;
      float: none;
    }
    .buyer {
      .over-content {
        h3 {
          font-size: 1.5em;
        }
        margin: 10em 0 0;
        padding: 10px;
      }
      .btn-buyer-cont {
        bottom: 20%;
        left: 70px;
      }
    }
    .seller {
      .vendor-msg {
        margin: 0;
        padding: 14em 30px 0;
      }
      .btn-pos {
        bottom: -60%;
        right: 71px;
      }
    }
    .center-circle {
      display: none;
    }
    .owl-stage-outer {
      height: 100vh;
    }
    .no-js .owl-carousel, .owl-carousel.owl-loaded {
      height: 100vh;
    }
    #owl-demo {
      .item {
        img {
          display: block;
          width: 100%;
          height: 100vh;
          background-size: cover;
        }
      }
    }
  }
  footer {
    bottom: -100%;
  }
}

@media (min-width: 1920px) {
  .welcome {
    .buyer {
      .btnHolder {
        bottom: 45%;
      }
    }
    .center-circle {
      left: 67%;
    }
    .seller {
      .btn-pos {
        bottom: 47%;
      }
    }
  }
  .designerHome {

  }
}

@media (max-width: 1366px) {
  .welcome {
    .seller {
      .btn-pos {
        bottom: 30%;
      }
    }
  }
}
