/**
 * Stylesheet for Inspire Section
 * Developers, Longbridge Tech.
 * Thursday, 6th September, 2018
*/
@import "_partials/_mixins";
@import "_partials/_vars";
@import "_partials/_fonts";


a {
  color: inherit;
}

.landing-welcome {
  width: 100%;
  overflow: hidden;
  height: calc(100vh - 0px);
  //background: linear-gradient(-270deg, $theme-black, rgb(50, 30, 30));
  .headings {
    position: absolute;
    width: 100%;
    z-index: 99999;
    .headline {
      padding: 11em 0 0 0;
      text-align: center;
      position: absolute;
      left: 0;
      z-index: 99999999;
      right: 0;
      h1 {
        color: $theme-white;
        font-weight: 200;
        //font-size: 4em;
      }
      .wrap {
        color: $theme-gold;
        font-size: 3em;
        font-weight: 200;
      }
      .help-btn {
        margin-top: 3em;
        border-top: 1px solid rgba($theme-black, .2);
        @include specialButtons();
      }
    }
  }

  .slide-img {
    //background: url("../../img/buyerafrica.jpeg") no-repeat center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    object-position: center top;
    .item {
      width: 100%;
      height: inherit;
      img {
        object-fit: cover;
        object-position: top center;
        height: 100vh;
        width: 100%;
      }
    }
  }
}
.particles-js-canvas-el {
  position: absolute;
  z-index: 1200;
}
.modal {
  //z-index: 10000 !important;
}
.overlay-cover {
  background: linear-gradient(-270deg, $theme-black, rgb(50, 30, 30));
  opacity: .8;
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.categories {
  width: 100%;
  height: auto;
  margin: 3em auto 0;
  position: relative;
  .inner-cat {
    overflow: hidden;
    .cat-1 {
      width: 33%;
      height: auto;
      display: inline-block;
      margin: 0 auto 4px;
      background: rgb(22, 20, 33);
      position: relative;
      //border-right: 1px solid #222;
      &:nth-child(even) {
        background: rgba(0, 0, 0, .8);
        height: 500px;
      }
      &:hover {
        .overlay {
          bottom: 0;
          height: 100%;
        }
      }
    }
    img {
      width: 100%;
      background: no-repeat center;
      background-size: contain;

    }
    .blank-page {
      height: 300px;
      width: inherit;
      background: $theme-black;
    }
    .blank-page-w {
      @extend .blank-page;
      background: $theme-inspection;
      width: 100%;
    }
  }
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    margin: 0;
    background-color: rgb(0,0,0);
    opacity: .4;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: ease all 0.5s;
    &:nth-child(odd) {
      background: gold;
      opacity: .5;
    }
  }
  span {
    color: white;
    font-weight: bold;
    font-size: 32px;
    text-shadow: $theme-black 1px 0 1px;
    position: absolute;
    border-bottom: 2px solid $theme-white;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .view-more {
    text-align: center;
    margin-top: 2em;
    .btn {
      padding: .5em 3em;
      font-size: 16px;
      border-radius: 0;
      outline: none;
      text-transform: uppercase;
      @include borderLine($theme-black);
      background: $theme-white;
    }
    .btn-cat {
      color: $theme-black;
      font-weight: bold;
      letter-spacing: 2px;
      &:hover {
        @include transition(0.5s);
        background: $theme-black;
        color: $theme-white !important;
        border: none;
      }
    }
    //&:hover {
    //  .otherCat {
    //    display: block;
    //  }
    //}
  }
  .otherCat {
    width: 26.6%;
    margin: 0 auto 0;
    display: none;
    ul {
      overflow: hidden;
      margin: 0;
      padding: 0;
    }
    li a {
      display: block;
      float: none;
      padding: .5em 3em;
      background: $theme-white;
      color: $theme-black;
      @include borderLine($theme-black);
      border-top: none !important;
      animation: slideInDown 0.5s;
    }
  }
}

.inspire-banner {
  background: $theme-inspection url("../../../public/img/inspire/testland.jpeg") no-repeat left;
  background-size: cover;
  height: 440px;
  width: 100%;
  .cover-layer {
    background: $theme-black;
    opacity: .7;
    content: '';
    position: absolute;
    height: 100%;
    width: inherit;
  }
}

.inner-inspire {
  position: absolute;
  width: 60%;
  z-index: 9999;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  padding-top: 10%;
  .underline {
    width: 40%;
    height: 1px;
    margin: 2px auto 0;
    background-color: $theme-white;
  }
  h4 {
    font-size: 4em;
    letter-spacing: 2px;
    font-weight: bold;
    color: $theme-gold;
    margin-bottom: 1px;
  }
  strong {
    color: $theme-white;
  }
  span {
    font-size: 2em;
    color: $theme-white;
    animation: .3s infinite;
  }
  .searchForm {
    margin-top: 5em;
    .inputS {
      //display: inline-flex;
    }
    .form-control {
      padding: 1.7em 2em;
      border-radius: 50px;
      width: 60% !important;
      margin: auto;
      font-size: 16px;
      font-weight: bold;
      background: transparent;
      @include borderLine($theme-gold);
      color: $theme-white;
      &:focus {
        @include noBoxShadow(none);
      }
    }
    .search-icon {
      button {
        background: transparent;
        border: none;
        outline: none;
      }
      position: absolute;
      top: 83%;
      right: 15.5%;
      img {
        width: 36%;
        background-size: contain;
        background-color: rgba($theme-white, .5);
        border-radius: 50px;
        &:hover {
          background: $theme-white;
          @include transition(0.5s);
        }
      }
    }
  }
}

.hashtag-holder {
  width: 100%;
  @include hashTags();
}

.inspire-prod {
  width: 100%;
  height: auto;
  margin: .2em auto 0;
  position: relative;
  .side-category {
    position: absolute;
    margin-top: 10px;
    height: auto;
    width: 20%;
    background: #F6F8FA;
    //@include borderLine($theme-gold);
    @include boxShadow($shadowBlack, 1px, 1px, 3px);
    h3 {
      padding: 10px 0 15px 0;
      color: $theme-white;
      background: $theme-black;
      text-align: center;
      font-size: .9em;
      font-weight: 500;
    }
    a {
      color: $theme-black !important;
    }
    .nav-link {
      border-bottom: 1px solid rgba($theme-gold, .2);
    }
    .side-tags {
      margin-top: 3em;
      @include hashTagSide();
    }
  }

  .inner-prod {
    margin-left: 258px;
    min-height: 100vh;
    padding: 0 0.7rem;
    transition: width 0.25s ease, margin 0.25s ease;
    width: calc(100% - 220px);
    .ins-1 {
      width: 31%;
      height: 400px;
      display: inline-block;
      margin: 0 auto 12%;
      padding: 0 5px 0 5px;
      position: relative;
      //box-shadow: $shadowBlack 3px 2px 2px;
      //@include borderLine(rgba($theme-black, .2));
    }
    .product-fix {
      height: inherit;
      background: $theme-white;
      box-sizing: content-box;
      &:hover {
        .overlay {
          bottom: 0;
          height: inherit;
        }
        span a {
          opacity: 1;
          z-index: 1200;
          @include transition(0.5s);
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
        img {
          filter: grayscale(100%);
          transform: scale(1.02, 1.02);
          //@include transition(transform 2s);
          transition: transform 2s;
          overflow: hidden;
        }
      }
      img {
        width: 100%;
        object-fit: cover;
        object-position: top;
        height: inherit;
        background: no-repeat center;
        background-size: contain;
      }
    }

    .bottom-details {
      height: auto;
      overflow: hidden;
      width: auto;
      padding: 5px 2px;
      text-align: left;
      //@include borderLine(rgba($theme-black, .2));
      h3 {
        font-weight: bolder;
        font-size: 17px;
        margin-bottom: 0;
        color: $theme-inspection;
      }
      span {
        font-weight: bold;
        font-size: 15px;
        color: $theme-inspection;
      }
      .pPrice {
        list-style: none;
        padding: 0 4px 4px 0;
        margin: 0;
        .old {
          padding-top: 5.5px;
          text-decoration: line-through;
          font-size: 12px !important;
        }
        li {
          float: left;
          font-size: 18px;
          margin: 0;
          font-weight: bold;
          &:nth-child(2) {
            margin-left: 10px;
          }
        }
      }
      .discount {
        float: right;
        margin: 0 23% 0 0;
        list-style: none;
        li {
          padding: 3px;
          //margin-left: 2.6em;
          margin-left: 0;
          border: 2px solid $theme-gold;
          font-size: 12px;
          color: $theme-gold;
          font-weight: bold;
        }
      }
    }

  }

  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    opacity: .4;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: ease all 0.5s;
    &:nth-child(odd) {
      background: gold;
      opacity: .5;
    }
  }
  span a {
    font-size: 20px;
    position: absolute;
    opacity: 0;
    top: 70%;
    left: 50%;
    z-index: 9999;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .btn {
    padding: 10px 15px;
    border-radius: 4px;
    font-weight: bold;
    text-transform: uppercase;
    @include borderLine($theme-inspection);
  }

  .btn-getNow {
    background: rgba($theme-inspection, .4);
    color: $theme-white;
    text-shadow: $theme-black 2px 2px 2px;
  }
}

.inspire-prod-details {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 3em auto 10px;
  .spaceTop {
    margin-top: 1.4em;
  }
}

.sidePicture {
  .inner-content {
    padding: 10px 0 10px 20px;
    height: 100%;
    ul {
      list-style: none;
      padding-left: 0;
      padding-right: 16px;
    }
    li a {
      display: block;
      padding: 0;
      margin: 15px 0;
      @include borderLine(rgba($theme-black, .2));
      img {
        width: 100%;
        height: 100px;
        object-fit: contain;
        object-position: center;
      }
    }
  }
}

.main-picture {
  padding: 10px 0 15px 20px;
  img {
    width: 100%;
    height: 400px;
    @include borderLine(rgba($theme-black, .02));
    object-fit: scale-down;
    object-position: center;
  }
}

.inspire-product-details {
  padding: 0 0 15px 5px;
  overflow: hidden;
  margin: 10px 0;
  h3 {
    font-size: 2em;
    color: $theme-black;
    text-align: left;
    margin: 0;
    font-weight: lighter;
  }
  .dis-top {
    margin-top: 12px;
  }
  span {
    margin-top: 10px;
  }
  .form-control[select] {
    border-radius: 0;
  }
  .btn {
    padding: 0.4em 5em !important;
  }
  @include specialButtons();
}


/*----Modal for robot conversation---*/

.modal-dialog-robot {
  min-width: 700px !important;
  margin-top: 4em;
}

.robotForm {
  background: linear-gradient(-30deg, rgb(129, 59, 50), rgb(40, 30, 30));
  width: inherit;
  min-height: 400px;
  span {
    font-size: 2em;
    font-weight: lighter;
    line-height: 25px;
    color: $theme-white;
    animation-delay: 0.8s;
  }
  .robot-word span {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end),
              blink-caret .75s step-end infinite;
  }
  @include specialButtons();
}

.holder {
  width: 100%;
  margin: 20px auto 0;
}

.form-robot {
  width: 90%;
  display: inline-block;
  height: 300px;
  margin-right: 2%;
  .response {
    padding: 4em 0 0 6em;
  }
  .robot-hide {
    //left: -9999px;
    input[type=radio] {
      display: none;
      &:checked {
        + label {
          //filter: grayscale(100%);
          //border: 3px solid $theme-gold;
          //transform: rotateZ(-10deg) rotateX(10deg);
          transform: scale(1, 0.9);
          border-radius: 50px;
          @include transition(0.5s);
          @include boxShadow(-4px, 4px, 10px, rgba($theme-black, 0.25))
        }
      }
      + label {
        > img {
          //border: 1px dashed #444;
          width: 150px;
          height: 150px;
          @include transition(500ms);
          background: no-repeat center;
          background-size: contain;
        }
      }
    }
  }
}

.modal-footer {
  border-top: none;
}
.robot-img {
  width: 30%;
  height: 300px;
  float: right;
  border: 1px solid;
}


/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 100%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent
  }
  50% {
    border-color: orange;
  }
}