@import "_partials/_mixins";
@import "_partials/_vars";
@import "_partials/_fonts";

* {
  box-sizing: border-box;
}

html,body {
  margin: 0;
  padding: 0;
  @include latoFont();
}

h1, h2, h3, h4,h5 {
  margin: 0;
}
/* Invoice Style */
.invoice-container {
  width: 90%;
  margin: 4rem auto;
  //border: 1px solid rgba($theme-black,.3);
  height: 100%;
  padding: 5px;
  .img-invoice {
    width: 160px;
    object-fit: contain;
  }
  .table {
    margin-top: 10px;
    thead, th {
      padding: .2rem 0;
      font-size: 13px;
      text-align: center;
      border-top: none;
      background: #ddd;
    }

    td {
      padding: .2rem 0;
      font-size: 13px;
      border-top: none;
    }
  }
  h3 {
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 1rem;
    font-size: 1.2rem;
    margin: 0;
  }
  .order-details {
    h4 {
      position: relative;
      font-size: 13px;
      line-height: 16px;
      margin: 0;
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        border-bottom: 1px solid $theme-black;
        bottom: 0;
        left: 0;
        top: 35px;
      }
    }
    .orderNum {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
  .header {
    background: #ddd;
    padding: 5px;
    border-bottom: 1px solid $theme-black;
    h5 {
      font-size: 14px;
      font-weight: bold;
      margin: 0;
    }
  }
  .d-title {
    font-size: 14px;
    font-weight: bold;
    padding-left: 15px;
  }
  .orderItemDetails {
    border-bottom: 1px solid $theme-black;
    border-top: 1px solid $theme-black;
    padding: 10px 4px;
  }
  .underlineTable {
    tr {
      border-bottom: 1px solid #000;
      &:last-child {
        border-bottom: none;
      }
    }
  }
  .content-user {
    margin-top: 10px;
    h4 {
      font-size: 13px;
    }
    p {
      font-size: 13px;
    }
  }
}

.noteHead {
  justify-content: space-between;
  background: #cd9933;
  padding: 15px;
}

.delivery-note {
  h4 {
    color: $theme-white;
    font-weight: lighter;
  }
  h3 {
    padding-top: 3rem !important;
    text-transform: capitalize !important;
  }
  .head-bg {
    background: $theme-gold !important;
    padding: 5px;
  }
  .appendSign {
    margin-top: 4rem;
    justify-content: space-between;
    div {
      flex: 0 0 30%;
      h5 {
        text-align: center;
        position: relative;
        font-size: 13px;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          width: 100%;
          height: 1px;
          background: #000000;
          left: 0;
          right: 0;
        }
      }
    }
  }
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  thead {
    vertical-align: bottom;
  }
}

.rowHolder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.Col7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

.Col5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}
.Col6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}
.Col12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}