/**
 * @author
 * Stylesheet for Wawooh HQ, General Usage Page
 * Developers, Longbridge Tech.
 * Developed by: Falua Temitope Oyewole & Marcia Cole
 * Thursday, 29th November, 2018
*/

@import "_partials/_vars";
@import "_partials/_mixins";
@import "_partials/_fonts";

html, body {
  font-family: 'Josefin Sans', sans-serif !important;
  overflow: hidden;
}

a {
  color: $theme-white !important;
}

h1 {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 900 !important;;
  font-size: 50px !important;;
}

.user {
  color: $theme-gold;
  @include roundButtons();
}

.btn {
  border-radius: 27px;
  font-size: 15px;
  /* font-weight: bold; */
  padding: 5px 45px;
}

.logo {
  width: 200px;
  img {
    width: 100%;
  }
}

.navbar-nav {
  margin-right: 0;
  margin-left: auto;
}

.designer {
  background-image: linear-gradient(rgba(205, 153, 51, 1), rgba(205, 153, 51, 0.8), rgba(0, 0, 0, 0.9));
  color: $theme-white;
  h1 {
    text-shadow: 4px 4px 10px #946915;
  }
  @include roundButtons();
}

.relative {
  position: relative;
}

.main-height {
  width: 100%;
  height: 100vh;
  /* background-image: url(model4.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  background-size: 800px; */
}

.full-height {
  height: 100%;
  width: 100%;
}

.absolute {
  position: absolute;
  top: 0;
  left: 15px;
}

.content-position {
  position: absolute;
  top: 34%;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 100px;
  p {
    font-size: 20px;
  }
}

.nav-link {
  color: $theme-white !important;
  font-size: 13px;
}

.social-link {
  overflow: hidden;
  li a {
    padding: 3px 7px !important;
    border-radius: 50px;
    margin: 0 3px;
    &:hover {
      .facebook {
        color: $facebook;
      }
      .twitter {
        color: $twitter;
      }
      .instagram {
        color: $instagram;
      }
    }
  }

}

.navbar {
  z-index: 2000;
  padding: 30px;
}

.svg-image {
  width: 100% !important;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  z-index: -1000;
  img {
    width: 100%;
    height: 100%;
  }
}

.model-img {
  position: absolute;
  bottom: 0;
  z-index: -500;
  width: 100%;
  text-align: center;
  height: 90%;
  img {
    height: 100%;
    margin-left: -50px;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  right: 3%;
  font-size: 12px;
  color: white;
  a {
    cursor: pointer;
  }
}

.cat-link {
  .underline {
    position: relative;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      right: 0;
      width: 0;
      bottom: 0;
      background: $theme-black;
      height: 1px;
      transition-property: width;
      transition: 0.3s ease-out;
    }
    &:hover,
    :focus,
    :active {
      &::after {
        left: 0;
        right: 0;
        width: 100%;
      }
    }
  }
  ul {
    display: inline-flex;
    list-style: none;
  }
  li a {
    float: left;
    padding: 3px 7px;
    color: $theme-white;
    text-decoration: none !important;
    &:hover {
      @include transition(0.5s);
      padding-bottom: 2px;
      border-bottom: 1p solid rgba($theme-black, .3);
    }
  }
}

.nav-icon {
  margin: 0 3px;
}