/**
 * Stylesheet for Wawooh HQ
 * Developers, Longbridge Tech.
 * UI Lead: Falua Temitope Oyewole
 * Thursday, 6th September, 2018
*/
@import "_partials/_mixins";
@import "_partials/_vars";
@import "_partials/_fonts";

.header {
  width: 100%;
  background: white;
  position: relative;
  //z-index: 9999;
  nav {
    clear: both;
    position: relative;
    margin: 0 0 0;
    padding: 0 0 0;
    .underline {
      position: relative;
      overflow: hidden;
      &::after {
        content: "";
        position: absolute;
        z-index: 1;
        right: 0;
        width: 0;
        bottom: 0;
        background: $theme-gold;
        height: 1.3px;
        transition-property: width;
        transition: 0.3s ease-out;
        &.active {
          border-bottom: 2px solid $theme-gold;
        }
      }
      &:hover,
      :focus,
      :active {
        &::after {
          left: 0;
          right: 0;
          width: 100%;
        }
      }
    }
    .logo-brand {
      margin: 10px 20px 0;
      display: inline-block;
      .logo-cont {
        object-position: center;
        background-repeat: no-repeat;
        object-fit: contain;
        width: auto;
        height: 35px;
      }
    }
    ul {
      margin-right: 0;
      padding-left: 0;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      list-style: none;
      overflow: hidden;
      display: flex;
      justify-content: start;
    }
    li a {
      float: left;
      text-decoration: none;
      font-size: 14px;
      padding: 17px 20px 10px;
      margin-left: 2px;
      position: relative;
      color: $theme-black;
      font-weight: 400;
    }
    .drop-down {
      cursor: pointer;
      display: block;
      &:hover {
        > .dropmenu, ul li {
          display: block;
          @include transition(0.5s);
          animation: fadeIn 0.7s linear;
        }
      }
    }
    .dropmenu {
      display: none;
      position: absolute;
      background: $theme-black;
      width: auto;
      right: 17%;
      text-align: center;
      //box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1200;
      top: 68%;
      ul {
        list-style: none;
        padding-left: 0;
        color: $theme-white;
        display: block;
        margin-right: 0;
        min-width: 120px;
      }
      li a {
        color: $theme-white;
        padding: 12px 16px;
        text-align: center;
        letter-spacing: 0 !important;
        text-decoration: none;
        display: block;
        border-bottom: 1px solid rgba($theme-gold, .2);
        float: none;
        &:hover {
          background: $theme-inspection;
        }
      }
    }
    img {
      width: 20px;
      object-fit: contain;
      height: 20px;
      vertical-align: text-bottom;
    }
    .cart-sup {
      position: absolute;
      top: 9px;
      background: $theme-gold;
      width: 16px;
      height: 16px;
      color: $theme-white;
      border-radius: 50px;
    }
  }
  &.scrolled {
    position: fixed;
    @include transition(0.26s);
    @include boxShadow($shadowBlack, 2px, 1px, 2px);
    animation: fadeInDown linear .9s;
    z-index: 9999;
    top: 0;
  }
  .sign-name {
    display: inline-flex;
    vertical-align: middle;
  }
}

.top-nav {
  width: 100%;
  background: $theme-ash;
  //border-bottom: 1px solid rgba($theme-black, .2);
  //height: 30px;
  overflow: hidden;
  ul {
    display: contents;
    //float: right;
    margin: 0 0 0 0;
    list-style: none;
    overflow: hidden;
  }
  li a {
    padding: 4px 12px;
    color: #333 !important;
    font-size: 80%;
    font-weight: 400;
    border-right: 1px solid rgba($theme-white, .2);
    float: left;
    &:hover {
      color: $theme-black;
    }
  }
  select {
    margin-top: 4px;
    border: 0;
    background: transparent;
    color: green;
    &:focus {
      @include noBoxShadow(none);
      outline: none;
    }
  }
  .info-alert {
    padding: 0 20px 0;
    color: $theme-white;
    font-weight: bold;
    animation: flash linear 3s;
    animation-iteration-count: 7;
    .count-down {
      margin-left: 3%;
      color: gold;
      display: inline-flex;
      > div {
        padding: 0 10px 0 0;
        display: inline-block;
        > span {
          padding: 0;
          font-size: 15px;
        }
      }
    }
  }
}

.product-search {
  position: relative;
  padding: 5px 0 0;
  .form-control {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 0 0 0 30px;
    border-right: none;
  }
  .btn {
    border-radius: 0;
    outline: 0;
    &:focus {
      @include noBoxShadow(none);
    }
    &:hover {
      @include transition(0.5s);
      background: transparent;
    }
  }
  .btn-search {
    background: transparent;
    color: $theme-black;
    font-weight: 500;
  }
  .input-group-addon {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
}

/**Filter styling**/

.categoryNavList2 {
  background-color: #eee;
  color: grey;
  padding: 10px;
  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    p {
      margin-bottom: 0;
    }
  }
  .col-md-2 {
    margin: 7px 0;
  }
  .header-title {
    padding: 14px;
    font-size: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    background: #f7f7f7;
    margin: 0 0;
  }

}

.categoryNavList {
  background-color: #eee;
  color: grey;
  padding: 10px;
  .btn-group {
    margin-right: 1%;
  }
  .btn-filter {
    background: $theme-offwhite;
    color: $theme-black;
    border-radius: 50px;
    padding: 10px 40px;
    @include borderLine(rgba($theme-black, .2));
  }

  .dropdown-menu {
    z-index: 99999;
    min-width: 16rem;
    @include boxFullShadow(1px, 1px, 13px, -2px, #cccccc);
    border: none;
    margin-top: .31em;
    border-radius: 2px;
    h3 {
      text-align: center;
      font-size: 14px;
      color: $theme-gold;
      font-weight: bold;
      padding: 5px;
      border-bottom: 1px solid rgba($theme-gold, .5);
    }
    .body-cont {
      margin: 0 10px;
      ul {
        list-style: none;
        padding-left: 0;
      }
      li a {
        color: $theme-black !important;
        padding: 10px 0;
        text-align: left;
        text-decoration: none;
        display: block;
        border-bottom: 1px solid rgba($theme-black, .2);
        border-right: none;
        float: none;
        position: relative;
        font-weight: 400;
        font-size: 13px;
        &:hover {
          color: $theme-gold !important;
          .icon-ser {
            opacity: 1;
            @include transition(0.5s);
          }
        }
      }
      .icon-ser {
        float: right;
        opacity: 0;
        vertical-align: middle;
      }
    }
  }
  .drop-content {
    @include boxFullShadow(1px, 1px, 13px, -2px, #cccccc);
    display: none;
    position: absolute;
    background: white;
    max-height: 300px;
    max-width: 350px;
    z-index: 1200;
    top: 70px;
    right: 0;
    margin-top: 5px;
    left: 2%;
    overflow-y: scroll;
    .body-cont {
      margin: 10px;
    }
    .wrapMe {
      -webkit-column-count: 2; /* Chrome, Safari, Opera */
      -moz-column-count: 2; /* Firefox */
      column-count: 2;
      -webkit-column-gap: 5px; /* Chrome, Safari, Opera */
      -moz-column-gap: 5px; /* Firefox */
      column-gap: 5px;
    }
    h3 {
      text-align: center;
      font-size: 16px;
      color: $theme-gold;
      font-weight: bold;
      padding: 20px;
      border-bottom: 1px solid rgba($theme-gold, .5);
    }
  }
}

/**-Footer Section-**/
.footer {
  height: auto;
  clear: both;
  width: 100%;
  @media (min-width: 768px) {
    .col-md-1 {
      -ms-flex: 0 0 12.333333% !important;
      flex: 0 0 12.333333% !important;
      max-width: 12.333333% !important;
    }
  }
  .inner-footer {
    padding: 25px 0 5px 1px;
    background: #ccc;
    margin: 0;
    color: $theme-black;
    //text-align: center;
    h3 {
      text-align: left;
      padding-left: 5px;
      font-size: 1em;
      //color: $theme-white;
      font-weight: bold;
    }
    ul {
      list-style: none;
      margin: 0;
      padding-left: 0;
    }
    li a {
      float: none;
      display: block;
      color: #333333 !important;
      text-align: left;
      font-size: .9em;
      padding: 6px;
      &:hover {
        color: $theme-gold !important;
      }
    }
    .subscribe {
      //padding: 0 0 15px 0;
      margin-left: 1.4%;
      small {
        color: #333333;
        font-weight: lighter;
      }
      .form-inline-sub {
        //justify-content: center;
        .form-control {
          background: $theme-offwhite;
          border-radius: 0;
          //padding: 0.375rem 1.3rem;
          width: 100% !important;
          @include borderLine($theme-white);
          border-right: none;
          height: 3em;
        }
        .btn {
          border-radius: 0;
        }
        .btn-sub-f {
          background-color: #555;
          overflow: hidden;
          color: $theme-white;
          padding: 12px 20px;
          border: none;
          &:hover {
            background: $theme-black;
            color: $theme-white;
          }
        }
      }
    }
    .social-actions {
      padding: 10px 0;
      li a {
        float: left;
        padding: 7px 13px;
        color: #555 !important;
        border: 1px solid #555;
        margin: 0 10px 0 0;
        .facebook {
          color: $facebook;
        }
        .twitter {
          color: $twitter;
        }
        .medium {

        }
        .instagram {
          color: $instagram;
        }
        &:hover {
          background: $theme-gold;
          color: #222 !important;
          border: none;
          span {
            opacity: 1;
            font-weight: bold;
            padding-left: 15px;
            @include transition(0.5s);
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
  .footer-last {
    font-size: .8em;
    padding: 15px 0 15px;
    width: 100%;
    background: $theme-white;
    text-align: center;
    color: $theme-black;
    a {
      color: $theme-gold;
      border-bottom: 1px solid rgba($theme-black, .8);
    }
  }
}

.val-section {
  margin: 0;
  padding: 0;
  .inner-content {
    padding: 2em 3em 0;
    h3 {
      font-size: 5em;
    }
  }
  .bg-content {
    background: url("../../img/test_slides/tp.jpg") no-repeat center;
    background-size: cover;
    //background-image: linear-gradient(-63deg, $theme-white 52%, #f5e4e4 50%);
    width: 100%;
    height: 500px;
  }
  .top-head {
    padding: 2em 1em;
    position: relative;
    h3 {
      font-size: 2rem;
      color: $theme-white;
      font-weight: lighter;
      text-align: center;
      &:after {
        content: '';
        width: 30%;
        margin: auto;
        position: absolute;
        height: 2px;
        left: 40%;
        top: 76%;
        border: .41px solid $theme-black;
      }
    }
  }
  .logo-top {
    margin: 2em 5em;
  }
  .logo-second {
    margin: 2em 0 0 10em;
  }
  .d-pic {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: $theme-white;
    @include borderLine(rgba($theme-gold, .2));
    &:nth-child(2n + 1) {
      animation: rotate linear 4s .4s;
    }
    &:nth-child(odd) {
      animation: bounce linear 5s 1s infinite;
    }
  }
  .btn {
    padding: .5em 0;
    width: 74%;
    font-size: 1.2em;
    text-align: center;
    outline: none;
    letter-spacing: 1px;
    position: relative;
    border-radius: 0;
  }
  .btn-val-shop {
    color: $theme-white;
    border: none;
    background: $theme-black;
    &:hover {
      background: transparent;
      @include borderLine($theme-black);
      color: $theme-black;
      @include transition(0.5s);
    }
  }
  .carpet {
    //background: url("../../img/carpet.png") no-repeat center;
    height: 100px;
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 8%;
  }
}

.sell-link {
  background: $theme-black;
  color: $theme-white !important;
  //transform: skew(-20deg);
  a {
    padding: .8em 5em !important;
  }
}

strong {
  //transform: skew(20deg);
  color: $theme-gold;
}
