/**
 * @author
 * Stylesheet for Wawooh HQ, General Usage Page
 * Developers, Longbridge Tech.
 * UI Lead: Falua Temitope Oyewole
 * Thursday, 15th September, 2018
*/
@import "_partials/_vars";
@import "_partials/_mixins";
@import "_partials/_fonts";

.faq {
  margin: 20px auto 50px;
  h3 {
    text-align: center;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid rgba($theme-black, .2);
  }
  .notice {
    font-weight: 600;
  }
  .card-header {
    font-weight: 500;
  }
}

.live-welcome {
  width: 70%;
  float: left;
  height: inherit;
  background: $theme-black;
  ._live {
    padding: 1.2em;
  }
}