@import "_partials/_vars";
body {
  background: #111;
  color: $theme-white;
}
#clockdiv {
  margin-top: 1.5em;
  display: block;
  text-align: center;
  font-size: 3em;
  > div {
    padding: 165px;
    display: inline-block;
    border: 1px solid $theme-gold;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    > span {
      padding: 10px;
      display: inline-block;
      //@include font-ubuntu;
      // text-shadow: $shadow-black 2px 3px 2px;
      font-size: 2em;
      font-weight: 500;
    }
  }
  .smalltext {
    padding-top: 5px;
    font-size: 16px;
    text-align: center;
  }
}

.info-section {
  clear: both;
  margin: 10px 10px;
  padding-top: 10px;
  .underline {
    width: 15%;
    margin: 0 auto 5px;
    border-bottom: 3px solid rgba($theme-deepgold,.8);
    :after {
      content: "";
      background: $theme-gold;
      margin-bottom: -1px;
    }
  }
  h3 {
    font-size: 2.6em;
    //@include font-raleway;
    font-weight: 200;
    color: $theme-white;
    text-align: center;
    line-height: 35px;
  }
  span {
    padding: 20px;
    font-size: 1.5em;
    line-height: 30px;
    font-weight: 100;
  }
  .notice {
    padding: 10px;
    span {
      line-height: 25px;
      font-size: 14px;
    }
  }
}