/**
 * @author
 * Stylesheet for Wawooh HQ, User Page
 * Developers, Longbridge Tech.
 * UI Lead: Falua Temitope Oyewole
 * Thursday, 15th September, 2018
*/
@import "_partials/_vars";
@import "_partials/_mixins";
@import "_partials/_fonts";

.profile-container {
  width: 100%;
  h3 {
    text-align: left;
    font-size: 1.1em;
    color: $theme-black;
    display: block;
    margin: 1rem 3rem 2px
  }
}

.designer-response {
  .bes-detail {
    font-size: 14px;
    tr, td {
      @include borderLine(rgba($theme-black, .2));
    }
  }
  .quote-content {
    @include borderLine(rgba($theme-black, .2));
    border-radius: 3px;
    font-size: 13px;
    padding: 5px;
  }

  .bid-radio {
    position: relative;
    input[type=radio] {
      display: none;
      &:checked {
        + label {
          filter: grayscale(100%);
          border: 3px solid $theme-gold;
          //transform: rotateZ(-10deg) rotateX(10deg);
          @include transition(0.5s);
          @include boxShadow(-4px, 4px, 10px, rgba($theme-black, 0.25))
        }
      }
      + label {
        > div.quote-content {
          border: 1px dashed #444;
          width: 150px;
          height: 150px;
          @include transition(500ms);
          &:before {
            content: 'Selected';
            position: absolute;
            top: 59%;
            background: rgba($theme-white, .2);
            color: $theme-black;
            font-size: 15px;
          }
        }
      }
    }
  }
}

.main-content {
  .animated {
    z-index: 1;
  }
  padding: 0 30px 0;
  .basic-info, .update-profile {
    margin: 0 0 10px;
    h4 {
      color: $theme-black;
      font-weight: 400;
      margin-bottom: 1.3rem;
      border-bottom: 1px solid rgba($theme-black, .12);
    }
  }
  .update-profile {
    .form-control {
      border-radius: 0;
    }
    @include smallButtons();

    .pwd-text {
      padding-top: 10px;
      font-weight: 500;
      a:hover {
        color: $theme-black;
        font-weight: bold;
      }
    }
    .password {
      border-top: 1px solid rgba($theme-black, .2);
      margin-top: 2rem;
    }
  }

  .address-book {
    overflow: hidden;
    .address-form {
      padding: 0 10px;
      clear: both;
      display: block;
      @include smallButtons();
      .btn {
        padding: .4em 2em !important;
      }
      h3 {
        font-weight: 400;
        border-bottom: 1px solid rgba($theme-black, .2);
        font-size: 1.2rem;
        margin: 0 0 15px;
        padding-bottom: 10px;
      }
      .form-control {
        border-radius: 0;
        font-weight: 300;
      }
    }
    .edit-address {
      float: right;
      position: absolute;
      width: 60px;
      height: 60px;
      right: 70px;
      top: 15%;
      padding: 5px;
      text-align: center;
      border-radius: 50px;
      background: $theme-white;
      @include boxShadow(-1px, 0, 5px, $shadowBlack);
      color: $theme-black;
      h4 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: .5em;
        font-weight: 400;
      }
    }
    .btn-cancel {
      @include boxShadow(0, 2px, 4px, rgba(0, 0, 0, .2))
    }
    .btn-delete {
      background: $theme-inspection;
      color: $theme-red;
      @include boxShadow(0, 2px, 4px, rgba($theme-black, .2));
      @include borderLine(rgba($theme-black, .2));
    }
  }

  .table-order {
    @include borderLine(rgba($theme-black, .1));
    .btn {
      padding: .3em .51em;
      border-width: 0;
      outline: none;
      border-radius: 2px;
      font-weight: 200;
      margin-left: 25%;
    }
    .btn-track {
      color: $theme-white;
      background: $theme-black;
      border-bottom-width: 3px;
      border-color: $theme-gold;
      &:hover {
        border-color: $theme-black;
        @include transition(0.5s);
      }
    }
  }
}

/*--The grid system for user profile--*/
@media (min-width: 992px) {
  .row-holder-user {
    width: 100%;
    padding-left: 50px;
    padding-right: 35px;
    display: inline-flex;
    margin: 2em auto 2em;
  }
  .side-1 {
    width: 23%;
    min-height: 1px;
    display: inline-block;
  }
  .side-2 {
    width: 75%;
    margin-left: 10px;
    min-height: 1px;
  }
}

.product-feedback {
  width: 40%;
  margin: 2em auto 10px;
  height: auto;
  background: $theme-white;
  padding: 5px;
  @include borderLine(rgba($theme-black, .02));
  @include boxShadow(0, 2px, 12px, $shadowBlack);
  .header-form {
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid rgba($theme-black, .2);
    h3 {
      font-size: 1rem;
      text-align: center;
      color: $theme-black;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
  .form-feed {
    margin-top: 3em;
    margin-bottom: 10px;
    label {
      font-weight: 500;
    }
    .form-control {
      border-radius: 0;
      @include borderLine(rgba($theme-black, .8));
    }
    .reactionSelection {
      margin-top: 10px;
      .hide-fit {
        left: -9999px;
        strong {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        input[type=radio] {
          display: none;
          &:checked {
            + label {
              filter: brightness(80%);
              border: 3px solid $theme-gold;
              //transform: rotateZ(-10deg) rotateX(10deg);
              @include transition(0.5s);
              @include boxShadow(-4px, 4px, 10px, rgba($theme-black, 0.25))
            }
            > img {
              border: none;
            }
          }
          + label {
            > img {
              border: 1px dashed #444;
              width: 50px;
              height: 50px;
              @include transition(500ms);
              background: no-repeat center;
              background-size: contain;
            }
          }
        }
      }
      img {
        width: 50%;
      }
    }

    .btn {
      display: block;
      border: none;
      outline: 0;
      padding: .5em .9em;
      width: 100%;
      border-radius: 0;
    }
    .btn-feedback {
      background: $theme-black;
      color: $theme-white;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
}

.f-load {
  position: absolute;
  width: 6%;
  left: 50%;
  right: 0;
  top: 90%;
  display: none;
}

/**New Address Book for User Profile**/
.add-cont {
  width: 88%;
  height: auto;
  //overflow: hidden;
  margin: 0;
  .btn {
    border-radius: 0;
    border: none;
    overflow: hidden;
    color: $theme-black;
    background: $theme-gold !important;
    &:hover {
      @include transition(0.5s);
      background: $theme-white;
      @include borderLine($theme-gold);
      overflow: hidden;
    }
  }
  .cont-1 {
    width: 32.7%;
    float: left;
    box-sizing: content-box;
    border-radius: 2px;
    margin: 0 4px 7px 0;
    @include boxShadow(2px, 3px, 2px, rgba($theme-black, .3));
    background: $theme-white;
    overflow: hidden;
    @media (max-width: 768px) {
      width: 70%;
      float: none;
    }
    &:hover {
      @include transition(0.5s);
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      //border: none;
      transform: scale(1.0);
    }
  }
  .add-label {
    color: $theme-black;
    padding: .2em;
    font-size: .8em;
    border-top-right-radius: 15px;
    display: block;
    float: left;

  }
  .address-details {
    padding: 5px;
    ul {
      list-style: none;
      padding: 10px;
      li {
        padding: 3px;
        text-transform: capitalize;
        display: block;
        font-size: 16px;
        &:nth-child(1) {
          font-weight: bold;
        }
      }
    }
  }
  .editAdd2 {
    float: right;
  }
}

/*Track Order from user profile Page*/
.my-container {
  margin: 0 30px;
}

//track-order
.track-order {
  padding: 15px 0 15px 0;
  .sidenav {
    ul {
      list-style: none;
      padding: 0;
      display: block;
      border-right: 1px solid rgba($theme-gold, .3);
    }
    li a {
      display: block;
      padding: .4em 1em;
      color: $theme-gold;
      cursor: pointer;
      font-weight: lighter;
      border-bottom: 1px solid rgba($theme-black, .1);
      font-size: 1em;
      &::before {
        content: '\2192';
        padding-right: 10px;
      }
      &:hover {
        font-weight: bolder;
      }
    }
  }
  .order-detail {
    padding: 0;
    h3 {
      color: $theme-black;
      font-weight: lighter;
      text-align: left;
      font-size: 1.2em;
    }
    .side-label {
      background: $theme-gold;
      color: $theme-white;
      font-weight: bold;
      font-size: 1em;
      text-align: center;
      padding: 10px;
      float: left;
    }
    .panel-title {
      width: auto;
      overflow: hidden;
      background: $theme-black;
      span {
        vertical-align: middle;
        color: $theme-gold;
        padding-left: 20px;
        padding-top: 10px;
        overflow: hidden;
        display: inline-block;
      }
    }
    .inner-order-detail {
      margin-top: 30px;
      .head-detail {
        margin-top: 20px;
        overflow: hidden;
        span {
          color: $theme-black;
          font-weight: bold;
          &:nth-last-child(1) {
            float: right;
          }
        }
      }
      .btn {
        padding: .6em 1.4em;
        box-shadow: none;
        position: relative;
        border: none;
        border-radius: 0;
      }
      .btn-payment {
        background: $theme-inspection;
        color: $theme-gold;
        letter-spacing: 2px;
        &:hover {
          @include transition(0.5s);
          font-weight: bold;
          @include boxShadow(2px, 3px, 2px, rgba($theme-black, .2));
        }
      }
      h4 {
        font-size: 1.1em;
        text-align: left;
        color: $theme-black;
      }
      span {
        line-height: 25px;
        font-size: 1em;
        color: $theme-gold;
      }
      .add-payment {
        float: right;
        //position: absolute;
        width: 60px;
        height: 60px;
        right: 70px;
        top: 15%;
        padding: 5px;
        text-align: center;
        border-radius: 50px;
        background: $theme-white;
        @include boxShadow(-1px, 0, 5px, $shadowBlack);
        color: $theme-black;
        h5 {
          margin-top: 0;
          margin-bottom: 0;
          font-size: .6em;
          text-align: center;
          font-weight: 400;
        }
      }
    }
  }
}

.methodDelivery {
  float: right !important;
}
.underline_u {
  border-bottom: 1px solid rgba($theme-black, .2);
  color: rgba($theme-black, .9);
  position: relative;
  padding-bottom: 10px;
  text-overflow: ellipsis;
  &:before {
    content: '';
    position: absolute;
    bottom: -1px;
    display: block;
    width: 50%;
    background: $theme-black;
    height: 1px;
  }
}

.userMenu {
  padding: 0;
  margin-left: 2.2%;
}

//new user page
.side-menu {
  @include transition(0.5s);
  max-width: 140px;
  margin-left: 5%;
  span {
    display: block;
    text-align: center;
  }
  ul {
    list-style: none;
    padding: 0 0 10px;
    margin-bottom: 0;
    background: $theme-black;
  }
  li a {
    display: block;
    text-align: center;
    padding: 10px 0 23px;
    margin-left: 0;
    color: $theme-white;
    font-size: 13px;
    border-bottom: 1px solid rgba($theme-white, .1);
    &:hover {
      background: lighten($theme-black, 10%);
      @include transition(0.5s);
      border-left: 6px solid $theme-gold;
    }
    &.active {
      border-left: 6px solid $theme-gold;
      background: lighten($theme-black, 10%);
    }
  }
}

.content-holder {
  max-width: 90%;
  background: $theme-white;
  margin: 2px auto 5px;
  padding: 15px;
  border-radius: 0;
  @include transition(0.5s);
  @include boxShadow(0, 0, 1px, $shadowBlack);
  h3 {
    font-size: 1.1em;
    margin-bottom: 20px;
  }
  .user-settings {
    @include roundButtons();
    .address-card {
      //height: 50px;
      border: 1px dashed $theme-black;
      background: #f7f7f7;
      padding: 10px;
      margin-top: 10px;
      border-radius: 3px;
      span {
        display: block;
        font: {
          size: 13px;
          weight: 400;
        }
        word-break: break-all;
      }
      .editAdd2 {
        display: flex;
        justify-content: flex-end;
        min-width: 0;
        margin-right: 0;
      }
      .add-label {
        padding-top: 10px;
        float: left;
      }
      .btn {
        padding: .51em 1em !important;
      }
    }
  }

  .fundWalletCard {
    background: $theme-gold !important;
    border: none;
    color: $theme-white;
    .iconWallet {
      width: 100px !important;
      margin: 0 auto;
      animation: swing 1.5s ease-in infinite .8s;
    }
  }
}

.fundModalDialog {
  max-width: 400px !important;
}
.fundForms {
  label {
    font-size: 13px;
    font-weight: lighter;
  }
  .form-control {
    border-radius: 2px;
    height: calc(3em + 5px);
  }
  select.form-control {
    height: calc(2.5em + 5px) !important;
    -webkit-border-radius: 2px;
  }
  .btn-wallet {
    background: $theme-gold;
    color: $theme-white;
    width: 100%;
    height: 50px;
    border-radius: 2px;
    outline: none;
  }
}
.orders {
  table, .table {
    font-size: 14px !important;
  }
}

.card-section {
  position: relative;
  margin-bottom: 15px;
}

.measurement-form-user {
  .slimSelection {
    margin-top: 10px;
    .heading {
      text-align: center;
      color: $theme-black;
      margin-bottom: 15px;
      height: auto;
    }
    .hide-fit {
      left: -9999px;
      strong {
        display: flex;
      }
      input[type=radio] {
        display: none;
        &:checked {
          + label {
            filter: grayscale(100%);
            border: 3px solid $theme-gold;
            //transform: rotateZ(-10deg) rotateX(10deg);
            @include transition(0.5s);
            @include boxShadow(-4px, 4px, 10px, rgba($theme-black, 0.25))
          }
          > img {
            border: none;
          }
        }
        + label {
          > img {
            border: 1px dashed #444;
            width: 70px;
            height: 70px;
            @include transition(500ms);
            background: no-repeat center;
            background-size: contain;
          }
        }
      }
    }
    img {
      width: 50%;
    }
  }
  .measure-label {
    text-transform: lowercase;
    font-weight: 400;
    font-size: 12px;
  }
  .measure-user-img {
    height: 300px;
    img {
      height: inherit;
      width: inherit;
      border: 1px dashed #555;
      object-fit: contain;
    }
  }
  .measure-helper {
    @include transition(500ms);
    margin: 0 0 5px;
    border-left: 1px solid rgba($theme-black, .2);
    padding: 0 0 0;
    &.fixedM {
      //position: fixed;
    }
    a:hover {
      color: $theme-gold;
    }
    .teach-me-video {
      width: 100px;
      height: 80px;
      display: block;
      text-align: center;
      background: #111;
      color: white;
      margin: 2px auto 12px;
      padding-top: 20px;
    }
    .info {
      text-align: center;
      font-size: 0.81em;
      margin-bottom: 0;
    }
    .measureVideo {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    .measureNote {
      border: 1px dashed;
      padding: 10px 9px 1px;
      font-weight: 500;
      margin-left: 13px;
    }
  }
}

.inner-card {
  @include borderLine(rgba($theme-black,.2));
  border-radius: 8px;
  background-image: linear-gradient(152deg, rgba(255,255,255,0.1), rgba(255,255,255,0.02), rgba(0,0,0,0.1));
  height: 170px;
  transition: ease-in 300ms;
  transition-property: bottom, box-shadow;
  &:hover {
    border: none;
    @include transition(0.45s);
    @include boxShadow(2px, 10px, 24px, $shadowBlack);
    bottom: 6px;
  }
  .card-inner-header {
    padding: 5px 2px 2px;
    margin-bottom: 2px;
    h3 {
      text-align: center;
      font-weight: 400;
      font-size: 13px;
      margin-bottom: 0;
    }
  }
  .card-inner-body {
    padding: 0 10px 10px;
    .icon-class {
      width: 60px;
      margin: 15px auto;
      display: block;
    }
    .content-inner {
      margin: 15px 0;
      text-align: center;
      span {
        font-weight: 500;
        font-size: 1.5em;
        text-align: center;
      }
    }
    ul {
      list-style: none;
      display: block;
      padding-left: 15px;
    }
    li {
      float: none;
      padding: 10px 0 0;
      font-size: 15px;
      color: #212020;
    }
  }
}

/**Login at checkout**/
.cover-checkout-auth {
  margin: 1rem auto;
  background: $theme-white;
  width: 65%;
  border-radius: 3px;
  .inner-auth {
    padding: 2rem 14rem 4rem;
    .form-details {
      margin-top: 2em;
      span {
        font-weight: lighter;
        font-size: 14px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
      }
      label {
        font-size: 12px;
        font-weight: 400;
        color: #999;
      }
      .form-control {
        padding: 13px 10px;
        height: 3.3em;
        background: $theme-offwhite;
        @include borderLine(rgba($theme-black, .2))
      }
      .input-group-addon {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        background: $theme-offwhite;
      }
      .btn {
        border-radius: 3px;
        display: block;
        width: 100%;
        background-position: center;
        transition: background 0.8s;
        padding: .7em 2em;
        @include borderLine($theme-black);
      }
      .btn-login {
        letter-spacing: 2px;
        font-weight: bold;
        background: $theme-black;
        color: $theme-white;
        &:active {
          background-color: #555;
          background-size: 100%;
          transition: background 0s;
          &:before {
            position: absolute;
            content: '\f30b';
            right: 50px;
            color: $theme-white;
            @include transition(0.5s);
            opacity: 1;
            @include transformX()
          }
        }
      }
      .btn-sign-up-login {
        letter-spacing: 2px;
        font-weight: bold;
        cursor: pointer;
        background: $theme-white;
        color: $theme-black;
        @include borderLine($theme-black);
        &:hover {
          .icon-btn {
            @include transition(0.5s);
            opacity: 1;
            padding-left: 10px;
            animation: slideInLeft linear .5s;
            animation-iteration-count: 3;
            @include transformNew()
          }
        }
      }
    }
  }
  h3 {
    padding-top: 5px;
    color: $theme-black;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
  }
}


.about-us-page {
  //padding: 0 2em 0;
  &.one-class {
    padding: 0 1em 0;
  }
  .left-content {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    padding: 15px 0;
  }
  .about-head {
    margin: 4rem 0;
    text-align: center;
    h3 {
      font-size: 3em;
      font-weight: bold;
      margin-bottom: 0;
      letter-spacing: 2px;
    }
    span {
      font-size: 21px;
      font-weight: lighter;
    }
  }
  .about_us-image {
    width: 100%;
    height: 500px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .content-link {
    display: block;
    margin: 1em 0 2em;
    h4 {
      font-weight: bold;
      font-size: 1.5em;
    }
    span {
      font-size: 14px;
      display: block;
      padding: 0 2em;
      color: #555;
      font-weight: 400;
    }
  }
  .btn {
    padding: 1em 3em;
    position: relative;
    margin-top: 1em;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: bold;
  }
  .btn-read {
    @include borderLine($theme-black);
    background: $theme-white;
    color: $theme-black;
    &:hover {
      background: $theme-black;
      color: $theme-white;
      border: none;
      .icon-btn {
        opacity: 1;
        animation: slideOutRight 1.3s linear;
        animation-iteration-count: 5;
        @include transition(0.5s);
        color: $theme-white;
      }
    }
  }
  .icon-btn {
    opacity: 1 !important;
  }
  h3 {
    font-size: 2.3em;
    text-align: center;
    font-weight: bold;
    margin: .71em 0;
    position: relative;
    text-transform: uppercase;
    &:after {
      content: '';
      width: 12%;
      margin: auto;
      position: absolute;
      height: 2px;
      left: 29%;
      right: 28%;
      top: 100%;
      bottom: -8px;
      @include borderLine($theme-gold);
    }
  }
  .first-section {
    margin-bottom: 10px;
    padding: 0 2em 0;
    background: $theme-white;
  }
  .second-section {
    margin: 3em 0;
    width: 100%;
    background: linear-gradient(-45deg, #9a99a2 0%, #061931 50%, #060606 100%);
    .inner-second {
      padding: 0 2em 0 0;
      h3 {
        color: $theme-gold;
      }
    }
  }

  .over-head-content {
    width: 70%;
    margin: 0 auto 4em;
    font-size: 1em;
    font-weight: 400;
    color: #555;
    line-height: 33px;
  }

  .fifth-section {
    //margin: 3em 0;
    width: 100%;
    padding: 0 0 0 2em;
    background: rgb(17,21,26);
    color: $theme-white;
    .inner-sec {
      padding: 3em 2em 0;
      line-height: 25px;
      h3 {
        background: linear-gradient(to right, #c7c4c1 0%, #cd9933 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .sixth-section {
    //margin: 3em 0;
    width: 100%;
    padding: 0 0 0 2em;
    background: $theme-white;
    .inner-sec {
      padding: 3em 2em 0;
      line-height: 25px;
      h3 {
        background: linear-gradient(to right, #c7c4c1 0%, #cd9933 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .last-section {
    margin-bottom: 50px;
    position: relative;
    .one {
      width: 170px;
      height: 200px;
      margin: auto;
      //border: 2px solid $theme-gold;
      background: linear-gradient(to right, #555555 0%, #000 100%);
      border-radius: 50%;
      display: block;
      position: relative;
      color: $theme-white;
      animation-name: spin;
      animation-duration: 5000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
    span {
      position: absolute;
      font-size: 6.2em;
      text-align: center;
      left: 46%;
      top: 20%;
      color: gold;
    }
  }
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}