/**
 * @author
 * Stylesheet for Wawooh HQ, General Usage Page
 * Developers, Longbridge Tech.
 * UI Lead: Falua Temitope Oyewole
 * Thursday, 15th September, 2018
*/
@import "_partials/_vars";
@import "_partials/_mixins";
@import "_partials/_fonts";

html, body {
  @include latoFont();
  //font-weight: lighter !important;
  overflow-x: hidden;
  background: $theme-offwhite !important;
}

.error {
  border: 1px solid red !important;
  animation: shake linear .3s;
  animation-iteration-count: 3;
}

.wow {
  visibility: hidden;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.border {
  border: 1px solid rgba(0, 0, 0, 0.03);
}

/*--Standalone Styles-- Apply generally to all by usage*/
.all {
  height: 100%;
}

.intl-tel-input {
  display: block;
}

.btn {
  cursor: pointer !important;
  &:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: 0;
  }
}

.btn-wawooh {
  @include borderLine($theme-black);
  &:hover {
    @include borderLine($theme-gold);
    color: $theme-gold;
  }
}

.fixed {
  position: fixed;
  margin-top: 5px;
  @include transition(0.5s);
}

.clear {
  clear: both;
  &:after {
    content: '';
    display: table;
  }
}

.view-more {
  margin-top: 10px;
  @include specialButtons();
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.text-centerC {
  text-align: center;
}

.swiper-pagination {
  position: relative !important;
}

.bullet {
  margin-top: 15px !important;
}

.login-modal {
  max-width: 350px;
  margin: 4.5em auto 0;
  .sign-in {
    background: $theme-gold;
    color: $theme-white;
    border-radius: 0;
    letter-spacing: 1px;
  }
  .form-control {
    border-radius: 0;
  }

}

.close {
  color: $theme-black !important;
}

.signup-modal {
  max-width: 500px;
  margin: 2em auto 0;
  .sign-in {
    background: $theme-gold;
    color: $theme-white;
    border-radius: 0;
    letter-spacing: 1px;
  }
  .form-control {
    border-radius: 0;
  }
  .social-login {
    margin-top: 2px;
    .btn {
      padding: .4em 2em;
      outline: none;
      border: none;
      border-radius: 0;
    }
    .btn-facebook {
      background: $facebook;
      color: $theme-white;
    }
  }
}

/**-----Pure Chat Style-----**/
#PureChatWidget.purechat .purechat-message-display-container {

}

#PureChatWidget.purechat {
  width: 250px !important;
}

/**Activate Status **/
.wrap {
  margin-bottom: 20px;
}

/**Wish List**/
.animated {
  animation-duration: 1s;
}

/**Disable Resize by user*/
textarea {
  resize: none;
}

.little-top {
  margin-top: 15px;
}

.info-text {
  font-size: .7em;
  color: $theme-deepgold;
}

/**--General Styles End here--**/

/*----------------- SVG loader ------------------*/
@keyframes round {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes notround {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.col-md-3, .col-lg-3 {
  padding-right: 0 !important;
}

#loaderModal .modal-dialog {
  max-width: 100%;
  height: 100%;
}

#loaderModal {
  padding-right: 0 !important;
  width: 100%;
  overflow-y: hidden;
  margin-top: -30px;
}

.loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  height: 100vh;
  overflow-y: hidden;
  background: rgba(0, 0, 0, 0.91);
}

.loader svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.necklace {
  animation: round 5s ease 1s infinite alternate;
  animation-fill-mode: both;
}

.shirt {
  animation: notround 5s ease 1s infinite alternate-reverse;
}

.suit {
  animation: round 5s ease-in-out 1s infinite reverse;
}

.heel {
  animation: round 5s ease-in-out 1s infinite;
}

.earrings, .earring {
  animation: round 5s ease-in 1s infinite alternate-reverse;
}

.bag, .bag-stud, .bag-hand {
  animation: notround 5s ease-out 1s infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lds-dual-ring {
  display: inline-block;
  width: 18px;
  height: 18px;
  padding-left: 9px;
  &:after {
    content: " ";
    display: block;
    width: 20px;
    height: 20px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #cd9933;
    border-color: #cd9933 transparent #cd9933 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
}

/*--Simple Grid system for product display--*/
.row-holder {
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 992px) {
  .row-12 {
    width: 100%;
    border: 1px solid #111;
    position: relative;
  }
  .row-3 {
    max-width: 23%;
    flex: 0 0 23%;
    margin-left: 18px;
    //padding-left: 7px;
    //padding-right: 7px;
    min-height: 1px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, .03);
  }
  .row-4 {
    @extend .row-3;
    max-width: 25%;
    margin-left: 56px;
    flex: 0 0 25%;
  }
}

.no-hover {
  &:hover {
    .img-height {
      img {
        opacity: 1 !important;
      }
    }
  }
}

@media (min-width: 992px) {
  .holder-container {
    //height: 450px;
    height: auto;
    padding: 0 0 10px 0;
    position: relative;
    .img-height {
      height: 400px;
      background: $theme-white;
      overflow: hidden;
      position: relative;
      img {
        width: 100%;
        height: inherit;
        vertical-align: middle;
        border-style: none;
        object-position: 50% 50%;
        background-position: 50% 50%;
        //object-fit: contain;
      }
    }
    .under-img {
      position: absolute;
      width: 100%;
      opacity: 0;
      z-index: -1200;
      top: 0;
    }

    .block2-overlay {
      //position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.02);
      opacity: 0;
      z-index: -1;
      &:hover {
        opacity: 1;
        .block2-btn-addwishlist {
          transform: scale(1);
        }
        .block2-btn-addcart {
          bottom: 27px;
          left: 46%;
          color: $theme-white !important;
        }
        img {
          transform: scale(0.4, 1);
        }
      }
    }
    &:hover {
      .img-height {
        img {
          opacity: 0;
        }

        .under-img {
          z-index: 1;
          opacity: 1;
        }
      }
    }
    &:hover {
      .type-link {
        opacity: 1;
        @include transition(0.4s);
        animation: slideInRight linear .4s;
        z-index: 99;
      }
    }
    .type-badge {
      position: absolute;
      right: 7px;
      top: 1px;
      z-index: 1200;
      opacity: 1;
      .bes-size {
        width: 16px;
      }
      .bes {
        color: $theme-gold !important;
      }
      .redM {
        color: $theme-black;
      }
      span {
        position: absolute;
        left: 2px;
        z-index: 1;
        font-size: 12px;
        bottom: 9px;
      }
      .r {
        color: $theme-gold;
      }
      .b {
        color: $theme-black;
      }
    }
    .type-link {
      position: absolute;
      left: 9px;
      top: 10px;
      z-index: 9999;
      opacity: 0;
    }
    .wishlist-badge {
      position: absolute;
      left: 12px;
      top: 8px;
      z-index: 1000;
      padding: 3px 0;
      //border: 1px solid rgba(0,0,0,.6);
      border-radius: 100%;
      width: 30px;
      height: 30px;
      margin: auto;
      text-align: center;
      background: $theme-white;
      box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
      &:hover {
        background: $theme-black;
        @include transition(0.4s);
        color: $theme-white;
        .far, .fa {
          color: $theme-white !important;
        }
      }
      .fa-2x {
        font-size: 1.1rem !important;
      }
      .bes {
        color: $theme-gold !important;
      }
      .redM {
        color: $theme-black;
      }
    }

    .trans-0-4 {
      @include transition(0.4s);
    }
    a {
      text-decoration: none !important;
    }
    .btn-add {
      font-size: 15px;
      color: $theme-white;
      font-weight: bold;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    .hov1:hover {
      background: $theme-black;
    }
    .p-details {
      padding: 10px 3px 3px;
      .p-name {
        font-size: 13px;
        color: black;
        font-weight: 500;
        line-height: 1.5;
        text-transform: capitalize;
      }
      .d-name {
        font-size: 11px;
        color: #555555;
      }
    }
    .display-type {
      display: block;
    }
    .price {
      overflow: hidden;
      margin-top: 2px;
      ul {
        list-style: none;
        padding-left: 0;
      }
      li {
        float: left;
        font-size: 17px;
        padding: 5px 3px 5px 3px;
        font-weight: bold;
        &.old {
          color: $theme-red;
          text-decoration: line-through;
          margin-left: 2px;
          font-weight: 400;
          font-size: 14px;
          margin-top: 3px;
        }
      }
      .discount {
        list-style: none;
        float: right;
        margin-top: -8px;
        padding-left: 0;
        li {
          padding: 3px;
          font-size: 10px;
          border: 2px solid $theme-gold;
          color: $theme-gold;
        }
      }
    }
    .rating {
      padding-left: 3px;
      margin-top: -10px;
      font-size: 12px;
    }
    .del-item {
      display: block;
      //background: #333333;
      color: $theme-black;
      @include borderLine(rgba($theme-black, .5));
      padding: 5px;
      text-align: center;
      &:hover {
        @include transition(0.5s);
        background: $theme-red;
        color: $theme-white;
        border: none;
        .hid {
          opacity: 1;
          transform: rotateX(360deg);
          color: $theme-white !important;
          @include transition(0.5s);
        }
      }
    }
    .hid {
      opacity: 0;
    }
    .quick-shop {
      position: absolute;
      width: 100%;
      display: block;
      background-color: rgba(0, 0, 0, 0.7);
      padding: 10px 5px 5px;
      bottom: 70px;
      opacity: 0;
      transition: all 0.4s ease-in-out;
      &:hover {
        h5 {
          opacity: 0;
          display: none;
        }
        .quick-size {
          display: block;
        }
      }
      h5 {
        color: $theme-gold;
        text-align: center;
        font-weight: 400;
        font-size: .9rem;
      }
      .quick-size {
        display: none;
        .btn {
          padding: 2px 11px;
          outline: none;
          border-radius: 0;
        }
        .btn-size {
          color: $theme-white;
          background: transparent;
          &:hover {
            background: $theme-black;
          }
        }
        ul {
          display: flex;
          padding-left: 0;
          list-style: none;
          margin-bottom: 0;
          justify-content: center;
        }
        li {
          float: left;
          margin-left: 10px;
          padding: 0;
          &.color-radio {
            left: -9999px;
            input[type=radio] {
              display: none;
              position: absolute;
              right: 14px;
              bottom: 14px;
              top: 5%;
              z-index: 1200;
              &:checked {
                + label {
                  border-radius: 100%;
                  //border: 1px solid $theme-gold;
                  //@include transition(0.5s);
                }
              }
              + label {
                > img {
                  padding: 1px;
                  border-radius: 100%;
                  width: 25px;
                  height: 25px;
                  @include transition(500ms);
                  background: no-repeat center;
                  background-size: contain;
                }
              }
            }
          }
        }
      }
    }
    &:hover {
      .quick-shop {
        bottom: 19%;
        opacity: 1;
        z-index: 120000;
      }
    }
  }
}

.cat-images {
  img {
    width: 100%;
  }
}

.cat-header {
  padding: 7px 0;
  text-align: center;
  margin: 7px 0;
  background: $theme-white;
  border-top: 1px solid rgba($theme-black, .1);
  border-bottom: 1px solid rgba($theme-black, .1);
  h3 {
    font-weight: bold;
    letter-spacing: 1.2px;
    font-size: 1.9em;
  }
}

/*--Simple Grid system End here*/

/**full width control drop down**/
.search-form {
  position: absolute;
  top: 85%;
  right: 20px;
  width: 500px;
  @include transition(0.5s);
  animation: fadeInUp 0.5s;
  z-index: 1;
  .form-control {
    border-radius: 22px;
    padding: .7em 2.2em;
    //background: $theme-black;
    @include borderLine(rgba($theme-gold, .5));
    color: $theme-black;
    &:focus {
      box-shadow: none;
      border: none;
    }
  }
}

/** Overwrite the carousel control**/
.carousel-control-prev {
  //left: 2%;
  width: 58px;
}

.carousel-control-next {
  //right: 2%;
  //width: inherit;
}

//Swiper Styling

.form-control[readonly] {
  background: $theme-white !important;
}

/**-Newsletter Style-**/
//.new-letter {
//  background-image: linear-gradient(#ccc, $theme-black, rgba(0,0,0,.3));
//}

.product-slide {
  height: 350px;
  background: $theme-black;
  .banner-carousel {
    height: inherit;
    img {
      object-position: top center;
      object-fit: cover;
      height: inherit;
      width: 100%;
    }
  }
}

.product-padding {
  padding: 0 45px 0;
}

.products-view {
  width: 100%;
  background: #f7f7f7;
  clear: both;
  h3 {
    text-align: center;
    font-size: 26px;
    color: $theme-black;
    text-transform: uppercase;
    font-weight: bold;
    padding: .60em 0;
  }
  .inner-product {
    // margin: 0 3% 0;
    .reduce {
      h4 {
        font-weight: bold;
        padding: 5px;
        font-size: 100%;
      }
      img {
        width: 100%;
        height: 100%;
        position: relative;
        object-fit: cover;
        object-position: center;
        border: 1px solid rgba(158, 158, 158, 0.34);
      }
      .nameProd {
        margin-top: 0;
        a:hover {
          color: #999 !important;
        }
        h5 {
          text-transform: capitalize;
          font-size: 100%;
          font-weight: 400;
        }
        .prodDes {
          color: #999;
          margin-top: -11px;
          padding: 4px 0 0 4px;
        }
      }
    }
    .font-small {
      font-size: 14px;
      padding: 7px;
      margin-top: -10px;
      /* margin-bottom: -16px; */
      p {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 4px;
      }
    }
    .fix-height {
      height: 310px;
      position: relative;
      padding: 8px;
    }
  }
}

/*--Category style for fashion--*/
.shop-categories {
  background: $theme-ash;
  width: 100%;
  margin: 3px auto 2px;
  justify-content: center;
  align-items: center;
  display: flex;
  .category-style {
    width: auto;
    display: flex;
    overflow: hidden;
    list-style: none;
    margin: 0;
    li a {
      float: left;
      padding: .8em 2.3em;
      color: $theme-black;
      font-weight: 400;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: 15px;
      &:hover {
        color: $theme-gold !important;
        @include transition(0.5s);
        background: #222;
      }
    }
    .dropmenu {
      cursor: pointer;
      display: block;
      &:hover {
        > .drop-mega, ul li {
          display: block;
          animation: fadeIn 0.5s;
          @include transition(0.5s);
        }
      }
    }
    .drop-mega {
      display: none;
      position: absolute;
      background: rgba($theme-black, .91);
      width: 100%;
      //box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1200;
      top: 100%;
      right: 0;
      left: 0;
      .wrapMe {
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
        -webkit-column-gap: 5px; /* Chrome, Safari, Opera */
        -moz-column-gap: 5px; /* Firefox */
        column-gap: 5px;
      }
      h4 {
        text-align: center;
        font-size: 16px;
        color: $theme-gold;
        font-weight: bold;
        padding: 20px;
        border-bottom: 1px solid rgba($theme-gold, .5);
      }
      .more {
        color: $theme-gold;
        font-weight: bold;
        font-size: 16px;
        &:hover {
          background: none;
        }
      }
      ul {
        list-style: none;
        padding-left: 0;
        color: $theme-white;
      }
      li a {
        color: $theme-white !important;
        padding: 12px 16px;
        text-align: left;
        text-decoration: none;
        display: block;
        letter-spacing: 0;
        text-transform: capitalize !important;
        border-right: none;
        float: none;
        font-weight: 400;
        &:hover {
          color: $theme-gold !important;
        }
      }
    }
  }
}

// mobile nav
.topNav {
  position: relative;
  padding-top: 15px;
  @include transition(0.5s);
  &.scrolled {
    position: fixed;
    top: 0;
    padding-top: 8px;
    background: $theme-white;
    z-index: 99;
    @include boxShadow(2px, 2px, 2px, rgba($theme-black, .2));
    .navbar {
      // padding-top: 2em;
      @include transition(0.5s);
    }
  }
}

.productComplaint {
  text-align: center;
  padding: 10px;
  h5 {
    font-size: 1.5em;
    line-height: 25px;
    color: $theme-gold;
    border-bottom: 1px solid rgba($theme-gold, .2);
  }
  span {
    padding-top: 15px;
    line-height: 30px;
    font-size: 1.1em;
    color: $theme-black;
  }
}

.sizeLink {
  text-align: center;
  color: rgb(10, 110, 200) !important;
  margin-top: 25px;
  padding: 13px 0 4px 0;
  &:hover {
    color: $theme-rejected;
    @include transition(0.5s);
    font-weight: bold;
  }
}

.hide-radio {
  left: -9999px;
  input[type=radio] {
    display: none;
    &:checked {
      + label {
        filter: grayscale(100%);
        border: 3px solid $theme-gold;
        transform: rotateZ(-10deg) rotateX(10deg);
        @include transition(0.5s);
        @include boxShadow(-4px, 4px, 10px, rgba($theme-black, 0.25))
      }
    }
    + label {
      > img {
        border: 1px dashed #444;
        width: 150px;
        height: 150px;
        @include transition(500ms);
        background: no-repeat center;
        background-size: contain;
      }
    }
  }
}


.image-radio {
  left: -9999px;
  input[type=radio] {
    display: none;
    position: absolute;
    right: 14px;
    bottom: 14px;
    top: 5%;
    z-index: 1200;
    &:checked {
      + label {
        filter: grayscale(100%);
        border: 3px solid $theme-gold;
        //transform: rotateZ(-10deg) rotateX(10deg);
        @include transition(0.5s);
        @include boxShadow(-4px, 4px, 10px, rgba($theme-black, 0.25))
      }
    }
    + label {
      > img {
        border: 1px dashed #444;
        width: 150px;
        height: 150px;
        @include transition(500ms);
        background: no-repeat center;
        background-size: contain;
      }
    }
  }
}

.s-art {
  height: 170px;
  background: no-repeat center;
  background-size: contain;
}

.btn-sub {
  color: $theme-white;
  background: none;
  border: none;
  outline: none;
  &:focus {
    border: none;
  }
}

#subLoad {
  display: none;
  left: 1040px;
  position: absolute;
  width: 120px;
}

#icon-top {
  position: fixed;
  display: none;
  bottom: 65px;
  right: 10px;
  width: 60px;
  padding: 0;
  height: 60px;
  border-radius: 50px;
  z-index: 99;
  border: none;
  outline: none;
  color: $theme-white;
  background-color: $theme-black;
  cursor: pointer;
  box-shadow: rgba(0,0,0,.3) -3px 3px 6px;
}

.val-land {
  background: $theme-white url("../../img/val-bkg.png") no-repeat center;
  width: 100%;
  height: 500px;
  background-size: cover;
  .modal-landing {

  }
}

.freeModalDialog {
  max-width: 98% !important;
  margin: 10px auto !important;
  overflow-y: auto;
}

.form-control {
  &:focus {
    box-shadow: none;
    border-color: rgba($theme-gold, .4);
  }
}

.designerPreviewBanner {
  background: url("../../../public/img/designerBanner.jpeg") no-repeat right;
  background-size: cover;
  width: 100%;
  height: 300px;
  position: relative;
  margin-top: -76px;
  .storeName {
    margin: 7em auto 0;
    width: 60%;
    position: absolute;
    height: auto;
    left: 0;
    text-align: center;
    right: 0;
    span {
      padding: 15px;
      color: $theme-gold;
      position: relative;
      font-size: 2em;
      font-weight: lighter;
      text-align: center;
    }
  }
}

.overCover {
  position: absolute;
  background: $theme-black;
  opacity: .4;
  height: 100%;
  width: 100%;
  content: '';
}

/*No Network style*/
.network {
  width: 100%;
  height: 100vh;
  background: url("../../img/nonetwork.jpg") no-repeat center;
  background-size: cover;
  .inner-content {
    padding-top: 8em;
    vertical-align: middle;
    text-align: center;
    position: relative;
    width: 60%;
    margin: 0 auto 0;
    h3 {
      padding-top: 1em;
      margin-bottom: 0;
      margin-top: 0;
      color: $theme-gold;
      font-weight: bold;
      font-size: 4.3em;
    }
    span {
      color: $theme-white;
      font-size: 2em;
      letter-spacing: 2px;
    }
    .btnHolder {
      margin-top: 30px;
      text-align: center;
      display: block;
      .btn {
        padding: 1em 2em;
        border-radius: 5px;
        border-width: 0;
        border-bottom-width: 3px;
        border-color: $theme-deepgold;
        &:hover {
          @include transition(0.5s);
          border-color: $theme-gold;
        }
        &:focus {
          border: 0;
        }
      }
      .btn-network {
        background: $theme-gold;
        color: $theme-white;
        font-size: 1em;
      }
    }
  }
}

.netoverlay {
  content: '';
  overflow: hidden;
  background: $theme-black;
  opacity: .8;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
}

//modal-close-btn
.addColor {
  color: $theme-gold;
}

//customize artwork radio button
.materials {
  input {
    display: none;
    &:checked + label {
      filter: none;
    }
  }
  label {
    display: block;
    height: 200px;
    width: 350px;
    cursor: pointer;
  }
  label {
    > input {
      visibility: hidden;
      position: absolute;
    }
    > input + img {
      cursor: pointer;
      border: 1px solid transparent;
    }
    > input:checked + img {
      border: 1px solid rgba(0, 0, 0, .2);
      filter: grayscale(100%);
    }
  }
}

//Star design
input.star {
  //display: none;
  visibility: hidden;
}

label.star {
  float: right;
  padding: 3px;
  font-size: 20px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 7px #952;
}

input.star-1:checked ~ label.star:before {
  color: #F62;
}

label.star:hover {
  transform: rotate(-15deg) scale(1.3);
}

label.star:before {
  content: '\f005';
  font-family: "Font Awesome 5 Free";
  font-size: 13px;
}

.star-hidden {
  left: 0%;
  position: absolute;
  //bottom: -11px;
}

.star-hidden-search {
  position: absolute;
  left: 0;
}

//Decision page
.agree {
  padding-left: 10px;
  line-height: 25px;
}

.decision_con {
  width: 45%;
  @include borderLine(rgba($theme-gold, .3));
  margin: 4em auto 10px;
  @include transition(0.5s);
  @media(max-width: 768px) {
    width: 80%;
  }
  h3 {
    text-align: center;
    font-size: 1.6em;
    font-weight: 500;
    color: $theme-gold;
  }
  .inner-container {
    padding: 10px;
    display: block;
  }
  .btn {
    padding: .5em 1.7em;
    outline: none;
    min-height: 1px;
    font-weight: 400;
    letter-spacing: 2px;
    border-radius: 3px;
    border-bottom-width: 3px;
    border-width: 0;
  }
  .btn-decision {
    background: $theme-gold;
    color: $theme-white;
    &:hover {
      @include borderLine($theme-gold);
      @include transition(0.5s);
      color: $theme-gold;
      background: none;
    }
  }
  .btn-shop {
    background: $theme-gold;
    border-color: $theme-deepgold;
    span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      @include transition(0.5s);
      &::after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -10px;
        @include transition(0.5s);
        color: $theme-gold;
      }
    }
    &:hover {
      background: $theme-white;
      color: $theme-gold;
      font-weight: bold;
      @include borderLine($theme-gold);
      span {
        padding-right: 15px;
        &::after {
          opacity: 1;
        }
      }
    }
  }
  textarea {
    resize: none;
  }
  hr {
    width: 100% !important;
    border: .35px solid rgba(0, 0, 0, 0.09);
    margin-top: 10px;
  }
}

/** button **/
.c-btn {
  padding: .4em 1.4em;
  outline: none;
  @include transition(0.5s);
  @include borderLine(rgba($theme-gold, .2));
  border-width: 0;
  //border-bottom-width: 5px;
  border-radius: 3px;
  box-shadow: #333 0 2px 3px;
}

.c-btn-waiting {
  background: $theme-white;
  color: $theme-red;
  border-color: $theme-red;
  font-weight: bold;
  &:hover {
    box-shadow: none;
    @include transition(0.5s);
  }
}

/**----Cart New style----**/
.cart {
  margin-bottom: 20px;
  .side-content {
    margin: 3px;
    display: flex;
    justify-content: center;
  }
  .inner-cart {
    padding: 10px 1.6em 1px;
    .cart-head {
      background: $theme-black;
      //margin: 5px 0;
      margin: 0;
      color: $theme-white;
      h4 {
        font-weight: bold;
        vertical-align: middle;
        font-size: 15px;
        margin-top: 9px;
      }
    }
    h3 {
      font-size: 1em;
    }
    .cart-body {
      background: $theme-white;
      margin: 0 0 3px;
      .cart-inner-body {
        padding: 5px 0;
        .cart-product-name {
          line-height: 25px;
          padding: 10px 20px 0;
          h3 {
            font-weight: 600;
          }
          a {
            color: $theme-black !important;
            &:hover {
              text-decoration: underline;
            }
          }
          .price {
            //display: block;
            color: #999;
            margin-bottom: 0;
            font-size: 13px;
            .old {
              font-size: 10px;
              padding-left: 1em;
              text-decoration: line-through;
            }
          }
        }
        .cart-product-image {
          width: 120px;
          height: auto;
          .img-cart {
            object-fit: contain;
            width: inherit;
            height: 140px;
            object-position: center;
            padding: 4px;
          }
        }
      }

      .cart-footer {
        .btn {
          padding: 4px 14px;
          //text-transform: uppercase;
          border-radius: 0;
          margin: 2px 0 0 6px;
          @include borderLine($theme-black);
        }
        .btn-save-later {
          font-size: 12px;
          background: $theme-white;
          color: $theme-black;
          &:hover {
            @include transition(0.5s);
            background: $theme-black;
            color: $theme-white;
          }
        }
        .cart-qty-select {
          width: 65%;
          padding: 0 20px 0;
          select.form-control:not([size]):not([multiple]) {
            height: 30px;
            &:focus {
              @include noBoxShadow(none);
              outline: none;
            }
          }
        }
        .qty-price {
          font-weight: 400;
        }
      }
    }
  }
  .cart-total-holder {
    background: $theme-white;
    .inner-cart-total {
      h4 {
        font-size: 1.3em;
        border-bottom: 1px solid rgba($theme-black, .2);
      }
      padding: 15px;
      .sub-total-row {
        display: flex;
        align-items: flex-end;
        margin-bottom: 8px;
        .sub-title {
          word-wrap: break-word;
          flex: 1;
        }
        .sub-price {
          width: 45%;
          text-align: right;
          color: #111;
        }

        .sub-price-saving {
          @extend .sub-price;
          color: $theme-red;
          font-weight: lighter !important;
        }
      }

      .shipping-row {
        @extend .sub-total-row;
        //padding-top: 4px;
        .ship-price {
          @extend .sub-price;
          color: $theme-black;
          font-weight: 400;
        }
        .total-price {
          @extend .ship-price;
          font-size: 1.1em;
        }
      }

      .btn {
        width: 100%;
        outline: none;
        @include borderLine(rgba($theme-black, .3));
        border-radius: 0;
        padding: .7em 2em;
      }

      .btn-checkout {
        color: $theme-white;
        text-transform: uppercase;
        letter-spacing: 1px;
        //background: linear-gradient($theme-black, #999);
        background: rgb(0, 0, 0);
        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 47%, rgba(15, 15, 15, 1) 49%);
        &:hover {
          @include transition(0.5s);
          .icon-btn {
            @include transition(0.5s);
            opacity: 1;
            @include transformX()
          }
        }
      }

      span {
        font-size: 12px;
        display: flex;
        justify-content: center;
        padding-top: 10px;
      }
    }
    .promo-form {
      padding: 5px;
      h4 {
        font-weight: bold;
        color: $theme-black;
        text-align: left;
        font-size: 14px;
      }
      span {
        line-height: 25px;
        font-size: 12px;
        //@include borderLine(rgba($theme-black, .8));
        padding: 2px 6px;
        //background: #999;
        display: block;
        color: $theme-black;
      }
      .search {
        padding: 0;
        .form-control {
          border-radius: 0;
          border: none;
          border-bottom: 1px solid $theme-black;
          @include noBoxShadow(none);
          &:focus {
            outline: none;
            @include noBoxShadow(none);
          }
        }
        .btn {
          border-radius: 0;
          @include borderLine($theme-black);
          padding: .3em 2em;
        }
        .btn-promo {
          background: $theme-black;
          color: $theme-white;
        }
      }
    }
  }

  .cart-action {
    margin-top: 10px;
    .btn-empty-cart {
      background: $theme-gold;
      color: $theme-white;
      border-radius: 0;
    }
    .continue-shopping {
      margin-left: 1em;
      padding: 6px 10px 11px;
      @include borderLine($theme-black);
      &:hover {
        color: $theme-gold;
        font-weight: bold;
        @include borderLine($theme-gold);
        .icon-btn {
          @include transition(0.5s);
          opacity: 1;
          @include transformX()
        }
      }
    }
  }

  .empty-cart-not {
    margin: auto;
    text-align: center;
    h5 {
      font-size: .9em;
      font-weight: 400;
    }
    img {
      width: 100px;
    }
    .btn {
      padding: .6em 4em;
      color: $theme-white;
      font-weight: bold;
      border: none;
      border-radius: 0;
    }
    .btn-cart-shop {
      display: block;
      background: $theme-gold;
      &:hover {
        .icon-btn {
          @include transition(0.5s);
          opacity: 1;
          @include transformX()
        }
      }
    }
  }
}

/**--Add to cart Modal--**/
@media (min-width: 576px) {
  .modal-dialog-cart {
    max-width: 600px !important;
    margin: 12rem auto;
  }
}

.modal-header {
  border-bottom: none !important;
}

.cart-b {
  padding-top: 0;
  .btn-space {
    margin-top: 1rem;
    padding: 10px 0 0;
  }
  h3 {
    font-size: 1.3rem;
    color: $theme-gold;
    font-weight: 400;
  }
  .btn {
    border-radius: 3px;
    font-size: 1rem;
    display: block;
    width: 100%;
    padding: .6rem 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }
  .btn-close {
    background: transparent;
    color: $theme-black;
    @include boxShadow(2px, 3px, 7px, rgba($theme-black, .2));
    &:hover {
      @include noBoxShadow(none);
      @include transition(0.5s);
      @include borderLine(rgba($theme-black, .2));
    }
  }
  .btn-checkout-cart {
    @include borderLine(rgba($theme-gold, .2));
    color: $theme-gold;
    padding-left: 26px;
    &:hover {
      background: $theme-black;
      border: none;
    }
  }
}

.icon-btn {
  vertical-align: middle;
  opacity: 0;
}

.cart-pro-size {
  margin-top: 10px;
  ul {
    list-style: none;
    display: inline-flex;
    padding-left: 5px;
  }
  li {
    float: left;
    text-align: center;
    padding: 1px 8px;
    margin: 0 2px;
    @include borderLine(rgba($theme-black, .2));
  }
}

.btn-addProduct {
  padding: .4em 4em;
  background: $theme-gold;
  color: $theme-white;
  font-weight: bold;
  &:hover {
    color: $theme-gold;
    background-color: $theme-white;
    @include borderLine($theme-gold);
  }
}

// payment details styling
.payment-details {
  width: 75%;
  height: 100%;
  margin: 2em auto 20px;
  overflow: hidden;
  @include borderLine(rgba($theme-black, .2));
  @media (max-width: 768px) {
    width: 90%;
  }
  .inner-payment {
    padding: 20px;
    .col-th-3 {
      width: 35%;
      height: auto;
      float: left;
      padding-left: 4em;
      .img_style {
        width: 200px;
        height: 100%;
        background-size: contain;
        background: no-repeat center;
        vertical-align: middle;
      }
    }
    .col-th-5 {
      width: 55%;
      display: inline-block;
      .content {
        vertical-align: middle;
        text-align: center;
        padding: 10px;
        h3 {
          font-size: 1.5em;
          color: $theme-gold;
          font-weight: bold;
          text-align: center;
        }
        span {
          color: $theme-black;
          font-size: 1.1em;
          line-height: 25px;
        }
        .shopBack {
          margin-top: 2em;
        }
        .btn {
          padding: .4em .8em;
          outline: none;
          border-radius: 3px;
          position: relative;
          border-width: 0;
          border-bottom-width: 3px;
        }
        .btn-shopBack {
          border-color: $theme-deepgold;
          background: $theme-gold;
          color: $theme-white;
          &:hover {
            @include transition(0.5s);
            border-color: $theme-gold;
          }
        }
      }
    }
    ul {
      list-style: none;
      margin: 0;
    }
    li {
      span {
        color: $theme-black;
      }
      display: block;
      font-size: 1em;
      font-weight: 400;
      position: relative;
      padding: 2px;
      color: $theme-gold;
    }
    .icon {
      vertical-align: middle;
      color: $theme-gold;
    }
    h3 {
      font-size: 1.4em;
      color: $theme-gold;
      text-align: center;
    }
    span {
      line-height: 34px;
      font-size: 1em;
    }
    .important-message {
      padding-top: 15px;
      line-height: 34px;
    }
  }
}

.pay-corner {
  padding: 1px;
  .btn2 {
    display: inline-block;
    border: none;
    padding: .4em .9em;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;
  }
  .btn-payment {
    background: $theme-gold;
    color: $theme-white;
    font-size: 14px;
    &:hover {
      border-width: 0;
      @include borderLine($theme-gold);
      color: $theme-gold;
      background: $theme-white;
    }
  }
}

.score-card {
  padding: 5px;
}

.status {
  border: 1px solid rgba(0, 0, 0, .2);
  padding: 15px;
  border-radius: 3px;
  text-align: center;
  img {
    width: 50px;
    height: 50px;
    text-align: center;
    background: no-repeat center;
    background-size: contain;
    display: inline-block;
  }
  span {
    display: block;
    clear: both;
    font-size: 1.6em;
    font-weight: 400;
    margin-top: 10px;
    line-height: 45px;
    text-transform: capitalize;
  }
  .success {
    color: rgb(30, 180, 40);
  }
  .error {
    color: rgb(170, 30, 40);
  }
}

.card-types {
  padding: 1em 0 0 8em;
  .c-label {
    color: $theme-gold;
    font-weight: bold;
  }
  .card-type {
    display: inline-block;

    input {
      display: none;

      &:checked + label {
        filter: none;
        @include borderLine(rgba($theme-gold, .2));
        @include transition(0.5s);
        @include boxShadow(-4px, 4px, 10px, rgba($theme-black, 0.25));
      }
    }

    label {
      display: block;
      height: 48px;
      width: 76.8px;
      background: url(../../../public/img/credit-card-logos.png) no-repeat;
      //filter: grayscale(1);
      cursor: pointer;
    }

    &.card-mastercard > label {
      background-position: -83px -8.624px;
    }

    &.card-visa > label {
      background-position: 0px -8.624px;
    }

    &.card-discover > label {
      background-position: 0px -63.5px;
    }

    &.card-american-express > label {
      background-position: -83px -63.5px;
    }
  }
}

/**--Product Price, Product Details && Feature Products--***/
.thumbBorder {
  color: $theme-black;
}

.out-of-stock-indicator {
  position: absolute;
  /* left: 0; */
  top: 8px;
  width: 8%;
  bottom: 0;
  height: 100%;
  margin: 13px 0 0 0;
}

.product-shop-detail {
  width: 100%;
  margin: auto;
  .product-details {
    margin: 5px auto 5px;
    height: auto;
    .productThumb {
      padding: 0 10px 0;
      img {
        width: 75px;
        object-fit: contain;
        object-position: center;
      }
      > div {
        margin: 7px 48px 5px;
        > div {
          margin-bottom: 7px;
        }
      }
    }
    .main-picture {
      padding: 5px;
      a {
        width: 350px;
        margin-left: 30px;
      }
      img {
        width: 500px;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }

    .product-show-details {
      padding: 5px;
      h3 {
        @include josefin();
        font-size: 2em;
        color: $theme-black;
        font-weight: 500;
        margin-bottom: 10px;
        //white-space: nowrap;
        //border-bottom: 1px solid rgba($theme-black, .1);
      }
      .designerName a {
        color: #333;
        vertical-align: middle;
        margin-bottom: 0 !important;
        text-transform: uppercase;
        &:hover {
          color: $theme-black;
        }
      }
      .price {
        list-style: none;
        padding: 0;
        margin: 10px 10px 25px 0;
        li {
          float: left;
          margin: 0;
          font-size: 27px !important;
          font-weight: bold;
          &:nth-child(2) {
            margin-left: 15px;
          }
        }
      }
      .productPrice {
        margin-left: 0;
        .old {
          text-decoration: line-through;
          padding-top: 8px;
          font-size: 16px !important;
        }
      }
      .discount {
        float: right;
        list-style: none;
        margin: -8px 32px 0;
        li {
          padding: 3px;
          //margin-left: 2.6em;
          margin-left: 0;
          border: 2px solid $theme-gold;
          font-size: 12px;
          color: $theme-gold;
          font-weight: bold;
        }
      }
      .product-des-long {
        margin-top: 10px;
        margin-bottom: 7px;
        text-align: justify;
        font-size: 16px;
        //text-transform: capitalize;
        &:first-letter {
          text-transform: uppercase;
        }
      }
      .notify-me {
        padding-top: 12px;
        padding-bottom: 5px;
        &:hover {
          text-decoration: underline;
          i {
            text-decoration: none !important;
            animation: swing linear .3s infinite;
            @include transition(0.5s);
          }
        }
        a:hover {
          color: $theme-black;
        }
      }
      .wishHeart {
        margin-top: 25px;
        a {
          font-weight: 300;
          vertical-align: middle;
        }
      }
      .productColorClient {
        margin-top: 20px;
        h5 {
          font-size: 1em;
        }
        ul {
          list-style: none;
          overflow: hidden;
          margin: 0 0 0;
          padding-left: 0;
        }
        .c-label {
          display: initial;
          position: absolute;
          top: 5%;
          margin-top: 20px;
          font-weight: 500;
        }
        li {
          padding: 0;
          float: left;
          margin: 20px 55px 0 0;
          @include borderLine(rgba($theme-black, .3));
          img {
            width: 40px;
            height: 40px;
          }
          &:hover {
            cursor: pointer;
            border-bottom: 3px solid $theme-black;
            @include transition(0.5s);
          }
        }
      }
      .product-size {
        margin-bottom: 15px;
        margin-top: 20px;
      }
      .wait {
        background: $theme-inspection;
        margin-right: 14px;
        border-radius: 2px;
        font-weight: 500;
        line-height: 20px;
        padding: 10px;
        text-align: center;
        color: $theme-white;
        text-shadow: 0 -1px 0 rgba($theme-black, 0.25);
      }
      .message-wait {
        font-size: 14.7px !important;
      }
      .add-cart {
        margin-top: 50px;
        margin-bottom: 10px;
        .btn {
          padding: 8px 39px !important;
          border-radius: 0;
        }
        .btn-cart {
          background: $theme-black;
          color: $theme-white;
          text-transform: uppercase;
          font-weight: 500;
          letter-spacing: 1px;
          @include borderLine($theme-black);
          &:hover {
            background: lighten($theme-black, 2%);
            @include transition(0.5s);
          }
        }
        .btn-customize {
          @extend .btn-cart;
          background: $theme-white;
          color: $theme-black;
          @include borderLine($theme-black);
          &:hover {
            background: lighten($theme-black, 2%);
            @include transition(0.5s);
            color: $theme-white;
            border: none;
          }
        }
      }
    }
  }
  .product-review {
    margin-top: 4em;
    background: $theme-white;
    height: auto;
    .nav-tabs {
      width: 85%;
      margin: auto;
      display: flex;
      justify-content: center;
      .nav-link {
        border-radius: 0;
        padding: 0.5rem 1.5rem;
        text-transform: capitalize;
        letter-spacing: 1px;
        font-weight: 700;
      }
    }
    .tab-content {
      width: 85%;
      margin: 4px auto 2px;
      background: $theme-white;
      padding: 5px;
    }
    .long-description {
      padding: 5px;
      line-height: 30px;
    }
    .no-review {
      color: $theme-inspection;
      margin: 10px 0 40px 0;
      display: flex;
      font-size: 1.3em;
      background: #f7f7f7;
      align-items: center;
      justify-content: space-evenly;
    }
    .comment-review {
      h5 {
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        padding: 7px 0 7px;
      }
      .review-stars {
        .rating-title {
          position: absolute;
          top: 3px;
          font-size: .75em;
        }
      }
      label.star {
        font-size: 16px;
      }
    }
    .review-form {
      .form-control {
        border-radius: 0;
        padding: .7em .52em;
      }
      .btn {
        border-radius: 0;
      }
      .btn-review {
        background: $theme-black;
        color: $theme-white;
        letter-spacing: 1px;
        font-weight: 400;
      }
    }
  }
  .rating-preview {
    padding-top: 10px;
    border-bottom: 1px solid rgba($theme-black, .2);
    margin-bottom: 5px;
    .rated-stars {
      font-size: 14px;
      margin-bottom: 2px;
    }
    h5 {
      font-size: 15px;
      font-weight: bold;
      color: $theme-black;
      margin-top: 4px;
      margin-bottom: 0;
    }
    p.testimony {
      line-height: 1.5;
      font-size: 15px;
    }
    .date-reviewed {
      padding-top: 8%;
      font-size: 14px;
      vertical-align: middle;
    }
    .updateIcon {
      right: 15px;
      position: absolute;
      bottom: 35px;
    }
  }
}

.other-feature-products {
  clear: both;
  border-top: 1px solid rgba($theme-black, .2);
  margin-top: 30px;
  height: auto;
  margin-bottom: 10px;
  .head-title {
    border-bottom: 1px solid #222;
    margin: 20px auto;
    h3 {
      text-align: center;
      padding: 5px 0 5px 0;
      width: 30%;
      font-size: 1.4em;
      text-transform: uppercase;
      font-weight: bold;
      margin: auto;
      border-left: 1px solid #111;
      background: $theme-black;
      border-top: 1px solid #111;
      border-right: 1px solid #111;
      color: #fff;
      border-bottom: 1px solid #111;
    }
  }
}

.product-des-user {
  @include borderLine(rgba($theme-black, .2));
  .product-name {
    font-weight: lighter;
    font-size: 29px;
    margin-bottom: 0;
    text-transform: capitalize;
  }
  .product-store {
    color: #999 !important;
    font-weight: bold;
    font-size: 21px;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  .productColor {
    padding-left: 0;
    margin-top: 20px;
    ul {
      padding-left: 20px;
    }
  }

}

.pPrice {
  list-style: none;
  padding: 0 4px 4px 14px;
  margin: 0;
  .old {
    padding-top: 5.5px;
    text-decoration: line-through;
    font-size: 12px !important;
  }
  li {
    float: left;
    font-size: 18px;
    margin: 0;
    font-weight: bold;
    &:nth-child(2) {
      margin-left: 10px;
    }
  }
}

.unit-p {
  padding-top: 30px;
  text-align: center;
  .n {
    font-weight: bold;
  }
  .old {
    text-decoration: line-through;
    font-size: 10px !important;
    margin-bottom: 0 !important;
  }
  small {
    color: $theme-inspection;
    font-size: .7em;
  }
}

.side {
  h5 {
    font-size: .9rem !important;
  }
  .card-reader {
    padding: 0.4rem 1.25rem !important;
  }
  .card-body {
    padding-bottom: 0;
  }
  ul {
    list-style: none;
  }
  li {
    display: block;
    cursor: pointer;
    padding: 2px;
    &:hover {
      color: $theme-gold;
      font-weight: bold;
    }
  }
}

.cat-section {
  height: 100%;
  margin-bottom: 30px;
}

/*--Styling for the product Categorization user----*/
.white {
  background: $theme-white !important;
}

.white-text {
  color: $theme-white !important;
}

.products-cat-shop {
  padding: 0;
  margin: 10px auto 20px;
  .productshow {
    width: 100%;
    float: left;
    height: auto;
    margin-bottom: 10px;
  }
  .sidebarproduct {
    width: 20%;
    height: 100%;
    float: left;
    padding: 0 5px 0;
    margin-left: 10px;
    //border: 1px solid rgba($theme-black, .18);
    .filter-price {
      background: $theme-white;
      height: auto;
      margin-top: 0;
      font-weight: 400;
      p {
        background: $theme-black;
        text-align: center;
        padding: 5px;
        color: $theme-white;
        font-weight: 300;
        font-size: 14px;
      }
    }
    .price-value {
      text-align: center;
    }
    .price-range {
      margin: 6px;
    }
    .designer-search {
      h3 {
        font-size: 18px;
        font-weight: 500;
        color: #333;
      }
      ul {
        list-style: none;
        padding-left: 15px;
        margin: 2px;
      }
      li {
        padding: 5px;
        text-transform: capitalize !important;
        font-size: 13px;
        font-weight: 400;
        display: block;
        &:before {
          content: '\f054';
          color: $theme-gold;
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
        }
      }
    }

    .product-name {
      margin-top: 10px;
      @extend .designer-search;
    }
  }

  h3 {
    text-align: center;
    margin-top: 15px;
  }
  .bespoke-request {
    text-align: center;
    background: #eae8e4;
    padding: 15px 0;
    border-radius: 3px;
    .btn {
      padding: 5px 20px;
      margin-left: 4em;
      border-radius: 4px;
      background: $theme-white;
      @include borderLine($theme-black);
      animation: flipX linear 5s;
      //animation-iteration-count: 3;
    }
    .btn-bespoke {
      color: $theme-black;
      font-size: 14px;
      outline: none;
      &:hover {
        @include transition(400ms);
        background: $theme-black;
        color: $theme-white !important;
      }
    }
  }
}

.btn-load-more {
  background: $theme-white;
  @include borderLine(rgba($theme-black, .4));
  padding: .7em 0;
  border-radius: 0;
  width: 18%;
  letter-spacing: 2px;
  margin: auto;
}

.load-gif {
  display: none;
  position: absolute;
  right: 49%;
  top: 20%;
}

/*---End here ---*/

/****--Style for Customization Page--****/
.customization {
  margin: 10px 20px;
  .measure-corner {
    margin: 0 7px 5px 0;
    padding: 10px 0 0;
    h2 {
      font-size: 1.62em;
      text-align: center;
      &::after {
        background: $theme-gold;
        width: 100%;
        height: 2px;
        position: absolute;
      }
    }
    .login-notice {
      margin: 10px 0 20px;
      padding: 0;
      span {
        color: #999999;
        font-size: 1.42em;
        font-weight: bold;
        animation-iteration-count: 3;
      }
    }
    .measure-info {
      h3 {
        font-size: 1.2em;
      }
    }
    .measureBox, .measurementUnit {
      span, label {
        font-weight: bold;
      }
    }
  }
  .measure-helper {
    @include transition(500ms);
    margin: 0 0 5px;
    border-left: 1px solid rgba($theme-black, .2);
    padding: 5em 0 0;
    &.fixedM {
      //position: fixed;
    }
    a:hover {
      color: $theme-gold;
    }
    .teach-me-video {
      width: 100px;
      height: 80px;
      display: block;
      text-align: center;
      background: #111;
      color: white;
      margin: 2px auto 12px;
      padding-top: 20px;
    }
    .info {
      text-align: center;
      font-size: 1.1em;
    }
    .measureVideo {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .addMeasurement {
    margin: 0 40px 0 10px;
  }
  .measureNote {
    border: 1px dashed;
    padding: 10px 9px 1px;
    font-weight: 500;
    margin: 3%;
  }
}

.ml-pic {
  margin-left: 6%;
  &:first-child {
    margin-left: 0;
  }
}

.sizeTab {
  .sizeTab {
    width: 100%;
    object-fit: cover;
  }
  h5 {
    padding-left: 11%;
    margin-top: 0;
  }
}

.art-details {
  font-size: 13px;
  font-weight: 400;
}

.c-load {
  position: absolute;
  width: 7%;
  left: 85px;
  top: 19px;
  display: none;
}

.m-load {
  width: 5%;
  left: 85px;
  top: 19px;
  display: none;
}

.measurementInput {
  margin: 20px 6px 10px 30px;
  padding: 0;
  .measurementImg {
    margin-top: 1em;
    .measure-img {
      @include transition(0.5s);
      object-fit: contain;
      object-position: center;
      width: 100%;
      background-repeat: no-repeat;
      height: 400px;
      border-radius: 4px;
      border: 1px dashed rgba($theme-black, .6);
    }
  }
  .save-buttons {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    .btn {
      padding: .4em 2.1em;
      border-width: 0;
      outline: none;
      border-radius: 2px;
      margin-left: 10px;
    }
    .btn-save {
      color: $theme-white;
      background: $theme-gold;
      border-bottom-width: 3px;
      border-color: $theme-black;
      &:hover {
        border-color: $theme-gold;
        @include transition(0.5s);
      }
    }
    .btn-cancel {
      color: $theme-white;
      background: $theme-black;
      border-bottom-width: 3px;
      border-color: $theme-gold;
      &:hover {
        border-color: $theme-black;
        @include transition(0.5s);
      }
    }
  }
}

#measure-icon {
  position: fixed;
  display: none;
  bottom: 40%;
  right: 0;
  width: 100px;
  height: 130px;
  z-index: 99;
  border: none;
  outline: none;
  color: $theme-white;
  background-color: $theme-black;
  cursor: pointer;
  box-shadow: rgba(0,0,0,.3) -1px 0 4px;
  span {
    color: $theme-white;
    font-size: 16px;
  }
}

.slimFitSelection {
  margin-top: 10px;
  .heading {
    text-align: center;
    color: $theme-black;
    margin-bottom: 15px;
    height: auto;
    span {
      font-size: 17px;
      font-weight: bold;
    }
  }
  .hide-fit {
    left: -9999px;
    strong {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    input[type=radio] {
      display: none;
      &:checked {
        + label {
          filter: grayscale(100%);
          border: 3px solid $theme-gold;
          //transform: rotateZ(-10deg) rotateX(10deg);
          @include transition(0.5s);
          @include boxShadow(-4px, 4px, 10px, rgba($theme-black, 0.25))
        }
        > img {
          border: none;
        }
      }
      + label {
        > img {
          border: 1px dashed #444;
          width: 150px;
          height: 150px;
          @include transition(500ms);
          background: no-repeat center;
          background-size: contain;
        }
      }
    }
  }
  img {
    width: 50%;
  }
}

.fabric-selection {
  padding: 10px 0 0 0;
  margin-bottom: 10px;
  .boundary {
    border: 1px dashed rgba($theme-black, .2);
    border-radius: 10px;
  }
  h3 {
    text-align: center;
    font-size: 19px;
    padding-top: 15px;
    font-weight: bold;
  }
  .add-label {
    font-size: .9em;
    font-weight: bold;
    margin-bottom: 0;
  }
  .no-artwork {
    display: flex;
    justify-content: center;
    font-size: 16px;
    text-align: center;
    padding: .1em .91em;
    background: $theme-black;
    color: $theme-gold;
    border-radius: 4px;
  }
}

.add-to-cart {
  display: flex;
  justify-content: center;
  .btn {
    padding: .4em 3em !important;
    border-radius: 4px !important;
  }
  @include specialButtons();
}

/****--Customization End Here--****/

.wish-empty {
  text-align: center;
  padding: 10px;
  @include transition(0.5s);
  span {
    font-size: 1.54em;
    font-weight: lighter;
  }
  b {
    font-weight: bold;
    color: $theme-gold;
  }
}

.viewMeasure {
  display: block;
  text-align: center;
  padding: 12px;
}

.testimonials {
  max-height: 400px;
  overflow-y: auto;
}

/***----New Arrival----***/
.arrival {
  text-align: center;
  position: relative;
  @include specialButtons();
}

/*--Newsletter Style---*/
.news {
  h3 {
    font-weight: bold;
    color: white;
    margin-bottom: 18px;
  }
}

// label and label description
.label {
  display: inline-block;
  padding: 3px 4.3px;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  color: $theme-white;
  text-shadow: 0 -1px 0 rgba($theme-black, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999;
  border-radius: 2px;
  text-transform: capitalize;
}

.label-info {
  background-color: #076;
}

.label-completed {
  background-color: $theme-completed;
}

.label-wait {
  //background: $theme-gold;
  font-size: 14.7px !important;
  //@include boxShadow(2px, 1px, 3px, rgba(0, 0, 0, .6));
}

.label-pending {
  background-color: $theme-gold;
}

.label-rejected {
  background-color: $theme-rejected;
}

.label-processing {
  background-color: $theme-processing;
}

.label-shipping {
  background-color: rgb(39, 90, 50);
}

.label-inspection {
  background-color: $theme-inspection;
}

/**New Checkout Page */
.info-payment {
  padding: 8px;
  background: white;
  border: 1px solid rgba(0, 0, 0, .3);
  text-align: center;
  font-size: 15px;
}

.checkout-page {
  width: 80%;
  margin: 2em auto 20px;
  height: 100%;
  @media (max-width: 768px) {
    width: 98%;
    margin: 0 auto 20px;
  }
  .c-title {
    width: auto;
    padding: 4px 0;
    overflow: hidden;
    span {
      color: #999;
      font-weight: bold;
      font-size: 15px;
      text-transform: uppercase;
      text-align: left;
      &:nth-child(2) {
        float: right;
        margin-right: 11.5em;
      }
    }
  }
  .order-title {
    margin: 0;
    padding: 10px 0 2px 0;
    border-bottom: 1px solid rgba($theme-gold, .3);
    h4 {
      padding-left: 10px;
      font-size: 1.1em;
      text-align: left;
      color: $theme-black;
      font-weight: 500;
    }
  }
  .checkout-container-left {
    width: 68%;
    height: auto;
    margin-right: 10px;
    float: left;
    // display: inline-block;
    @media (max-width: 768px) {
      width: 99%;
    }
    .checkout-details {
      background: $theme-white;
      border-radius: 2px;
      margin-bottom: 10px;
      .inner-address {
        padding: 10px;
        .delivery-option {
          padding: 15px;
          h3 {
            font-size: 1.2em;
            margin-bottom: 10px;
          }
          .option-list {
            //@include borderLine(rgba($theme-black, .1));
            padding: 5px 0 10px 5px;
            line-height: 25px;
            .p-details {
              display: block;
              line-height: 25px;
              font-size: .9em;
              color: #999;
              padding-left: 24px;
            }
          }
          .add-deliver {
            border-top: 1px solid rgba($theme-black, .081);
            padding: 20px 5px;
            margin-left: 23px;
          }
        }
        .push-down {
          margin-top: 14px;
        }
        .row {
          //margin: 0;
        }
        .form-control {
          border-radius: 0;
          box-shadow: none;

        }
        ul {
          list-style: none;
          margin: 6px -16px 20px;
        }
        li {
          display: block;
          line-height: 25px;
          color: #444;
          &:nth-child(1) {
            font-weight: 400;
            color: #111;
          }
        }
      }
      .inner-payment {
        padding: 10px;
        .place-order {
          margin-top: 2.5em;
          .btn {
            outline: none;
            border: none;
            box-shadow: none;
            border-radius: 0;
            width: 100%;
          }
          .btn-place {
            background: $theme-gold;
            color: $theme-white;
            font-weight: bold;
            text-transform: uppercase;
            &:hover {
              @include transition(0.5s);
              background: lighten($theme-gold, 2%);
              @include borderLine($theme-gold);
              color: $theme-black;
              font-weight: bold;
            }
          }
        }
      }
      .check-price {
        margin-top: 10px;
        padding: 10px 0 0 0;
        hr {
          margin-bottom: 5px !important;
          width: auto;
          margin-top: 16px;
          border: 0;
          border-top: 1px solid rgba($theme-black, .1);
        }
        .sub-total-row {
          display: flex;
          align-items: flex-end;
          .sub-title {
            word-wrap: break-word;
            flex: 1;
          }
          .sub-price {
            width: 45%;
            text-align: right;
            color: #111;
          }
        }
        .shipping-row {
          @extend .sub-total-row;
          padding-top: 10px;
          .ship-price {
            @extend .sub-price;
            color: $theme-gold;
            font-weight: bold;
          }
          .total-price {
            @extend .ship-price;
            font-size: 1.1em;
          }
        }
      }
    }
  }
  .checkout-container-right {
    width: 30%;
    //display: inline-block;
    float: right;
    @media (max-width: 768px) {
      width: 100%;
      margin-top: 10px;
      float: none;
    }
    .checkout-orders {
      height: auto;
      background: $theme-white;
      border-radius: 2px;
      .order-col {
        padding: 10px;
        border-bottom: 1px solid #ccc;
        .order-img {
          width: 50px;
          height: 100%;
          background: no-repeat center;
          background-size: contain;
        }
        .order-item {
          display: inline-block;
          vertical-align: middle;
          padding-left: 10px;
          //position: absolute;
          span {
            font-weight: 400;
            font-size: .91em;
          }
          p {
            color: $theme-gold;
            font-size: 1em;
            font-weight: 600;
            margin-bottom: 0;
          }
          h6 {
            font-size: 1em;
            color: #000;
            //margin-top: 5px;
          }
        }
      }
      .check-price {
        margin-top: 10px;
        padding: 10px;
        hr {
          margin-bottom: 5px !important;
          width: auto;
          margin-top: 16px;
          border: 0;
          border-top: 1px solid rgba($theme-black, .1);
        }
        .sub-total-row {
          display: flex;
          align-items: flex-end;
          .sub-title {
            word-wrap: break-word;
            flex: 1;
          }
          .sub-price {
            width: 45%;
            text-align: right;
            color: #111;
          }
        }
        .shipping-row {
          @extend .sub-total-row;
          padding-top: 10px;
          .ship-price {
            @extend .sub-price;
            color: $theme-gold;
            font-weight: bold;
          }
          .total-price {
            @extend .ship-price;
            font-size: 1.1em;
          }
        }
      }
    }
    .correct-cart {
      padding: 15px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      margin: auto;
      span {
        text-align: center;
        font-weight: bold;
        color: $theme-gold;
        align-items: center;
        flex: 1;
        text-transform: uppercase;
      }
    }
    .promo-section {
      margin-left: 0;
      margin-top: 4px;
      .pro-label {
        font-size: 12px;
        color: $theme-black;
        text-align: left;
      }
      .form-control {
        padding: 7px 8px;
        border-radius: 0;
      }
      .btn-prom {
        padding: 7px 30px;
        border-radius: 0;
      }
      .alert {
        padding: 3px 1px !important;
        margin-left: 0;
        border-radius: 0;
      }
    }
  }
}

/**---Bespoke Request---**/
.request-bespoke {
  margin: 2px 0 5px;
  h3 {
    text-align: center;
    font-size: 1.5em;
    margin-top: 14px;
    font-weight: lighter;
  }
  .float-right {
    position: relative;
  }
  .request-form {
    padding: 3px 20px 50px;
    //margin: 1em 5em 3px;
    background: $theme-white;
    border-radius: 2px;
    //z-index: 1200;
    h4 {
      font-size: .91em;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 400;
      text-align: center;
      margin-top: 2em;
      &.search-head {
        margin-bottom: 2em;
      }
      &.no-result-head {
        text-align: left !important;
      }
    }
    .btn-bespoke {
      background: $theme-black;
      color: $theme-white;
    }
    .btn-next {
      position: relative;
    }
    .s-form {
      .form-control {
        font-weight: lighter;
        background: $theme-offwhite;
        padding: 12px 25px;
        border-right: none;
        border-radius: 50px 0 0 50px;
        &:focus {
          background: transparent;
        }
      }
      span {
        border-left: none;
      }
    }
    .image-result {
      padding: 10px 0 0;
      h3 {
        text-transform: uppercase;
        text-decoration: underline;
        padding-bottom: 3px;
      }
      .image-bank-carousel {
        height: auto;
        width: 100%;
        span {
          font-size: 12px;
        }
        .price-mpp {
          text-align: left;
          font-size: 14px;
          position: absolute;
          font-weight: bold;
          z-index: 13000;
          bottom: 3%;
          overflow: hidden;
          background: rgba(255, 255, 255, .8);
          color: black;
          padding: 5px 10px;
          width: 100%;
        }
        img {
          height: inherit;
        }
        .btn-view-all {
          @include borderLine(rgba($theme-black, .2));
          color: $theme-ash;
          &:hover {
            background: $theme-black;
            color: $theme-white;
            border: none;
          }
        }
      }
      .item {
        @include borderLine(rgba($theme-black, .2));
        border-radius: 10px;
        padding: 4px;
        img {
          border-radius: 10px;
          object-fit: cover;
          object-position: top;
          width: 100%;
          height: 200px;
        }
      }
      .v-s {
        float: right;
        padding: 3px 6px 0;
      }
    }
    .card {
      border-radius: 0;
    }
    .collapse {
      @include borderLine(rgba($theme-black, .2));
    }
    .card-header {
      padding: 11px;
      background: #999595;
      color: $theme-white;
      border-radius: 0;
      cursor: pointer;
      h5 {
        font-size: 13px;
        font-weight: lighter;
      }
    }
    .card-body {
      background: #efefef;
    }
    .measure-helper {
      @include transition(500ms);
      text-align: center;
      margin: 0 0 5px;
      border-left: 1px solid rgba($theme-black, .2);
      padding: 0;
      &.fixedM {
        //position: fixed;
      }
      a:hover {
        color: $theme-gold;
      }
      .teach-me-video {
        width: 80px;
        height: 50px;
        display: block;
        text-align: center;
        background: #111;
        color: white;
        font-size: 12px;
        margin: 2px auto 2px;
        padding-top: 7px;
      }
      .info {
        text-align: center;
      }
      .measureVideo {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .upload-sample {
      padding-top: 10px;
      .image-upload-display {
        @include borderLine(rgba($theme-black, .2));
        width: 250px;
        height: 250px;
        margin-left: 25%;
        img {
          width: inherit;
          object-fit: contain;
          height: inherit;
        }
      }
    }
    .uploader {
      border-radius: 2px;
      margin-bottom: 0 !important;
      padding: 5% 25%;
      .sample-artwork {
        padding: 16px;
      }
      span {
        font-size: 13px;
      }
      .hide-display {
        padding: 5px 15px 5px 10px;
        margin-top: 1em;
        background: $theme-ash;
        color: $theme-black;
        font-weight: lighter;
        @include borderLine(rgba($theme-black, .2));
        border-radius: 4px;
        img {
          width: 30px;
          margin: 0 5px 0;
          vertical-align: middle;
        }
      }
    }

    .btn {
      @include borderLine($theme-black);
      padding: 7px 28px;
    }
    .btn-request {
      background: $theme-black;
      color: $theme-white;
      &:hover {
        background: $theme-white;
        color: $theme-black;
      }
    }
  }
  .side-form {
    margin-right: 9%;
    h4 {
      font-size: 1em;
    }
    .measure-helper {
      margin-top: 3.4em;
      padding: 0 1px 0 0;
      text-align: center;
    }
  }
}

/**Overrule the bootstrap modal border radius*/
.modal-content {
  border-radius: 0 !important;
  border: none !important;
}

.spaceTop {
  margin-top: 5em;
}

/**No account activation page**/
.noActivation {
  width: 50%;
  margin: 5px auto 10px;
  @include borderLine(rgba($theme-black, .2));
  height: auto;
  padding: 10px;
  @include transition(0.5s);
  .img-holder {
    display: flex;
    justify-content: space-around;
    align-content: center;
    max-width: 250px;
    margin: 10px auto;
    transform: rotate(-10deg);
    animation: fadeInDown .3s;
    .inner-img {
      height: 100px;
    }
    &:before, &:after {
      z-index: -1;
      position: absolute;
      content: "";
      bottom: 15px;
      left: 10px;
      width: 50%;
      top: 80%;
      max-width: 300px;
      -webkit-box-shadow: 0 15px 10px #777;
      -moz-box-shadow: 0 15px 10px #777;
      box-shadow: 0 15px 10px #777;
      -webkit-transform: rotate(-3deg);
      -moz-transform: rotate(-3deg);
      -o-transform: rotate(-3deg);
      -ms-transform: rotate(-3deg);
      transform: rotate(-3deg);
    }
    &:after {
      -webkit-transform: rotate(3deg);
      -moz-transform: rotate(3deg);
      -o-transform: rotate(3deg);
      -ms-transform: rotate(3deg);
      transform: rotate(3deg);
      right: 10px;
      left: auto;
    }
  }
  .message {
    position: relative;
    display: block;
    padding: 2em 0 5px;
    span {
      text-align: center;
      font-size: 1.2em;
      color: $theme-inspection;
    }
    .other {
      text-align: center;
      padding: 5px 0 9px;
      font-weight: bold;
      margin-bottom: 2em;
      color: $theme-gold;
      &:after {
        width: 100px;
        height: 1px;
        left: 30%;
        right: 0;
        top: 51%;
        vertical-align: top;
        position: absolute;
        content: '';
        border: 1px solid $theme-gold;
      }
      &:before {
        width: 100px;
        height: 1px;
        left: 55%;
        right: 0;
        top: 51%;
        vertical-align: top;
        position: absolute;
        content: '';
        border: 1px solid $theme-gold;
      }
      span {
        vertical-align: top;
      }
    }
    .btn {
      border-radius: 0;
      display: block;
    }
    .btn-request {
      background: $theme-inspection;
      color: $theme-white;
    }
  }
}

/* Feedback Page styling */
.feedback {
  width: 100%;
  height: auto;
  border: 1px;
  position: relative;
  @include transition(0.5s);
  h3 {
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 16px;
    color: $theme-black;
    font-weight: lighter;
  }
  .inner-feedback {
    width: 80%;
    box-shadow: 0 0 3px 1px darkgrey;
    margin: 15px auto 15px;
    //overflow: hidden;
    .side-contact {
      width: 50%;
      height: 100%;
      float: left;
      background: url("../../../public/img/gallery1.jpg") center no-repeat;
      background-size: cover;
      .content {
        position: relative;
        color: $theme-white;
        margin: 6em 0 0 5em;
        padding: 5px;
        font-size: 1em;
        font-weight: lighter;
        .icon-holder {
          padding: 15px;
          width: 20px;
          height: 20px;
          border-radius: 100%;
          //background: $theme-black;
          //display: inline-block;
          color: $theme-white;
          @include borderLine($theme-black);
        }
        .info {
          margin-left: 10px;
          margin-bottom: 20px;
          h4 {
            margin-bottom: 0;
            font-size: 12px;
          }
        }
      }
    }
    .contact-form {
      width: 50%;
      display: inline-block;
      padding: 10px;
      .feedback-form {
        padding: 10px 2px 4px;
        .form-control {
          border-radius: 0;
          padding: .7em 2em;
          text-align: center;
          @include borderLine(rgba($theme-black, .3));
        }
        .btn {
          padding: .5em 2.4em;
          border-width: 0;
          border-bottom-color: $theme-gold;
          outline: none;
          border-bottom-width: 3px;
          &:hover {
            @include transition(0.5s);
            border-bottom-color: $theme-black;
          }
        }
        .btn-send-message {
          background: $theme-black;
          color: $theme-white;
        }
      }
    }
  }
}

.stepwizard-step p {
  margin-top: 0px;
  color: #666;
}

.stepwizard-row {
  display: table-row;
}

.stepwizard {
  display: table;
  width: 100%;
  position: relative;
}

.stepwizard-step button[disabled] {
  /*opacity: 1 !important;
  filter: alpha(opacity=100) !important;*/
}

.stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
  opacity: 1 !important;
  color: #bbb;
}

.stepwizard-row:before {
  display: none;
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-index: 0;
}

.stepwizard-step {
  //display: table-cell;
  text-align: center;
  position: relative;
  display: none;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.cont-overlay {
  background: $theme-black;
  opacity: .8;
  position: absolute;
  width: 40%;
  height: inherit;
}

/**End of Inspection**/

/**Overwrite sweet Alert* & notifier**/
.notifyjs-corner {
  z-index: 99999 !important;
  font-weight: 400 !important;
  @include animationSlide(slideInRight, .3s);
}

.swal-overlay--show-modal {
  .swal-modal {
    //@include animationSlide(slideInDown, .3s);
  }
}

.swal-modal {
  border-radius: 0;
  width: 450px;
}

.swal-icon {
  width: 65px;
  height: 65px;
  margin: 10px auto;
  border-width: 2px;
}

.swal-title {
  font-weight: 400 !important;
  font-size: 18px !important;
}

.swal-icon--error__line--right {
  right: 11px;
}

.swal-icon--error__line--left {
  left: 10px;
}

.swal-icon--success__line--long {
  right: -7px;
  top: 38px;
}

.swal-icon--warning__body {
  height: 35px;
  width: 3px;
}

.swal-icon--error__line {
  height: 2px;
  top: 32px;
}

.swal-icon--warning__dot {
  margin-left: -2px;
  width: 5px;
  height: 5px;
  bottom: -9px;
}

.swal-button-container {
  margin: 0 5px;
}

.swal-button--cancel {
  background: #CCC5B9 !important;
  color: $theme-white;
  &:focus {
    @include noBoxShadow(none);
  }
}

.swal-button--confirm {
  background-color: $theme-gold !important;
}

.swal-button {
  border-radius: 0;
  padding: .7em 2.7em;
  //font-weight: lighter;
  &:focus {
    @include noBoxShadow(none);
  }
  &:hover {
    font-weight: bold;
  }
}

/**No Product Styling**/
.no-product {
  padding: 25px;
  text-align: center;
  span {
    font-size: 2em;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #333;
    margin-bottom: 5px;
  }
  .no-result-body {
    line-height: 25px;
    color: #999;
    h4 {
      font-size: 1em;
      font-style: italic;
      a {
        color: $theme-gold;
      }
    }
  }
}

@keyframes pulser {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

.pulser {
  animation-name: pulser;
  animation-iteration-count: 4;
  animation-delay: 0.7s;
  animation-duration: 1s;
  //@include transition(0.5s);
  transition: all 0.5s ease-in-out;
}

@media(min-width: 1200px) {
  .productCarousel {
    .carousel-control-prev {
      justify-content: unset;
      left: -20px;
      width: 0.1px;
      opacity: 0.7;
    }
    .carousel-control-next {
      right: -19px;
      width: 0.1px;
    }
  }
}

@media (max-width: 768px) {
  .card-body {
    padding: 0;
  }
  .search-form {
    position: relative;
    list-style: none;
  }
  .tag-div {
    position: absolute;
    z-index: 2;
    margin-top: 40px;
    //.event-tag {
    //}
  }
  #icon-top {
    bottom: 10px;
    right: 14px;
    width: 50px;
    height: 50px;
    border-radius: 0;
  }
  .discount {
    padding-left: 14px;
  }
  .label-wait {
    font-size: 16px !important;
  }
  footer {
    .learn36 {
      margin-top: -4em;
    }
  }
  .cartTotal {
    padding: 0 0 10px;
    .total {
      color: $theme-gold;
    }
  }
  .cartCheck {
    padding: 0;
    .btn {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
  }
  .product-custom-alert {
    background: $theme-inspection;
    @include borderLine(rgba($theme-inspection, .1));
    padding: 1px;
    border-radius: 2px;
    margin: 1px;
    span {
      font-size: .9em;
      color: $theme-white;
      text-shadow: $theme-black 0 1.3px 6px;
      line-height: 25px;
    }
  }

  /**Request Activation Link Page**/
  .noActivation {
    width: 90%;
    @include transition(0.5s);

    .message {
      position: relative;
      display: block;
      padding: 2em 0 5px;
      .other {
        &:after {
          width: 100px;
          left: 57%;
          right: 0;
          top: 58%;
        }
        &:before {
          width: 100px;
          left: 10%;
          right: 0;
          top: 58%;
        }
      }
    }
  }
  #checkout_form fieldset:not(:first-of-type) {
    display: none;
  }
  .checkout-page {
    .noOption {
      span {
        float: right;
        padding-right: 20px;
      }
    }
  }

  .payment-details {
    .inner-payment {
      @include transition(0.5s);
      .col-th-3 {
        width: 100%;
        float: none;
        padding-left: 2.5em;
        .img_style {
          width: 200px;
          height: 100%;
          background-size: contain;
          background: no-repeat center;
          vertical-align: middle;
        }
      }
      .col-th-5 {
        width: 100%;
        display: inline-block;
        .content {
          vertical-align: middle;
          text-align: center;
          padding: 10px;
          h3 {
            font-size: 1.5em;
            color: $theme-gold;
            font-weight: bold;
            text-align: center;
          }
          span {
            color: $theme-black;
            font-size: 1.1em;
            line-height: 25px;
          }
          .shopBack {
            margin-top: 2em;
          }
          .btn {
            padding: .4em .8em;
            outline: none;
            border-radius: 3px;
            position: relative;
            border-width: 0;
            border-bottom-width: 3px;
          }
          .btn-shopBack {
            border-color: $theme-deepgold;
            background: $theme-gold;
            color: $theme-white;
            &:hover {
              @include transition(0.5s);
              border-color: $theme-gold;
            }
          }
        }
      }
      ul {
        list-style: none;
        margin: 0;
      }
      li {
        span {
          color: $theme-black;
        }
        display: block;
        font-size: 1em;
        font-weight: 400;
        position: relative;
        padding: 2px;
        color: $theme-gold;
      }
      .icon {
        vertical-align: middle;
        color: $theme-gold;
      }
      h3 {
        font-size: 1.4em;
        color: $theme-gold;
        text-align: center;
      }
      span {
        line-height: 34px;
        font-size: 1em;
      }
      .important-message {
        padding-top: 15px;
        line-height: 34px;
      }
    }
  }

  .paymentOption {
    padding: 10px;
    border-bottom: 1px solid rgba($theme-gold, .2);
    ul {
      list-style: none;
      margin: 0;
      padding-left: 0;
    }
    li {
      display: block;
      padding: 12px 5px 2px 2px;
    }
    .innerList {
      padding: 2px 10px 0 25px;
      font-size: .9em;
      color: $theme-gold;
    }
    .fa {
      display: inline;
      padding: 0 6px 0 3px;
      color: $theme-gold;
    }
  }

  .correct-cart {
    padding: 15px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin: auto;
    span {
      text-align: center;
      font-weight: bold;
      color: $theme-gold;
      align-items: center;
      flex: 1;
      text-transform: uppercase;
    }
  }

  .custom-img {
    height: 350px;
    border-radius: 4px;
    .measure-img {
      height: 345px;
      width: 100%;
      background-size: contain;
      padding: 2px;
      background-repeat: no-repeat;
      outline-offset: 0;
    }
    small {
      color: $theme-inspection;

    }
  }

  .label-measure {
    font-size: 14px;
    margin-bottom: 0;
    color: $theme-inspection;
    padding: 0 0 0 0;
  }

  .measureForm {
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 4px;
    border-radius: 3px;
  }

  .mobile {
    width: 25%;
    margin: 9px 0 0 15px;
  }

  .product-rev {
    margin-top: 45px;
  }

  .setup-content {
    .form-control {
      border-radius: 0;
      box-shadow: none;

    }
    ul {
      list-style: none;
      margin: 6px -16px 20px;
    }
    li {
      display: block;
      line-height: 25px;
      color: #444;
      &:nth-child(1) {
        font-weight: bold;
        color: #111;
      }
    }
  }

  .cart-check-price {
    margin-top: 10px;
    padding: 2px 0 0 0;
    hr {
      margin-bottom: 5px !important;
      width: auto;
      margin-top: 16px;
      border: 0;
      border-top: 1px solid rgba($theme-black, .1);
    }
    .shipping-row {
      display: flex;
      align-items: flex-end;
      font-size: 1.2em;
      .sub-title {
        word-wrap: break-word;
        flex: 1;
        font-weight: bold;
      }
      .total-price {
        width: 45%;
        text-align: right;
        font-weight: bolder;
        color: $theme-gold;

      }
    }
  }

  .check-price {
    margin-top: 10px;
    padding: 10px 0 0 0;
    hr {
      margin-bottom: 5px !important;
      width: auto;
      margin-top: 16px;
      border: 0;
      border-top: 1px solid rgba($theme-black, .1);
    }
    .sub-total-row {
      display: flex;
      align-items: flex-end;
      .sub-title {
        word-wrap: break-word;
        flex: 1;
      }
      .sub-price {
        width: 45%;
        text-align: right;
        color: #111;
      }
    }
    .shipping-row {
      // @extend .sub-total-row;
      padding-top: 10px;
      .ship-price {
        //@extend .sub-price;
        color: $theme-gold;
        font-weight: bold;
      }
      .total-price {
        //@extend .ship-price;
        font-size: 1.1em;
      }
    }
    .cart-img {
      width: 100px;
      height: 100px;
      background: no-repeat center;
      background-size: contain;
      margin-bottom: 3px;
    }
  }

  /**Mobile Nav Styles on mobile*/
  .mobileNav {
    img {
      width: 20px;
      height: 20px;
      background-size: contain;
    }
    ul {
      list-style: none;
      overflow: hidden;
      margin-bottom: 0;
    }
    li {
      float: left;
      margin: 10px 4px 0;
    }
    .profileDrop {
      display: none;
      position: absolute;
      background: $theme-white;
      max-width: 200px;
      z-index: 9999;
      top: 50px;
      right: -15px;
      ul {
        list-style: none;
        padding-left: 0;
      }
      li {
        color: $theme-black !important;
        float: none;
        display: block;
        padding: 0 6px 7px;
        border-bottom: 1px solid rgba($theme-gold, .2);
      }
    }
  }

  .otherLinks {
    margin-top: 2px;
    margin-bottom: 0;
    ul {
      list-style: none;
      padding-left: 15px;
    }
    li {
      float: left;
      color: $theme-gold;
    }
  }

  .sideMenuCont {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    .cart-sup {
      top: -7px;
      left: 10px;
    }
    .sideMenu {
      clear: both;
      display: none;
      min-height: 0;
      transition: max-height .2s ease-out;
      height: 100%;
      position: absolute;
      z-index: 1100;
      top: 99%;
      left: -15px;
      background: $theme-white;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        text-align: center;
      }
      li a {
        display: block;
        padding: 10px 20px;
        font-size: 14px;
        background: $theme-inspection;
        text-transform: uppercase;
        color: $theme-white;
        border-bottom: 1px solid rgba($theme-gold, .2);
        text-decoration: none;
        &:hover {
          color: #f4f4f4;
        }
      }
    }
    .menu-icon {
      cursor: pointer;
      display: inline-block;
      padding: 15px 0;
      position: relative;
      user-select: none;
      .navicon {
        background: $theme-black;
        color: $theme-white;
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 22px;
        &::before,
        &::after {
          background: $theme-black;
          content: '';
          display: block;
          height: 100%;
          position: absolute;
          transition: all .2s ease-out;
          width: 100%;
          top: 7px;
        }
        &::after {
          top: -8px;
        }
      }
    }

    .menu-btn {
      display: none;
      &:hover {
        background-color: #f4f3f4;
      }
      &:checked {
        ~ .sideMenu {
          height: 500px;
          width: 230px;
          display: block;
          //position: fixed;
          @include transition(0.5s);
          animation: slideInLeft .5s;
        }
        ~ .menu-icon {
          z-index: 9999;
          .navicon {
            background: transparent;
            &::before {
              transform: rotate(-45deg);
            }
            &::after {
              transform: rotate(45deg);
              //top: 0;
            }
          }
          &:not(.steps) {
            .navicon {
              &::before,
              &::after {
                top: 0;
              }
            }
          }
        }
      }
      &:not(:checked) {
        ~ .menu {
          animation: slideOutLeft .5s;
        }
      }
    }

  }

  /*Comment Review on Product details*/

  .nameProd {
    padding: 1px;
    .prodName1 {
      a {
        color: $theme-black !important;
      }
    }
    .prodDesc {
      h3 {
        color: #999 !important;
      }
    }
  }
}