@mixin quick-register() {
  margin-top: .5em;
  overflow: hidden;
  ul {
    list-style: none;
    margin: 0 auto;
    width: 100%;
  }
  li a {
    margin-left: 4px;
    background-position: 25px 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    height: 40px;
    float: left;
    line-height: 40px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    border-radius: 3px;
    outline: rgb(255, 255, 255) none 0;
    padding-left: 10%;
    transition: all 0.2s cubic-bezier(0.72, 0.01, 0.56, 1) 0s;
    @include transition(.3s);
  }
  #facebook-connect {
    background: $facebook url('../images/fb-white.svg') no-repeat scroll 0 0px/30px 40px padding-box border-box;
    //padding-left: 10px;
    &:hover {
      background: $theme-white url('../images/fb-main.svg') no-repeat scroll 0 0px/30px 40px padding-box border-box;
      @include transition(.8s);
      @include borderLine($facebook);
    }
    span {
      box-sizing: border-box;
      color: $theme-white;
      cursor: pointer;
      padding-right: 14px;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
      border: 0 none rgb(255, 255, 255);
      outline: rgb(255, 255, 255) none 0;
      @include transition(.3s);
    }
    &:hover span {
      color: $facebook;
      @include transition(.3s);
    }
  }

  #google-connect {
    background: $googlePlus url('../images/google-plus-white.png') no-repeat scroll 0 0px/35px 40px padding-box border-box;
    &:hover {
      background: $theme-white url('../images/google-plus.png') no-repeat scroll 0 0px/35px 40px padding-box border-box;
      @include borderLine($googlePlus);
      @include transition(0.3s);
    }
    span {
      box-sizing: border-box;
      color: $theme-white;
      cursor: pointer;
      padding-right: 14px;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
      border: 0 none rgb(220, 74, 61);
      outline: rgb(255, 255, 255) none 0;
      @include transition(0.4s);
    }
    &:hover {
      span {
        color: $googlePlus;
        @include transition(0.4s);
      }
    }
  }

  #twitter-connect {
    background: $twitter url('../images/twitter-white.png') no-repeat scroll 0 3px/35px 35px padding-box border-box;
    border: 1px solid rgb(85, 172, 238);
    &:hover {
      border-color: rgb(85, 172, 238);
      background: $theme-white url('../images/twitter.png') no-repeat scroll 0 3px/35px 35px padding-box border-box;
      @include transition(0.3s);
    }
    span {
      box-sizing: border-box;
      color: $theme-white;
      font-weight: 500;
      cursor: pointer;
      padding-right: 14px;
      text-align: center;
      text-transform: uppercase;
      border: 0 none rgb(220, 74, 61);
      outline: rgb(255, 255, 255) none 0;
      @include transition(0.3s);
    }
    &:hover span {
      color: $twitter;
      @include transition(0.3s);
    }
  }
}

@mixin formControlOverRule() {
  input, textarea {
    &:-webkit-autofill {
      background-color: transparent !important;
    }
  }

  .label-action {
    color: #999999;
    font-size: .9em;
    font-weight: 400;
    /*margin-top: 25px;
    position: absolute;
    opacity: 1;
    transition: .2s bottom, .2s opacity;
    //bottom: 0;
    //left: 0;
    z-index: 1;*/
  }
  .form-control {
    border-radius: 0;
    @include noBoxShadow(none);
    padding: 1.5em 1em;
    border: none;
    border-bottom: 1px solid rgba($theme-gold, .4);
    background: $theme-white;
    top: 0;
    position: relative;
    left: 0;
    z-index: 3;
    font-weight: 500;
    &:focus {
      //background-color: sandybrown;
    }

    /*&:focus, &:valid {
      @include noBoxShadow(none);
      background-color: transparent !important;
      //background: rgba($theme-gold, .8);
      outline: none;
      + .label-action {
        //bottom: 95%;
        margin-top: -17px;
        font-size: 14px;
        line-height: 1;
        opacity: 1;
        padding: 4px;
      }
    }
    &:invalid {
      border-left: 10px solid #f00;
      + .label-action {
        &::after {
          color: #f00;
          content: "X";
          font-size: 14px;
          line-height: 1;
          padding-left: 12px;
        }
      }
    }*/
  }
}

@mixin modalOverRule() {
  .modal {
    z-index: 9999 !important;
  }
  .modal-dialog {
    margin-top: 5.5em !important;
  }
  //.modal-content {
  //  border-radius: 0;
  //}
}
