// The theme colors is present here

$theme-gold: #cd9933;
$theme-white: #ffffff;
$theme-black: rgb(0,0,0);
$theme-completed: #468847;
$theme-pending: #f89406;
$theme-rejected: rgb(200,30,40);
$theme-processing: #3a87ad;
$theme-inspection: #333333;
$theme-deepgold: #5d3306;
$theme-ash: #ccc;
$theme-offwhite: #f7f7f7;
$theme-red: rgb(252, 5, 21);
$shadowBlack: rgba(0,0,0,.4);

//Theme color for social media
$facebook: #3b5999;
$twitter: #55acee;
$googlePlus: #dd4b39;
$instagram: #e4405f;
$snapChat: #FFFC00;
$whatsapp: #25D366;
$yahoo: #410093;